Repository dependabot/dependabot-core, pull requests merged in 2019-11, with the labels that each got.

#1481 Gradle: Skip name property if already present
  gradle/lib/dependabot/gradle/file_parser/property_value_finder.rb
  gradle/spec/dependabot/gradle/file_parser/property_value_finder_spec.rb
  gradle/spec/fixtures/buildfiles/duplicate_property_name.gradle
Labels: java:gradle

#1501 Fix Gitlab api types to match GitHub
  common/lib/dependabot/file_fetchers/base.rb
Labels: bug, gitlab

#1509 Support mix of docker tags for the same image
  docker/lib/dependabot/docker/file_updater.rb
  docker/spec/dependabot/docker/file_updater_spec.rb
  docker/spec/fixtures/docker/dockerfiles/multi_stage_different_tags
Labels: docker, enhancement

#1526 Pull request: Add pull request message header support
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/message_builder.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
Labels: enhancement
