Repository dependabot/dependabot-core, pull requests merged in 2022-09, with the labels that each got.

#5734 Allow updating Java images with "update releases"
  docker/lib/dependabot/docker/update_checker.rb
  docker/lib/dependabot/docker/version.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/registry_tags/eclipse-temurin.json
Labels: L: docker

#5735 Fix multiple Python requirements separated by whitespace
  python/lib/dependabot/python/requirement.rb
  python/spec/dependabot/python/requirement_spec.rb
Labels: L: python:poetry

#4059 bundler: optimize gemfile parsing
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/file_parser/gemfile_declaration_finder.rb
  bundler/spec/dependabot/bundler/file_parser/gemfile_declaration_finder_spec.rb
Labels: L: ruby:bundler
