Repository dependabot/dependabot-core, pull requests merged in 2023-06, with the labels that each got.

#7358 Ensure updated dependencies are correctly included when building dependency change instance
  updater/lib/dependabot/dependency_change_builder.rb
Labels: deploy-before-merging

#7365 [Grouped Updates] Generate deterministic branch names based on content
  common/lib/dependabot/pull_request_creator/branch_namer/dependency_group_strategy.rb
  common/spec/dependabot/pull_request_creator/branch_namer/dependency_group_strategy_spec.rb
Labels: deploy-before-merging

#7400 Allow parsing symbols, time and date values in workflow yaml
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/spec/fixtures/workflow_files/workflow.yml
Labels: L: github:actions

#7412 Target latest Python versions - 3.11.4, 3.10.12, 3.9.17, 3.8.17, 3.7.17
  python/Dockerfile
  python/helpers/build
  python/lib/dependabot/python/python_versions.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
Labels: L: python

#7402 exclude patterns for grouped updates
  common/lib/dependabot/dependency_group.rb
  common/spec/dependabot/dependency_group_spec.rb
  updater/lib/dependabot/job.rb
  updater/spec/dependabot/dependency_group_engine_spec.rb
  updater/spec/fixtures/jobs/job_with_dependency_groups.json
Labels: F: grouped-updates 🎳, grouped-updates-beta, deploy-before-merging

#7401 Add a newline after the group intro
  common/lib/dependabot/pull_request_creator/message_builder.rb
Labels: F: grouped-updates 🎳, grouped-updates-beta, deploy-before-merging

#7442 Use ruby:3.1.4-bullseye
  Dockerfile.updater-core
Labels: T: bug 🐞, build 🛠

#7410 Fix edge case when updating Actions with mixed versions
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
Labels: L: github:actions

#7354 [Updater] Extract creation of new group Pull Requests into a discrete class
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/updater/operations/create_group_update_pull_request.rb
  updater/lib/dependabot/updater/operations/group_update_all_versions.rb
  updater/lib/dependabot/updater/operations/refresh_group_update_pull_request.rb
  updater/spec/dependabot/updater/operations/group_update_all_versions_spec.rb
  updater/spec/dependabot/updater_spec.rb
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_with_existing_pr.yaml
Labels: deploy-before-merging

#7359 [Updater] Avoid mis-representing a Dependency Group as a Dependency in error handling
  updater/lib/dependabot/service.rb
  updater/lib/dependabot/updater.rb
  updater/lib/dependabot/updater/error_handler.rb
  updater/lib/dependabot/updater/errors.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_group_update_pull_request.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_group_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/spec/dependabot/service_spec.rb
  updater/spec/dependabot/updater/error_handler_spec.rb
  updater/spec/dependabot/updater/operations/group_update_all_versions_spec.rb
  updater/spec/dependabot/updater/operations/refresh_group_update_pull_request_spec.rb
Labels: deploy-before-merging

#7439 build(deps): bump Terraform to 1.5.0
  terraform/Dockerfile
Labels: L: terraform

#7453 Remove pnpm experiment flag
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: javascript

#7417 Roll pub. Use dart 3 for running helpers.
  pub/Dockerfile
  pub/helpers/pubspec.lock
  pub/helpers/pubspec.yaml
  pub/spec/dependabot/pub/update_checker_spec.rb
Labels: L: dart:pub

#7296 Remove `persistent_gems_after_clean` workaround
  bundler/helpers/v1/lib/functions/lockfile_updater.rb
  bundler/helpers/v2/lib/functions/lockfile_updater.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/fixtures/projects/bundler1/vendored_persistent_gems/Gemfile
  bundler/spec/fixtures/projects/bundler1/vendored_persistent_gems/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/vendored_persistent_gems/config/bundler_persistent_gems.rb
  bundler/spec/fixtures/projects/bundler1/vendored_persistent_gems/vendor/cache/business-1.4.0.gem
  bundler/spec/fixtures/projects/bundler1/vendored_persistent_gems/vendor/cache/statesman-1.2.1.gem
  bundler/spec/fixtures/projects/bundler2/vendored_persistent_gems/Gemfile
  bundler/spec/fixtures/projects/bundler2/vendored_persistent_gems/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/vendored_persistent_gems/config/bundler_persistent_gems.rb
  bundler/spec/fixtures/projects/bundler2/vendored_persistent_gems/vendor/cache/business-1.4.0.gem
  bundler/spec/fixtures/projects/bundler2/vendored_persistent_gems/vendor/cache/statesman-1.2.1.gem
Labels: L: ruby:bundler

#7407 Add `DEPENDABOT` environment variable for users
  Dockerfile.updater-core
  README.md
Labels: T: feature-improvement

#7456 Add missing final EOL
  bundler/spec/fixtures/projects/bundler1/includes_require_relative_gemfile/some_other_file.rb
  bundler/spec/fixtures/projects/bundler1/includes_require_relative_nested/nested/some_other_file.rb
  bundler/spec/fixtures/projects/bundler2/includes_require_relative_gemfile/some_other_file.rb
  bundler/spec/fixtures/projects/bundler2/includes_require_relative_nested/nested/some_other_file.rb
Labels: L: ruby:bundler

#7455 Remove duplicated ENV
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7462 Fix actions updates when inconsistent casing is used
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/fixtures/workflow_files/inconsistent_case.yml
Labels: L: github:actions

#7472 Update ecosystem READMEs with recommended setup
  bundler/README.md
  cargo/README.md
  composer/README.md
  docker/README.md
  elm/README.md
  git_submodules/README.md
  github_actions/README.md
  go_modules/README.md
  gradle/README.md
  hex/README.md
  maven/README.md
  npm_and_yarn/README.md
  nuget/README.md
  pub/README.md
  python/README.md
  terraform/README.md
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python

#7468 NPM: fix GitHub registry not working when path is specified
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
Labels: L: javascript

#7086 Add support for Directory.Packages.props file as entrypoint
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/fixtures/github/contents_dotnet_directory_packages_props.json
  nuget/spec/fixtures/github/contents_dotnet_repo_directory_packages_props.json
  nuget/spec/fixtures/github/contents_dotnet_repo_with_sln_and_directory_packages_props.json
Labels: L: dotnet:nuget

#7493 build(deps): bump Terraform from 1.5.0 to 1.5.2
  terraform/Dockerfile
Labels: L: terraform
