Repository dependabot/dependabot-core, pull requests merged in 2023-07, with the labels that each got.

#7532 Update the `hex.pm/orgs/dependabot` token
  hex/spec/dependabot/hex/update_checker_spec.rb
Labels: L: elixir:hex

#7533 Stop exposing real account tokens in plaintext
  composer/spec/dependabot/composer/file_updater/lockfile_updater_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  hex/spec/dependabot/hex/update_checker_spec.rb
Labels: L: php:composer, L: elixir:hex, EE

#7517 Switch to using the new `record_ecosystem_versions` endpoint.
  bin/dry-run.rb
  bundler/lib/dependabot/bundler/file_fetcher.rb
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  common/lib/dependabot/file_fetchers/base.rb
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  go_modules/spec/dependabot/go_modules/file_fetcher_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  updater/lib/dependabot/api_client.rb
  updater/lib/dependabot/file_fetcher_command.rb
  updater/lib/dependabot/service.rb
  updater/spec/dependabot/api_client_spec.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/integration_spec.rb
  updater/spec/dependabot/service_spec.rb
Labels: L: ruby:bundler, L: go:modules, L: rust:cargo, L: javascript

#7329 buid(deps): bump Yarn from 3.5.0 to 3.6.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7505 build(deps): bump REGCTL from 0.4.8 to 0.5.0
  docker/Dockerfile
Labels: L: docker

#7502 Detect interpolation in terragrunt sources and skip if present
  terraform/lib/dependabot/terraform/file_parser.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: terraform

#7306 Stub registry request that's not captured by a VCR
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: terraform

#7582 Only add `"v"` prefix for the helper path
  composer/lib/dependabot/composer/helpers.rb
  composer/lib/dependabot/composer/native_helpers.rb
  composer/spec/dependabot/composer/helpers_spec.rb
Labels: L: php:composer, EE

#7561 ignore peer dependencies that are in a grouped update group
  common/lib/dependabot/update_checkers/base.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  updater/lib/dependabot/updater/group_update_creation.rb
Labels: L: javascript

#7348 Upgrade Node.js to active LTS version (18.x)
  npm_and_yarn/Dockerfile
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
Labels: L: javascript

#7578 Update docker_registry2
  common/dependabot-common.gemspec
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  updater/Gemfile.lock
  updater/spec/fixtures/vcr_cassettes/Dependabot_Updater_Operations_GroupUpdateAllVersions/when_the_snapshot_is_updating_several_peer_manifests/creates_a_DependencyChange_for_both_of_the_manifests_without_reporting_errors.yml
Labels: L: docker

#7601 Revert "Update docker_registry2"
  common/dependabot-common.gemspec
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  updater/Gemfile.lock
  updater/spec/fixtures/vcr_cassettes/Dependabot_Updater_Operations_GroupUpdateAllVersions/when_the_snapshot_is_updating_several_peer_manifests/creates_a_DependencyChange_for_both_of_the_manifests_without_reporting_errors.yml
Labels: L: docker

#7146 feat(maven): use `groupId` and `artifactId` for the dependency name
  maven/lib/dependabot/maven.rb
  maven/spec/dependabot/maven_spec.rb
Labels: L: java:maven

#7616 Rename `python_version` -> `python_version_file` for clarity
  python/lib/dependabot/python/file_fetcher.rb
Labels: L: python, Ecosystems

#7628 Fix CI
  bundler/spec/fixtures/projects/bundler1/unavailable_gem_gemfile/Gemfile
  bundler/spec/fixtures/projects/bundler2/unavailable_gem_gemfile/Gemfile
Labels: L: ruby:bundler

#7621 fix Gemfile not updating for peer dependencies
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  bundler/spec/fixtures/projects/bundler1/top_level_update/Gemfile
  bundler/spec/fixtures/projects/bundler1/top_level_update/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/top_level_update/Gemfile
  bundler/spec/fixtures/projects/bundler2/top_level_update/Gemfile.lock
Labels: L: ruby:bundler

#7611 Delete leftover build script
  python/Dockerfile
  python/README.md
  python/helpers/build
  python/helpers/build_for_version
Labels: L: python

#7609 Point at the correct `Dockerfile` for python
  python/README.md
Labels: L: python, Ecosystems

#7617 Instrument Python version metric
  python/lib/dependabot/python/file_fetcher.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
Labels: L: python, Ecosystems

#7506 build(deps): bump PNPM to 8.6.7
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7637 Fix parsing swift ranges with spaces
  swift/lib/dependabot/swift/native_requirement.rb
  swift/spec/dependabot/swift/file_parser_spec.rb
  swift/spec/fixtures/projects/Example/Package.swift
Labels: L: swift

#7636 Fix typo
  bundler/lib/dependabot/bundler/helpers.rb
Labels: L: ruby:bundler

#7246 Revert sanitization of package name
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm6/invalid_name/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm6/invalid_name/package.json
  npm_and_yarn/spec/fixtures/projects/npm8/invalid_name/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm8/invalid_name/package.json
Labels: L: javascript

#7638 Implement security update support for Swift
  swift/lib/dependabot/swift/file_updater/lockfile_updater.rb
  swift/lib/dependabot/swift/update_checker.rb
  swift/lib/dependabot/swift/update_checker/version_resolver.rb
  swift/spec/dependabot/swift/update_checker_spec.rb
  swift/spec/fixtures/git/upload_packs/vapor
  swift/spec/fixtures/projects/conflicts/Package.resolved
  swift/spec/fixtures/projects/conflicts/Package.swift
Labels: L: swift

#7649 cd: correctly find workspace.dependencies-declared dependencies and their Cargo.toml
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/fixtures/github/contents_cargo_manifest_workspace_excluded_dependencies_excluded.json
  cargo/spec/fixtures/github/contents_cargo_manifest_workspace_excluded_dependencies_member.json
  cargo/spec/fixtures/github/contents_cargo_manifest_workspace_excluded_dependencies_root.json
Labels: L: rust:cargo

#7660 Fix parsing packages with spaces before closing parenthesis
  swift/lib/dependabot/swift/file_parser/manifest_parser.rb
  swift/spec/dependabot/swift/file_parser_spec.rb
  swift/spec/fixtures/projects/Example-Deprecated/.build/checkouts/swift-openapi-runtime/Package.swift
  swift/spec/fixtures/projects/Example-Deprecated/.build/checkouts/swift-openapi-runtime/Sources/OpenAPIRuntime/OpenAPIRuntime.swift
  swift/spec/fixtures/projects/Example-Deprecated/.build/workspace-state.json
  swift/spec/fixtures/projects/Example-Deprecated/Package.resolved
  swift/spec/fixtures/projects/Example-Deprecated/Package.swift
Labels: L: swift

#7669 Make sure Swift lockfile updates respect ignore conditions
  swift/lib/dependabot/swift/file_updater.rb
  swift/lib/dependabot/swift/file_updater/lockfile_updater.rb
  swift/lib/dependabot/swift/update_checker/version_resolver.rb
  swift/spec/dependabot/swift/file_updater_spec.rb
Labels: L: swift

#7676 Remove manual exclusion of specific packages
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
Labels: L: php:composer

#7674 Fix some swift updates failing when `directory` is configured
  swift/lib/dependabot/swift/update_checker.rb
  swift/lib/dependabot/swift/update_checker/version_resolver.rb
  swift/spec/dependabot/swift/update_checker_spec.rb
  swift/spec/fixtures/projects/ReactiveCocoaNested/subfolder/Package.resolved
  swift/spec/fixtures/projects/ReactiveCocoaNested/subfolder/Package.swift
  swift/spec/fixtures/projects/ReactiveCocoaNested/subfolder/Sources/ReactiveCocoa/ReactiveCocoa.swift
Labels: L: swift

#7657 build(deps): bump terraform from 1.5.3 to 1.5.4
  terraform/Dockerfile
Labels: L: terraform
