Repository dependabot/dependabot-core, pull requests merged in 2023-08, with the labels that each got.

#7681 Stop checking deprecated `bugtrack_url`
  python/lib/dependabot/python/metadata_finder.rb
  python/spec/fixtures/pypi/pypi_response_pendulum.json
Labels: L: python

#7683 Fix typo in method name in Swift update checker
  swift/lib/dependabot/swift/native_requirement.rb
  swift/spec/dependabot/swift/update_checker_spec.rb
  swift/spec/fixtures/projects/ReactiveCocoa/Package.swift
Labels: L: swift

#7494 Fix Github Actions dependency parsing edge case
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/fixtures/git/upload_packs/rust-cache
  github_actions/spec/fixtures/workflow_files/pinned_branch.yml
Labels: L: github:actions

#7430 Ignore tags not matching prefix, when workflow is pinned to SHAs
  common/lib/dependabot/git_commit_checker.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  github_actions/spec/fixtures/git/upload_packs/codeql
Labels: L: github:actions

#7690 Rename `conf_files` dir to `pip_conf_files` to reduce ambiguity
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
  python/spec/dependabot/python/update_checker/latest_version_finder_spec.rb
  python/spec/fixtures/pip_conf_files/custom_index
  python/spec/fixtures/pip_conf_files/custom_index_double_at
  python/spec/fixtures/pip_conf_files/extra_index
  python/spec/fixtures/pip_conf_files/extra_index_env_variable
  python/spec/fixtures/pip_conf_files/extra_index_env_variable_basic_auth
Labels: L: python

#7691 Update `poetry` test of oldest supported python version to 3.8
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/fixtures/pyproject_files/python_38.toml
  python/spec/fixtures/pyproject_locks/python_36.lock
  python/spec/fixtures/pyproject_locks/python_38.lock
Labels: L: python

#7692 Test that unsupported Python versions raise the expected error
  python/spec/dependabot/python/update_checker_spec.rb
Labels: L: python

#7698 Delete deprecated `host-environment-markers` key
  python/spec/fixtures/lockfiles/edited.lock
  python/spec/fixtures/lockfiles/edited_array.lock
  python/spec/fixtures/lockfiles/environment_variable_source.lock
  python/spec/fixtures/lockfiles/git_source.lock
  python/spec/fixtures/lockfiles/git_source_bad_ref.lock
  python/spec/fixtures/lockfiles/git_source_unreachable.lock
  python/spec/fixtures/lockfiles/hard_names.lock
  python/spec/fixtures/lockfiles/version_hash.lock
  python/spec/fixtures/lockfiles/version_not_specified.lock
Labels: L: python

#7699 Fixup `pip_version_resolver` specs
  python/spec/dependabot/python/update_checker/pip_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
Labels: L: python

#7717 Give better error message when fixture project is missing a file
  bundler/spec/spec_helper.rb
Labels: L: ruby:bundler

#7719 Document why we pin `wheel`
  python/helpers/requirements.txt
Labels: L: python

#7706 Suppress error output when evaluating invalid Ruby during tests
  bundler/spec/dependabot/bundler/file_fetcher/child_gemfile_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/gemspec_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/path_gemspec_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/require_relative_finder_spec.rb
  bundler/spec/spec_helper.rb
Labels: L: ruby:bundler

#7411 Fix fetching files in symlinked folders
  bin/dry-run.rb
  common/lib/dependabot/dependency_file.rb
  common/lib/dependabot/file_fetchers/base.rb
  common/lib/dependabot/pull_request_creator/github.rb
  common/lib/dependabot/pull_request_updater/github.rb
Labels: T: bug 🐞

#7708 Enable `--verbose` when running specs
  bundler/script/ci-test
  composer/script/ci-test
  go_modules/script/ci-test
  hex/script/ci-test
  npm_and_yarn/script/ci-test
  python/script/ci-test
  swift/script/ci-test
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: go:modules, L: javascript, L: python, L: swift

#7738 Pin test to `legacy` resolver to force desired error message
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
  python/spec/fixtures/requirements/incompatible_versions.txt
Labels: T: tech-debt ⚙️, L:python:pip-compile, L: python, Ecosystems

#7754 build(deps): bump go from 1.20.6 to 1.20.7
  go_modules/Dockerfile
Labels: L: go:modules

#7752 build(deps): bump regclient from 0.5.0 to 0.5.1
  docker/Dockerfile
Labels: L: docker

#7739 Delete unused method `error_certainly_bad_python_version?`
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
Labels: T: tech-debt ⚙️, L:python:pip-compile, L: python, Ecosystems

#7755 build(deps): bump Yarn to 3.6.1
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7762 Remove leftover setting that no longer exists
  bundler/spec/dependabot/bundler/file_updater_spec.rb
Labels: L: ruby:bundler

#7764 Replace deprecated `pipenv lock` with `pipenv requirements`
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/spec/dependabot/python/file_updater/pipfile_file_updater_spec.rb
Labels: L: python:pipenv, L: python, Ecosystems

#7751 build(deps): bump pnpm from 8.6.7 to 8.6.12
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7658 Update docker_registry2
  common/dependabot-common.gemspec
  docker/lib/dependabot/docker/update_checker.rb
  updater/Gemfile.lock
Labels: L: docker

#7772 Unify memoization
  common/lib/dependabot/metadata_finders/base.rb
  composer/lib/dependabot/composer/file_fetcher.rb
  elm/lib/dependabot/elm/update_checker.rb
  hex/lib/dependabot/hex/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/file_updater/requirement_file_updater.rb
Labels: L: php:composer, L: elixir:hex, L: elm, L: dotnet:nuget, L: javascript, L: python

#7770 Remove duplicated line in maven file fetcher
  maven/lib/dependabot/maven/file_fetcher.rb
Labels: L: java:maven

#7773 Fix incorrect memoizations
  bundler/lib/dependabot/bundler/file_fetcher.rb
  cargo/lib/dependabot/cargo/file_fetcher.rb
  common/lib/dependabot/file_fetchers/base.rb
  common/spec/dependabot/file_fetchers/base_spec.rb
  composer/lib/dependabot/composer/file_fetcher.rb
  elm/lib/dependabot/elm/file_fetcher.rb
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
  pub/lib/dependabot/pub/file_fetcher.rb
  python/lib/dependabot/python/file_fetcher.rb
  terraform/lib/dependabot/terraform/file_fetcher.rb
Labels: L: php:composer, L: ruby:bundler, L: go:modules, L: elm, L: terraform, L: rust:cargo, L: dotnet:nuget, L: dart:pub, L: javascript, L: python

#7767 Fixing Yarn1 erroring with failed to replace env
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
Labels: L: javascript

#7774 `fetch_file_if_present` should ignore all "Not Found" errors
  common/lib/dependabot/file_fetchers/base.rb
  gradle/lib/dependabot/gradle/file_fetcher.rb
  maven/lib/dependabot/maven/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
Labels: L: java:gradle, L: dotnet:nuget, L: java:maven

#7781 Add missing `require`
  gradle/lib/dependabot/gradle/file_fetcher.rb
Labels: L: java:gradle

#7780 build(deps): bump terraform from 1.5.4 to 1.5.5
  terraform/Dockerfile
Labels: L: terraform

#7785 Simplify Bundler native helper runners
  bundler/helpers/v1/run.rb
  bundler/helpers/v2/run.rb
Labels: L: ruby:bundler

#7783 Stop coercing Pipfile source URL's to have trailing slashes
  python/lib/dependabot/python/file_updater/pipfile_preparer.rb
Labels: L: python

#7786 Fix private source authentication error message
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/fixtures/projects/bundler1/private_gem_source/Gemfile
  bundler/spec/fixtures/projects/bundler1/private_gem_source/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/private_gem_source/Gemfile
Labels: L: ruby:bundler

#7744 Add `name` key to `sources` in `Pipfile`s
  python/lib/dependabot/python/file_updater/pipfile_preparer.rb
  python/spec/dependabot/python/file_updater/pipfile_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/pipfile_preparer_spec.rb
  python/spec/fixtures/pipfile_files/arbitrary_equality
  python/spec/fixtures/pipfile_files/conflict_at_current
  python/spec/fixtures/pipfile_files/conflict_at_latest
  python/spec/fixtures/pipfile_files/environment_variable_source
  python/spec/fixtures/pipfile_files/exact_version
  python/spec/fixtures/pipfile_files/extra_subdependency
  python/spec/fixtures/pipfile_files/git_source
  python/spec/fixtures/pipfile_files/git_source_bad_ref
  python/spec/fixtures/pipfile_files/git_source_no_ref
  python/spec/fixtures/pipfile_files/git_source_unreachable
  python/spec/fixtures/pipfile_files/hard_names
  python/spec/fixtures/pipfile_files/not_in_lockfile
  python/spec/fixtures/pipfile_files/only_dev
  python/spec/fixtures/pipfile_files/path_dependency
  python/spec/fixtures/pipfile_files/path_dependency_not_self
  python/spec/fixtures/pipfile_files/private_source
  python/spec/fixtures/pipfile_files/private_source_auth
  python/spec/fixtures/pipfile_files/prod_and_dev
  python/spec/fixtures/pipfile_files/prod_and_dev_different
  python/spec/fixtures/pipfile_files/required_python
  python/spec/fixtures/pipfile_files/required_python_implicit
  python/spec/fixtures/pipfile_files/required_python_invalid
  python/spec/fixtures/pipfile_files/required_python_unsupported
  python/spec/fixtures/pipfile_files/unparseable
  python/spec/fixtures/pipfile_files/unsupported_dep
  python/spec/fixtures/pipfile_files/version_hash
  python/spec/fixtures/pipfile_files/version_not_specified
  python/spec/fixtures/pipfile_files/version_not_specified.lock
  python/spec/fixtures/pipfile_files/version_table
  python/spec/fixtures/pipfile_files/wildcard
  python/spec/fixtures/pipfile_files/with_quotes
  python/spec/fixtures/pipfile_files/yanked
Labels: L: python, Ecosystems

#7245 Refactor preparing `package.json` files
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_preparer.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
Labels: L: javascript

#7687 Restore version schema with <version> and <build_number> with words between them
  docker/lib/dependabot/docker/tag.rb
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/registry_tags/bar.json
  docker/spec/fixtures/docker/registry_tags/baz.json
  docker/spec/fixtures/docker/registry_tags/multiple-intermediate-words.json
  docker/spec/fixtures/docker/registry_tags/openjdk.json
Labels: L: docker

#7295 Fix missing cache prunes
  bundler/helpers/v2/lib/functions/lockfile_updater.rb
Labels: L: ruby:bundler

#7794 Make sure Bundler group vendoring smoke tests get actually run, and pass
  .github/workflows/smoke.yml
  bundler/helpers/v2/lib/functions/lockfile_updater.rb
Labels: L: ruby:bundler

#7812 Reduce Swift image size
  swift/Dockerfile
Labels: L: swift

#7803 Add apt lists clean up to python Dockerfile
  python/Dockerfile
Labels: L: python

#7610 Drop `python` `3.6`
  python/lib/dependabot/python/python_versions.rb
  python/spec/dependabot/python/update_checker/pip_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
Labels: L: python, Ecosystems

#7614 Remove `3.6` guard when setting `poetry config experimental.system-git-client`
  python/helpers/requirements.txt
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
Labels: L: python, Ecosystems

#7613 Stop manually installing python
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python, Ecosystems

#7716 Pin poetry to specific version
  python/helpers/requirements.txt
Labels: L: python, Ecosystems

#7711 Upgrade `pip-tools` to `7.2.0`
  python/helpers/requirements.txt
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
Labels: L: python, Ecosystems

#7826 Refactor poetry logic to parse subdependency types
  python/lib/dependabot/python/file_parser/subdependency_type_parser.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
Labels: L: python

#7714 `pip` no longer requires a range
  python/helpers/requirements.txt
Labels: L: python, Ecosystems

#7823 Update Go to 1.21
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
Labels: L: go:modules

#7831 Python 3.6 drop follow up
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
Labels: L: python

#7832 Fix yanked library problems in Poetry not detected when lockfile is present
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/fixtures/pyproject_locks/git_dependency_bad_ref.lock
  python/spec/fixtures/pyproject_locks/git_dependency_unreachable.lock
Labels: L: python

#7833 Remove code handling pyproject.lock files
  python/lib/dependabot/python/file_fetcher.rb
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/file_updater.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/pyproject_preparer_spec.rb
  python/spec/dependabot/python/file_updater_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/fixtures/poetry_locks/caret_version.lock
  python/spec/fixtures/poetry_locks/conflict_at_latest.lock
  python/spec/fixtures/poetry_locks/dir_dependency.lock
  python/spec/fixtures/poetry_locks/exact_version.lock
  python/spec/fixtures/poetry_locks/extra_dependency.lock
  python/spec/fixtures/poetry_locks/extras.lock
  python/spec/fixtures/poetry_locks/file_dependency.lock
  python/spec/fixtures/poetry_locks/git_conflict.lock
  python/spec/fixtures/poetry_locks/git_dependency.lock
  python/spec/fixtures/poetry_locks/latest_subdep_blocked.lock
  python/spec/fixtures/poetry_locks/multiple_constraint_dependency.lock
  python/spec/fixtures/poetry_locks/pdm_example.lock
  python/spec/fixtures/poetry_locks/poetry.lock
  python/spec/fixtures/poetry_locks/private_secondary_source.lock
  python/spec/fixtures/poetry_locks/python_2.lock
  python/spec/fixtures/poetry_locks/python_310.lock
  python/spec/fixtures/poetry_locks/python_38.lock
  python/spec/fixtures/poetry_locks/url_dependency.lock
  python/spec/fixtures/poetry_locks/version_not_specified.lock
  python/spec/fixtures/poetry_locks/yanked_version.lock
Labels: L: python

#7819 Support security updates for NPM with exact requirements and no lockfile
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#7821 Simplify handling all versions metadata on NPM
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#7842 Debug issues with docker prereleases
  docker/lib/dependabot/docker/update_checker.rb
Labels: L: docker

#7836 Revert "Don't depend on flake8 at runtime (#6830)"
  .github/workflows/ci.yml
  .python-version
  bin/lint
  python/helpers/requirements.txt
  python/script/ci-test
  requirements.txt
Labels: L: python

#7844 When trying to parse exact package.json versions, ignore parse errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/generic/file_version_requirements_no_lockfile/package.json
Labels: L: javascript

#7834 Add support for Poetry 1.5 lockfiles
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/file_parser/subdependency_type_parser.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/helpers.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
Labels: L: python

#7843 Simplify development images
  Dockerfile.development
  README.md
  bin/docker-dev-shell
  bundler/README.md
  cargo/README.md
  composer/README.md
  docker/README.md
  elm/README.md
  git_submodules/README.md
  github_actions/README.md
  go_modules/README.md
  gradle/README.md
  hex/README.md
  maven/README.md
  npm_and_yarn/README.md
  nuget/README.md
  pub/README.md
  python/README.md
  swift/README.md
  terraform/README.md
  updater/README.md
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift

#7858 Fix Python runtime errors when instrumenting versions
  python/lib/dependabot/python/file_fetcher.rb
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#7862 Regenerate some lockfiles with Poetry 1.5
  python/spec/fixtures/poetry_locks/dir_dependency.lock
  python/spec/fixtures/poetry_locks/git_dependency.lock
Labels: L: python:poetry, L: python

#6702 Fix Python version switched from exact to tilde version
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
Labels: L: python:poetry, L: python

#7446 Pub smallest update
  pub/helpers/build
  pub/helpers/pubspec.lock
  pub/helpers/pubspec.yaml
  pub/lib/dependabot/pub/helpers.rb
  pub/lib/dependabot/pub/requirement.rb
  pub/lib/dependabot/pub/update_checker.rb
  pub/spec/dependabot/pub/metadata_finder_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  pub/spec/fixtures/projects/can_update/pubspec.yaml
  pub/spec/fixtures/pub_dev_responses/simple/old_protobuf.json
  pub/spec/fixtures/pub_dev_responses/simple/protobuf.json
Labels: L: dart:pub

#5030 Bump underlying `ubuntu` to `22.04` LTS
  Dockerfile.updater-core
  hex/Dockerfile
  swift/Dockerfile
Labels: L: elixir:hex, L: swift, Ecosystems

#7866 Update poetry version to 1.6.1
  python/helpers/requirements.txt
  python/spec/fixtures/poetry_locks/dir_dependency.lock
  python/spec/fixtures/poetry_locks/git_dependency.lock
  python/spec/fixtures/poetry_locks/python_38.lock
Labels: L: python

#7818 Add `yamllint` to linters
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gems-bump-version.yml
  .github/workflows/gems-release-to-rubygems.yml
  .github/workflows/images-branch.yml
  .github/workflows/images-latest.yml
  .github/workflows/images-updater-core.yml
  .github/workflows/labeler.yml
  .github/workflows/smoke.yml
  .yamllint.yaml
  docker/spec/fixtures/kubernetes/yaml/bare.yaml
  docker/spec/fixtures/kubernetes/yaml/digest.yaml
  docker/spec/fixtures/kubernetes/yaml/digest_and_tag.yaml
  docker/spec/fixtures/kubernetes/yaml/hyphen.yaml
  docker/spec/fixtures/kubernetes/yaml/multiple.yaml
  docker/spec/fixtures/kubernetes/yaml/multiple_identical.yaml
  docker/spec/fixtures/kubernetes/yaml/namespace.yaml
  docker/spec/fixtures/kubernetes/yaml/non-numeric.yaml
  docker/spec/fixtures/kubernetes/yaml/pod.yaml
  docker/spec/fixtures/kubernetes/yaml/private_digest.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/broken_lockfile/pnpm-lock.yaml
  pub/helpers/pubspec.yaml
  pub/spec/dependabot/pub/file_parser_spec.rb
  pub/spec/fixtures/projects/broken_pubspec/pubspec.yaml
  pub/spec/fixtures/projects/constraints/pubspec.yaml
  pub/spec/fixtures/projects/requires_flutter/pubspec.yaml
  updater/config/licenses/config.yml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_by_dependency_type.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_empty_group.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_overlapping_groups.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_semver_grouping_with_global_ignores.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_with_existing_pr.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_with_ungrouped.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_with_vendoring.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_dependencies_changed.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_empty_group.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_similar_pr.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_versions_changed.yaml
  updater/spec/fixtures/job_definitions/docker/version_updates/group_update_peer_manifests.yaml
Labels: L: docker, L: dart:pub, L: javascript

#7499 python: Handle explicit PyPI source in pyproject.toml
  python/lib/dependabot/python/update_checker/index_finder.rb
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
  python/spec/fixtures/pyproject_files/pypi_explicit.toml
  python/spec/fixtures/pyproject_files/pypi_explicit_lowercase.toml
Labels: L: python:poetry, L: python

#7857 Pass exact version being run when replacing python requirement in pyproject.toml
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/fixtures/poetry_locks/python_lower_bound.toml
  python/spec/fixtures/pyproject_files/python_lower_bound.toml
  python/spec/fixtures/pyproject_files/python_lower_bound_nested.toml
Labels: L: python:poetry, L: python

#7876 Don't double-install packages required for building Python.
  python/Dockerfile
Labels: L: python

#7880 Bubble up expected pub security update errors to the user
  pub/lib/dependabot/pub/update_checker.rb
Labels: L: dart:pub

#7879 Fix missed error matching on composer
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
Labels: L: php:composer

#7883 Fix typo
  pub/lib/dependabot/pub/update_checker.rb
Labels: L: dart:pub

#7877 Split system packages into two sections: required to build python vs required to build users' python packages
  python/Dockerfile
Labels: L: python

#6590 Parallelize tests
  .github/workflows/ci.yml
  bundler/lib/dependabot/bundler/native_helpers.rb
  bundler/script/ci-test
  bundler/spec/spec_helper.rb
  common/lib/dependabot/shared_helpers.rb
  common/lib/dependabot/utils.rb
  common/spec/dependabot/errors_spec.rb
  common/spec/dependabot/shared_helpers_spec.rb
  composer/script/ci-test
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/lib/dependabot/go_modules/resolvability_errors.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/script/ci-test
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
  hex/script/ci-test
  npm_and_yarn/helpers/build
  npm_and_yarn/helpers/package-lock.json
  npm_and_yarn/helpers/package.json
  npm_and_yarn/helpers/patches/npm++pacote+9.5.12.patch
  npm_and_yarn/script/ci-test
  pub/lib/dependabot/pub/helpers.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  pub/spec/dependabot/pub/infer_sdk_versions_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/script/ci-test
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: go:modules, L: dart:pub, EE, L: javascript, L: python

#7884 fixes toolchain directive getting into go.mod
  go_modules/Dockerfile
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
  go_modules/spec/fixtures/projects/toolchain/go.mod
  go_modules/spec/fixtures/projects/toolchain/main.go
Labels: L: go:modules

#7604 Install libkrb5-dev package in python Dockerfile
  python/Dockerfile
Labels: L: python

#7892 build(deps): bump terraform from 1.5.5 to 1.5.6
  terraform/Dockerfile
Labels: L: terraform

#7926 fix: duplicate response body before mutating it
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/library_detector.rb
Labels: L: javascript

#7927 Use `python3`/`pip3` so we don't have to have `python`/`pip` symlinks
  python/helpers/build
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/file_parser/setup_file_parser.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/file_updater/requirement_replacer.rb
Labels: L: python

#7934 Use pre-compiled Python from official Docker image
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#7908 build(deps): bump Yarn to 3.6.3
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7811 build(deps): bump npm from 9.5.1 to 9.6.5
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7944 Python helper removes bytecode files
  python/helpers/build
Labels: L: python

#7943 Stop installing apt packages for compiling Python
  python/Dockerfile
Labels: L: python
