Repository dependabot/dependabot-core, pull requests merged in 2023-05, with the labels that each got.

#7209 Do not catch the `0` exit code
  bin/bump-version.rb
Labels: build 🛠, EE

#7218 Remove dead code
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
Labels: L: javascript

#7211 Create version bump PRs using a custom action
  .github/workflows/gems-bump-version.yml
  .github/workflows/gems-release-to-rubygems.yml
  README.md
  bin/bump-version.rb
Labels: build 🛠, EE

#7233 Remove unnecessary usages of VCR
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  github_actions/spec/fixtures/git/upload_packs/create-release
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_can_update_/given_a_dependency_with_a_tag_reference/with_a_dependency_that_has_a_latest_requirement_and_a_valid_version/returns_the_expected_value.yml
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_latest_version/given_a_dependency_with_multiple_git_refs/returns_the_expected_value.yml
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_latest_version/given_a_realworld_repository/when_pinned_to_an_out_of_date_commit_in_a_non_default_branch/returns_the_expected_value.yml
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_latest_version/given_a_realworld_repository/when_pinned_to_an_out_of_date_commit_in_the_default_branch/returns_the_expected_value.yml
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_latest_version/given_a_realworld_repository/when_pinned_to_an_up_to_date_commit_in_a_non_default_branch/returns_the_expected_value.yml
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_latest_version/given_a_realworld_repository/when_pinned_to_an_up_to_date_commit_in_the_default_branch/returns_the_expected_value.yml
  github_actions/spec/fixtures/vcr_cassettes/Dependabot_GithubActions_UpdateChecker/_updated_requirements/with_multiple_requirement_sources/returns_the_expected_value.yml
Labels: L: github:actions

#7215 Fix updating GitHub Actions pinned to mixed references
  common/lib/dependabot/git_commit_checker.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  github_actions/spec/fixtures/git/upload_packs/checkout
  github_actions/spec/fixtures/workflow_files/newest_ref_parsed_first.yml
Labels: L: github:actions

#7243 Fix flaky cargo spec
  cargo/spec/dependabot/cargo/file_updater/lockfile_updater_spec.rb
Labels: L: rust:cargo, EE

#5902 Fix `lockfile-only` versioning strategy not creating some updates that are expected (v2)
  bin/dry-run.rb
  bundler/lib/dependabot/bundler/update_checker.rb
  bundler/lib/dependabot/bundler/update_checker/requirements_updater.rb
  bundler/spec/dependabot/bundler/update_checker/requirements_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  cargo/lib/dependabot/cargo/update_checker.rb
  cargo/lib/dependabot/cargo/update_checker/requirements_updater.rb
  cargo/spec/dependabot/cargo/update_checker/requirements_updater_spec.rb
  cargo/spec/dependabot/cargo/update_checker_spec.rb
  common/lib/dependabot/dependency.rb
  composer/lib/dependabot/composer/update_checker.rb
  composer/lib/dependabot/composer/update_checker/requirements_updater.rb
  composer/spec/dependabot/composer/update_checker/requirements_updater_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/requirements_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/requirements_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/update_checker/requirements_updater.rb
  python/spec/dependabot/python/update_checker/requirements_updater_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/spec/dependabot/job_spec.rb
  updater/spec/dependabot/updater_spec.rb
Labels: T: bug 🐞, L: php:composer, L: ruby:bundler, L: rust:cargo, L: javascript, L: python

#7228 Add tag to indicate if repo is private in sentry reports
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/service.rb
  updater/spec/dependabot/job_spec.rb
Labels: EE

#7259 build(deps): bump GOLANG from 1.20.3 to 1.20.4
  go_modules/Dockerfile
Labels: L: go:modules

#7271 Fix outdated reference to DockerHub
  .github/workflows/images-updater-core.yml
Labels: EE

#7272 Switch to watching releases rather than tags
  .github/workflows/gems-release-to-rubygems.yml
Labels: EE

#7280 build(deps): bump Rust from 1.68.2 to 1.69.0
  cargo/Dockerfile
Labels: L: rust:cargo

#7276 Reparse dependencies after each batch when performing grouped updates
  updater/lib/dependabot/updater/group_update_creation.rb
Labels: F: grouped-updates 🎳, grouped-updates-beta

#7241 Don't hang when metadata source is not accessible
  common/lib/dependabot/git_metadata_fetcher.rb
Labels: EE

#7288 Go: fix grouped updates missing updated dependencies in manifests
  go_modules/lib/dependabot/go_modules/file_updater.rb
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
Labels: L: go:modules

#7279 Remove unused code
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
Labels: L: javascript

#7145 fix(gradle): update dependencies only if group and artifact ids are the same
  gradle/lib/dependabot/gradle/file_updater.rb
  gradle/spec/dependabot/gradle/file_updater_spec.rb
  gradle/spec/fixtures/buildfiles/build_same_groupId_different_artifactId.gradle
Labels: L: java:gradle

#7304 Revert "fix(gradle): update dependencies only if both group and artifact ids are the same"
  .github/workflows/smoke.yml
  gradle/lib/dependabot/gradle/file_updater.rb
  gradle/spec/dependabot/gradle/file_updater_spec.rb
  gradle/spec/fixtures/buildfiles/build_same_groupId_different_artifactId.gradle
Labels: L: java:gradle
