Repository dependabot/dependabot-core, pull requests merged in 2023-04, with the labels that each got.

#7011 chore(ee): register custom docker filenames
  .gitattributes
Labels: L: docker, T: feature-improvement

#7054 Update README.md to include link to the public Dependabot Core board
  README.md
Labels: E: documentation

#7051 Allow updating gemspecs loaded from a Gemfile
  .github/dependabot.yml
  bundler/lib/dependabot/bundler/file_fetcher.rb
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/file_updater.rb
  bundler/lib/dependabot/bundler/file_updater/lockfile_updater.rb
  bundler/lib/dependabot/bundler/update_checker/file_preparer.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/update_checker/file_preparer_spec.rb
Labels: T: bug 🐞

#7068 Improve some exception error messages
  common/lib/dependabot/errors.rb
Labels: F: error-messages, EE

#7077 Fix incorrect parsing of some npm lockfile V3 format dependencies
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/json_lock.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm8/nested_node_modules_lockfile_v3/package-lock.json
Labels: T: bug 🐞, L: javascript:npm

#7082 Fix typo in labeler config
  .github/labeler.yml
Labels: T: bug 🐞, EE

#7029 fix(gradle): ignore dependencies using `latest-status` versions
  gradle/lib/dependabot/gradle/file_parser.rb
  gradle/spec/dependabot/gradle/file_parser_spec.rb
  gradle/spec/fixtures/buildfiles/gradle_latest_range_build.gradle
Labels: L: java:gradle, T: feature-improvement

#7085 Fix incorrect detection of top level gemspecs
  bundler/lib/dependabot/bundler/file_parser/file_preparer.rb
  bundler/lib/dependabot/bundler/file_parser/gemfile_declaration_finder.rb
  bundler/lib/dependabot/bundler/file_parser/gemspec_declaration_finder.rb
  bundler/lib/dependabot/bundler/file_updater/lockfile_updater.rb
  bundler/spec/dependabot/bundler/file_updater/lockfile_updater_spec.rb
  bundler/spec/fixtures/projects/bundler1/path_gem_with_ruby_requirement/Gemfile
  bundler/spec/fixtures/projects/bundler1/path_gem_with_ruby_requirement/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/path_gem_with_ruby_requirement/vendor/couchrb/couchrb.gemspec
  bundler/spec/fixtures/projects/bundler2/path_gem_with_ruby_requirement/Gemfile
  bundler/spec/fixtures/projects/bundler2/path_gem_with_ruby_requirement/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/path_gem_with_ruby_requirement/vendor/couchrb/couchrb.gemspec
Labels: T: bug 🐞, L: ruby:bundler, EE

#7087 Improve npm package manager instrumentation
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: EE, L: javascript

#7028 Support for nuget tools in .config/dotnet-tools.json
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_parser/dotnet_tools_json_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser/dotnet_tools_json_parser_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/fixtures/dotnet_tools_jsons/dotnet-tools.json
  nuget/spec/fixtures/dotnet_tools_jsons/invalid_json.json
  nuget/spec/fixtures/github/contents_dotnet_config_directory.json
  nuget/spec/fixtures/github/contents_dotnet_dotnet_tools.json
  nuget/spec/fixtures/github/contents_dotnet_global.json
Labels: L: dotnet:nuget, T: feature-improvement

#7030 fix(npm): registry inferring should include the full registry path
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm6/private_artifactory_repository/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm6/private_artifactory_repository/package.json
Labels: T: bug 🐞, L: javascript:npm, F: private-registries 💂‍♂️, L: javascript

#7083 build(deps): bump terraform from 1.4.4 to 1.4.5
  terraform/Dockerfile
Labels: L: terraform

#7095 build(deps): bump regctl from 0.4.7 to 0.4.8
  docker/Dockerfile
Labels: L: docker

#7106 docs(npm): explain situations where parsing `resolved` can fail
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: javascript

#7075 Run Dependency Group updates
  common/lib/dependabot/dependency_group.rb
  common/lib/wildcard_matcher.rb
  common/spec/dependabot/dependency_group_spec.rb
  common/spec/dependabot/wildcard_matcher_spec.rb
  updater/lib/dependabot/dependency_group_engine.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/updater/operations/group_update_all_versions.rb
  updater/spec/dependabot/dependency_change_builder_spec.rb
  updater/spec/dependabot/dependency_group_engine_spec.rb
  updater/spec/dependabot/job_spec.rb
  updater/spec/dependabot/updater/operations_spec.rb
  updater/spec/fixtures/bundler/grouped/Gemfile
  updater/spec/fixtures/bundler/grouped/Gemfile.lock
  updater/spec/fixtures/jobs/job_with_dependency_groups.json
Labels: auto-merge

#7109 Move some common functionality to common
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder.rb
  cargo/lib/dependabot/cargo/update_checker/latest_version_finder.rb
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
  common/lib/dependabot/dependency.rb
  common/lib/dependabot/file_parsers/base/dependency_set.rb
  common/lib/dependabot/git_commit_checker.rb
  common/lib/dependabot/metadata_finders/base/changelog_pruner.rb
  common/lib/dependabot/metadata_finders/base/commits_finder.rb
  common/lib/dependabot/metadata_finders/base/release_finder.rb
  common/lib/dependabot/update_checkers/base.rb
  composer/lib/dependabot/composer/update_checker/latest_version_finder.rb
  elm/lib/dependabot/elm/update_checker/elm_19_version_resolver.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  gradle/lib/dependabot/gradle/update_checker/version_finder.rb
  hex/lib/dependabot/hex/update_checker/file_preparer.rb
  hex/lib/dependabot/hex/update_checker/version_resolver.rb
  maven/lib/dependabot/maven/update_checker/version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: elm, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: javascript, L: python

#7117 Fix Yarn Berry detection during package manager instrumentation
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#7119 Bundler: handle SolveFailures as expected errors
  bundler/lib/dependabot/bundler/file_updater/lockfile_updater.rb
Labels: L: ruby:bundler

#7111 build(deps): bump GOLANG from 1.20.2 to 1.20.3
  go_modules/Dockerfile
Labels: L: go:modules

#7120 Cargo: handle TOML parsing errors
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
Labels: L: rust:cargo

#5446 Address CodeQL warnings about http vs https
  bundler/helpers/v2/spec/functions/file_parser_spec.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/fixtures/projects/bundler1/git_source/Gemfile
  bundler/spec/fixtures/projects/bundler1/git_source/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/git_source_gemfile/Gemfile
  bundler/spec/fixtures/projects/bundler1/git_source_mismatched/Gemfile
  bundler/spec/fixtures/projects/bundler1/git_source_mismatched/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/git_source_outdated/Gemfile
  bundler/spec/fixtures/projects/bundler1/git_source_outdated/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/git_source_reordered/Gemfile
  bundler/spec/fixtures/projects/bundler1/git_source_reordered/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/git_source_undeclared/Gemfile
  bundler/spec/fixtures/projects/bundler1/git_source_undeclared/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/includes_requires_gemfile/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/git_source_gemfile/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source_mismatched/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source_mismatched/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/git_source_outdated/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source_outdated/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/git_source_reordered/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source_reordered/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/git_source_undeclared/Gemfile
  bundler/spec/fixtures/projects/bundler2/git_source_undeclared/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/includes_requires_gemfile/Gemfile
  bundler/spec/fixtures/vcr_cassettes/Dependabot_Bundler_UpdateChecker_LatestVersionFinder_DependencySource/_inaccessible_git_dependencies/is_empty_when_all_dependencies_are_accessible.yml
Labels: L: ruby:bundler

#7122 Cargo: handle unsupported toolchain versions
  cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb
  cargo/spec/dependabot/cargo/file_updater/lockfile_updater_spec.rb
Labels: L: rust:cargo

#7130 Use `ltrim()` rather than `preg_replace()`
  composer/helpers/v1/src/UpdateChecker.php
  composer/helpers/v2/src/UpdateChecker.php
Labels: L: php:composer

#7139 Fetch files by package manager
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: javascript

#7142 Cargo: handle dependencies that are not in the index
  cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb
  cargo/spec/dependabot/cargo/file_updater/lockfile_updater_spec.rb
Labels: L: rust:cargo

#7162 Cleanup leftover require
  docker/lib/dependabot/docker/file_fetcher.rb
Labels: L: docker

#7161 Cleanup duplicated conditions
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/dependency_files_builder.rb
Labels: L: javascript

#7141 Don't run update checker unnecessarily on all javascript packages in a monorepo
  npm_and_yarn/lib/dependabot/npm_and_yarn/dependency_files_filterer.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/dependency_files_filterer_spec.rb
Labels: L: javascript

#7160 Prepare yarn berry just once
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7151 build(deps): bump Elixir to 1.14.4
  hex/Dockerfile
Labels: L: elixir:hex

#7168 Cargo: handle unsupported toolchain versions (part 2)
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
  cargo/spec/dependabot/cargo/update_checker/version_resolver_spec.rb
Labels: L: rust:cargo

#7165 It's `bug_tracker_uri` not `issue_tracker_uri`
  bundler/dependabot-bundler.gemspec
  cargo/dependabot-cargo.gemspec
  common/dependabot-common.gemspec
  composer/dependabot-composer.gemspec
  docker/dependabot-docker.gemspec
  elm/dependabot-elm.gemspec
  git_submodules/dependabot-git_submodules.gemspec
  github_actions/dependabot-github_actions.gemspec
  go_modules/dependabot-go_modules.gemspec
  gradle/dependabot-gradle.gemspec
  hex/dependabot-hex.gemspec
  maven/dependabot-maven.gemspec
  npm_and_yarn/dependabot-npm_and_yarn.gemspec
  nuget/dependabot-nuget.gemspec
  omnibus/dependabot-omnibus.gemspec
  pub/dependabot-pub.gemspec
  python/dependabot-python.gemspec
  terraform/dependabot-terraform.gemspec
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python

#7149 build(deps): bump Yarn from 3.4.1 to 3.5.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#7175 NPM: fix npmrc generation for v3 package-locks
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npmrc_builder_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm9/private-public/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm9/private-public/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm9/private-public/package.json
  npm_and_yarn/spec/fixtures/projects/npm9/simple/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm9/simple/package.json
Labels: L: javascript

#7176 docs: add information about where to find Terraform updates and how to validate the release
  terraform/Dockerfile
Labels: L: terraform

#7178 Pass exception message directly to peer dependency error handler
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
Labels: L: javascript

#7181 build(deps): bump Terraform to 1.4.6
  terraform/Dockerfile
Labels: L: terraform

#7172 Remove accidentally committed node_modules folders
  .gitignore
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/.yarn-state.yml
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/ansi-styles/ansi-styles.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/ansi-styles/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/ansi-styles/readme.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/chalk/chalk.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/chalk/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/chalk/readme.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/etag/HISTORY.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/etag/LICENSE
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/etag/README.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/etag/index.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/etag/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/has-color/index.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/has-color/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/has-color/readme.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/README.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.compat.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.compat.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.legacy.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.legacy.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.mobile.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.mobile.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.underscore.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/dist/lodash.underscore.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/lodash/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/other_package
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/node_modules/package1
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/README.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.compat.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.compat.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.legacy.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.legacy.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.mobile.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.mobile.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.underscore.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/dist/lodash.underscore.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/lodash.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/other_package/node_modules/lodash/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/README.md
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.compat.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.compat.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.legacy.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.legacy.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.mobile.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.mobile.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.underscore.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/dist/lodash.underscore.min.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/lodash.js
  npm_and_yarn/spec/fixtures/projects/yarn_berry/workspaces/packages/package1/node_modules/lodash/package.json
Labels: L: javascript

#7183 Refactor workspace file fetching in npm
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: javascript

#7194 NPM: handle EBADENGINE better
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm8/engines/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm8/engines/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm8/engines/package.json
Labels: L: javascript

#7197 Improve naming of a method
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: javascript

#7195 Clarify comments on peer dependency error regexes
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
Labels: L: javascript
