Repository dependabot/dependabot-core, pull requests merged in 2023-03, with the labels that each got.

#6937 Document the credential proxy
  README.md
Labels: E: documentation

#6748 Don't propose updates to a more precise version of the same docker tag
  docker/lib/dependabot/docker/tag.rb
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/tag_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/registry_tags/ubi-minimal.json
Labels: docker

#6914 pip-tools: Honour `--resolver` option for existing requirements.
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
  python/spec/fixtures/pip_compile_files/celery_extra_sqs.in
  python/spec/fixtures/requirements/pip_compile_resolver_backtracking.txt
  python/spec/fixtures/requirements/pip_compile_resolver_legacy.txt
Labels: T: feature-improvement
