Repository dependabot/dependabot-core, pull requests merged in 2023-11, with the labels that each got.

#8147 Raise expected errors when unsupported PNPM versions are used
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/fixtures/github/contents_js_pnpm.json
  npm_and_yarn/spec/fixtures/github/pnpm_lock_5.3_content.json
  npm_and_yarn/spec/fixtures/github/pnpm_lock_5.4_content.json
  npm_and_yarn/spec/fixtures/github/pnpm_lock_6.0_content.json
Labels: L: javascript

#8099 Fix illformed requirement error on "workspace:" dependencies
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn/workspace_requirements_no_lockfile/package.json
Labels: L: javascript

#8315 Fix error when parsing version of some PNPM lockfiles
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/fixtures/github/pnpm_lock_quotes_content.json
Labels: L: javascript

#8312 Replace `pipenv lock` with `pipenv upgrade`
  python/lib/dependabot/python/file_parser/pipfile_files_parser.rb
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/lib/dependabot/python/file_updater/pipfile_preparer.rb
  python/lib/dependabot/python/pipenv_runner.rb
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
  python/spec/dependabot/python/file_updater/pipfile_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/pipfile_preparer_spec.rb
  python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
Labels: L: python

#8310 Type `SharedHelpers` more thoroughly
  bundler/lib/dependabot/bundler/native_helpers.rb
  bundler/spec/dependabot/bundler/native_helpers_spec.rb
  common/lib/dependabot/shared_helpers.rb
  common/lib/dependabot/workspace/base.rb
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  sorbet/rbi/shims/hash.rbi
Labels: L: ruby:bundler, L: python

#8323 Properly aggregate `pipenv upgrade` errors in Sentry
  python/lib/dependabot/python/pipenv_runner.rb
Labels: L: python

#8289 build(deps): bump pNPM to 8.10.2
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8324 Catch more 404 PNPM fetch errors and raise them as user errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/json_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/lockfile_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/pnpm_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/yarn_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_preparer.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/nonexistent_locked_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/nonexistent_locked_dependency/pnpm-lock.yaml
Labels: L: javascript

#8345 Fix broken composer CI
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
Labels: L: php:composer

#8361 Fix more test failures
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
Labels: L: ruby:bundler

#8359 Remove feature flag gating dependency removal
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/vulnerability_auditor.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/vulnerability_auditor_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#8331 handle updating manifests across multiple directories
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  updater/lib/dependabot/dependency_change.rb
  updater/lib/dependabot/updater/dependency_group_change_batch.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_group_security_update_pull_request.rb
  updater/spec/dependabot/updater/dependency_group_change_batch_spec.rb
  updater/spec/dependabot/updater/operations_spec.rb
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_by_dependency_type.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_overlapping_groups.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_semver_grouping.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_semver_grouping_with_global_ignores.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_all_with_ungrouped.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_dependencies_changed.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_similar_pr.yaml
  updater/spec/fixtures/job_definitions/bundler/version_updates/group_update_refresh_versions_changed.yaml
Labels: L: go:modules

#8392 Fix one more `and_call_original`-related flaky spec
  bundler/spec/dependabot/bundler/update_checker_spec.rb
Labels: L: ruby:bundler

#8394 Fix more Sorbet + `and_call_original` issues
  python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb
Labels: L: python

#8404 Strictly type `DependencyGroup`
  common/lib/dependabot/dependency_group.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#8330 Fix PNPM issues with private registries
  bin/dry-run.rb
  npm_and_yarn/helpers/lib/pnpm/lockfile-parser.js
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/registry_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/registry_finder_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm6/npmrc_only_global_registry/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm6/npmrc_other_scoped_registry/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/tarball_urls/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/tarball_urls/pnpm-lock.yaml
Labels: L: javascript

#8352 Support updating Package.swift files without a lockfile
  swift/lib/dependabot/swift/update_checker/version_resolver.rb
  swift/spec/dependabot/swift/update_checker_spec.rb
  swift/spec/fixtures/projects/ReactiveCocoaNoLockfile/Package.swift
Labels: L: swift

#8224 Bump Bundler to 2.4.22
  Dockerfile.updater-core
  bundler/helpers/v2/lib/functions/dependency_source.rb
  bundler/helpers/v2/lib/functions/version_resolver.rb
  bundler/helpers/v2/spec/functions/dependency_source_spec.rb
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
  updater/Gemfile.lock
Labels: L: ruby:bundler

#8305 Refactor composer error handling and better handle potential errors
  composer/lib/dependabot/composer/file_updater/lockfile_updater.rb
  composer/lib/dependabot/composer/helpers.rb
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
Labels: L: php:composer

#8332 Raise user errors about being unable to reach private git PNPM dependencies
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private/pnpm-lock.yaml
Labels: L: javascript

#8399 build(deps): bump Yarn to 3.7.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8370 build(deps): bump pNPM to 8.10.5
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8371 Respect poetry explicit source
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/update_checker/index_finder.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
  python/spec/fixtures/pyproject_files/extra_source_explicit.toml
  python/spec/fixtures/pyproject_files/extra_source_explicit_and_package_specify_source.toml
  python/spec/fixtures/pyproject_files/package_specify_source.toml
Labels: L: python

#8442 Fix windows servercore Docker updates
  docker/lib/dependabot/docker/tag.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#8432 Fix the new alpine image versions for docker
  docker/lib/dependabot/docker/version.rb
  docker/spec/dependabot/docker/requirement_spec.rb
  docker/spec/dependabot/docker/version_spec.rb
Labels: L: docker

#8419 Bundler native helpers should not run in a frozen context
  bundler/helpers/v1/lib/functions.rb
  bundler/helpers/v2/lib/functions.rb
Labels: L: ruby:bundler

#8420 Properly capture and re-raise PublicSourceTimedOut errors in Bundler
  bundler/helpers/v2/spec/functions/dependency_source_spec.rb
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
Labels: L: ruby:bundler

#8408 Update error message matching
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
Labels: L: javascript

#8389 yarn:update add a handled error for missing tags
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
Labels: L: javascript

#8468 Bump `nuget` files type strictness
  nuget/lib/dependabot/nuget/cache_manager.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_comparer.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
Labels: L: dotnet:nuget

#8446 Sanitize `.yanrc.yml` when missing environment variables prevent yarn from running
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn_berry/env_variable/.yarnrc.yml
  npm_and_yarn/spec/fixtures/projects/yarn_berry/env_variable/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/env_variable/yarn.lock
Labels: L: javascript

#8423 Capture dependencies groups with inline comments in pyproject files
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/fixtures/pyproject_files/inline_comments.toml
Labels: L: python

#8422 fix #8414 follow poetry source constraint
  python/lib/dependabot/python/update_checker/index_finder.rb
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
Labels: L: python

#8447 Handle 403 Forbidden errors from PNPM
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_registry_ghpr/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/private_registry_ghpr/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_registry_ghpr/pnpm-lock.yaml
Labels: L: javascript

#8472 Fix type issues detected in GitHub Actions ecosystem
  github_actions/lib/dependabot/github_actions/update_checker.rb
Labels: L: github:actions

#8477 Use a pipenv fork for now to fix tomlkit issues in pipenv
  python/helpers/requirements.txt
Labels: L: python

#8454 Ignore repo access issues while parsing actions dependencies
  common/lib/dependabot/git_commit_checker.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/fixtures/workflow_files/inaccessible_source.yml
Labels: L: github:actions

#8476 Handle 401 Unauthorized errors from PNPM
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_tarball_urls/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/private_tarball_urls/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_tarball_urls/pnpm-lock.yaml
Labels: L: javascript

#8482 Bump type strictness
  common/lib/dependabot/dependency_file.rb
  common/lib/dependabot/workspace/base.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
Labels: L: javascript, L: python

#8326 Raise user error when Yarn is misconfigured
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn_berry/misconfigured/.yarnrc.yml
  npm_and_yarn/spec/fixtures/projects/yarn_berry/misconfigured/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/misconfigured/yarn.lock
Labels: L: javascript

#8453 Fix private registry authentication for NPM 8 or higher
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npmrc_builder_spec.rb
Labels: L: javascript
