Repository dependabot/dependabot-core, pull requests merged in 2023-10, with the labels that each got.

#8104 Raise unsupported Python version error as an expected error
  common/lib/dependabot/errors.rb
  python/lib/dependabot/python/language_version_manager.rb
  python/spec/dependabot/python/update_checker/pip_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  updater/lib/dependabot/file_fetcher_command.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/fixtures/jobs/job_with_credentials.json
  updater/spec/fixtures/vcr_cassettes/Dependabot_FileFetcherCommand/_perform_job/when_the_fetcher_raises_a_rate_limited_error/retries_the_job_when_the_rate-limit_is_reset_and_reports_api_error.yml
Labels: L: python

#8133 Fix a typo
  bundler/helpers/v1/lib/functions.rb
  bundler/helpers/v2/lib/functions.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder/dependency_source.rb
Labels: L: ruby:bundler

#8139 Parallelize tests on all ecosystems, except for Pub
  cargo/script/ci-test
  common/script/ci-test
  docker/script/ci-test
  elm/script/ci-test
  git_submodules/script/ci-test
  github_actions/script/ci-test
  gradle/script/ci-test
  maven/script/ci-test
  nuget/script/ci-test
  terraform/script/ci-test
Labels: L: java:gradle, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven

#8101 build(deps): bump PNpm from 8.7.6 to 8.8.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8134 Suppress for `Layout/MultilineMethodCallIndentation` offense
  bundler/helpers/v1/lib/functions.rb
  bundler/helpers/v2/lib/functions.rb
  bundler/lib/dependabot/bundler/update_checker.rb
  bundler/lib/dependabot/bundler/update_checker/file_preparer.rb
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/lib/dependabot/bundler/update_checker/version_resolver.rb
  cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb
  cargo/lib/dependabot/cargo/file_updater/manifest_updater.rb
  cargo/lib/dependabot/cargo/update_checker/file_preparer.rb
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
  common/lib/dependabot/pull_request_creator/branch_namer/solo_strategy.rb
  common/lib/dependabot/pull_request_creator/message_builder.rb
  common/lib/dependabot/pull_request_creator/pr_name_prefixer.rb
  composer/lib/dependabot/composer/file_updater/lockfile_updater.rb
  gradle/lib/dependabot/gradle/update_checker/multi_dependency_updater.rb
  hex/lib/dependabot/hex/file_fetcher.rb
  hex/lib/dependabot/hex/file_updater/mixfile_updater.rb
  hex/lib/dependabot/hex/update_checker/file_preparer.rb
  maven/lib/dependabot/maven/file_parser/pom_fetcher.rb
  maven/lib/dependabot/maven/update_checker/property_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/dependency_files_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
  nuget/lib/dependabot/nuget/metadata_finder.rb
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/file_parser/python_requirement_parser.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  terraform/lib/dependabot/terraform/update_checker.rb
  updater/Gemfile.lock
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: terraform, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: javascript, L: python

#7985 build(deps): bump Terraform from 1.5.6 to 1.6.1
  terraform/Dockerfile
Labels: L: terraform

#8170 Ignore file dependencies when parsing requirement files
  python/helpers/lib/parser.py
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/fixtures/requirements/with_path_dependency.txt
Labels: L: python

#8181 Improve detection of unsupported cargo toolchains
  cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
Labels: L: rust:cargo

#8175 build(deps): bump PNpm from 8.8.0 to 8.9.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8174 Expose a new directory_not_found user error
  bin/dry-run.rb
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
  common/lib/dependabot/errors.rb
  common/lib/dependabot/file_fetchers/base.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  updater/lib/dependabot/file_fetcher_command.rb
Labels: L: ruby:bundler, L: dotnet:nuget

#8167 Refactor shelling out in Python
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/file_parser/python_requirement_parser.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/helpers.rb
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
Labels: L: python

#8189 Fix multiple pip compile errors
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
  python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb
Labels: L: python

#8190 Fix poetry multiple requirement replacement in pyproject.toml
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/fixtures/pyproject_files/different_requirements.toml
  python/spec/fixtures/pyproject_files/different_requirements_legacy.toml
  python/spec/fixtures/pyproject_files/different_requirements_main.toml
Labels: L: python

#8151 build(deps): bump yarn to 3.6.4
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8127 Fix version comments after quoted strings
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  github_actions/spec/fixtures/workflow_files/pinned_sources_version_comments.yml
Labels: L: github:actions

#8211 Get better info on an unknown error
  python/lib/dependabot/python/file_updater/requirement_file_updater.rb
Labels: L: python

#8207 Raise user errors on invalid poetry manifest
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/fixtures/pyproject_files/incorrect_poetry_setup.toml
Labels: L: python

#8223 Avoid trying to parse poetry.lock if pyproject.toml is invalid for Poetry
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
Labels: L: python

#8222 Ignore dependencies from remote constraint files
  python/helpers/lib/parser.py
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/fixtures/requirements/remote_constraints.txt
Labels: L: python

#8225 Go: pull from the official Docker image so that Dependabot bumps it
  go_modules/Dockerfile
Labels: L: go:modules

#8226 Make composer CI pass consistently
  composer/lib/dependabot/composer/file_fetcher.rb
  composer/spec/spec_helper.rb
Labels: L: php:composer

#8172 Raise user error when not finding path dependencies in Python
  python/lib/dependabot/python/file_fetcher.rb
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/pip_compile_file_matcher.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/fixtures/github/contents_directory_with_outside_reference.json
  python/spec/fixtures/github/contents_directory_with_outside_reference_in_file.json
  python/spec/fixtures/github/contents_directory_with_outside_reference_root.json
  python/spec/fixtures/github/contents_directory_with_outside_reference_txt_file.json
Labels: L: python

#8229 Support Python requirements with preceding "v"
  python/lib/dependabot/python/requirement_parser.rb
  python/spec/dependabot/python/requirement_parser_spec.rb
Labels: L: python

#8214 Add types to `FileUpdaters::Base`
  common/lib/dependabot/file_updaters/base.rb
  go_modules/lib/dependabot/go_modules/file_updater.rb
  maven/lib/dependabot/maven/file_updater.rb
  nuget/lib/dependabot/nuget/file_updater.rb
Labels: L: go:modules, L: dotnet:nuget, L: java:maven

#8247 Correct handling of `updater` directory in sorbet
  bundler/lib/dependabot/bundler.rb
  bundler/lib/dependabot/bundler/version.rb
  cargo/lib/dependabot/cargo.rb
  common/lib/dependabot/config.rb
  composer/lib/dependabot/composer.rb
  docker/lib/dependabot/docker.rb
  elm/lib/dependabot/elm.rb
  git_submodules/lib/dependabot/git_submodules.rb
  git_submodules/lib/dependabot/git_submodules/version.rb
  github_actions/lib/dependabot/github_actions.rb
  go_modules/lib/dependabot/go_modules.rb
  gradle/lib/dependabot/gradle.rb
  hex/lib/dependabot/hex.rb
  maven/lib/dependabot/maven.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  nuget/lib/dependabot/nuget.rb
  omnibus/lib/dependabot/omnibus.rb
  pub/lib/dependabot/pub.rb
  python/lib/dependabot/python.rb
  python/lib/dependabot/python/requirement_parser.rb
  sorbet/config
  sorbet/rbi/todo.rbi
  sorbet/tapioca/require.rb
  swift/lib/dependabot/swift.rb
  terraform/lib/dependabot/terraform.rb
  updater/lib/dependabot/base_command.rb
  updater/lib/dependabot/dependency_change.rb
  updater/lib/dependabot/dependency_group_engine.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/environment.rb
  updater/lib/dependabot/file_fetcher_command.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/logger/formats.rb
  updater/lib/dependabot/update_files_command.rb
  updater/lib/dependabot/updater.rb
  updater/lib/dependabot/updater/dependency_group_change_batch.rb
  updater/lib/dependabot/updater/error_handler.rb
  updater/lib/dependabot/updater/errors.rb
  updater/lib/dependabot/updater/operations.rb
  updater/lib/dependabot/updater/operations/create_group_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/create_group_update_pull_request.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/group_update_all_versions.rb
  updater/lib/dependabot/updater/operations/refresh_group_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_group_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift

#8262 Clarify docker logs about ignoring a normally expected update candidate
  docker/lib/dependabot/docker/update_checker.rb
Labels: L: docker

#8263 Fix poetry regression
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/fixtures/pyproject_files/same_requirements.toml
Labels: L: python

#6718 Recurse submodules when cloning npm and yarn repos
  common/lib/dependabot/dependency_file.rb
  common/lib/dependabot/file_fetchers/base.rb
  common/lib/dependabot/pull_request_creator/github.rb
  common/lib/dependabot/pull_request_updater/github.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn/submodule_dependency/.gitmodules
  npm_and_yarn/spec/fixtures/projects/yarn/submodule_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/yarn/submodule_dependency/yarn-workspace-example/package.json
  npm_and_yarn/spec/fixtures/projects/yarn/submodule_dependency/yarn-workspace-git-submodule-example/package.json
  npm_and_yarn/spec/fixtures/projects/yarn/submodule_dependency/yarn.lock
Labels: T: bug 🐞, L: javascript

#8267 Unlock related Gemfile dependencies, but not everything that changed
  bundler/helpers/v2/lib/functions/force_updater.rb
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  bundler/spec/fixtures/projects/bundler1/top_level_update_with_git_gems/Gemfile
  bundler/spec/fixtures/projects/bundler1/top_level_update_with_git_gems/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/top_level_update_with_git_gems/Gemfile
  bundler/spec/fixtures/projects/bundler2/top_level_update_with_git_gems/Gemfile.lock
Labels: L: ruby:bundler

#8067 Add subdirectory value while preparing pyproject.toml if subdirectory key exists
  python/lib/dependabot/python/file_updater/pyproject_preparer.rb
  python/spec/dependabot/python/file_updater/pyproject_preparer_spec.rb
  python/spec/fixtures/poetry_locks/git_dependency_in_a_subdirectory.lock
  python/spec/fixtures/pyproject_files/git_dependency_in_a_subdirectory.toml
Labels: L: python

#8280 Detect Python version from pip-compile generated files
  python/lib/dependabot/python/file_parser/python_requirement_parser.rb
  python/spec/dependabot/python/file_parser/python_requirement_parser_spec.rb
  python/spec/fixtures/pip_compile_files/python_header.in
  python/spec/fixtures/requirements/python_header.txt
  python/spec/fixtures/requirements/python_header_lower.txt
Labels: L: python

#8212 Handle null dependencies in package.json
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_preparer.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/package_json_preparer_spec.rb
  npm_and_yarn/spec/fixtures/projects/generic/null_deps/package.json
Labels: L: javascript

#8266 Set Python to always clone
  python/lib/dependabot/python.rb
Labels: L: python

#8288 Revert python always clone registration
  common/lib/dependabot/config/file.rb
  common/lib/dependabot/utils.rb
  python/lib/dependabot/python.rb
Labels: L: python

#8301 Enable always clone for Python (take 2)
  python/lib/dependabot/python.rb
  python/lib/dependabot/python/file_updater.rb
  python/lib/dependabot/python/file_updater/pipfile_file_updater.rb
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/file_updater/pipfile_file_updater_spec.rb
  python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/fixtures/projects/pipenv/editable-package/Pipfile
  python/spec/fixtures/projects/pipenv/editable-package/Pipfile.lock
  python/spec/fixtures/projects/pipenv/editable-package/ballcone/__init__.py
  python/spec/fixtures/projects/pipenv/editable-package/pyproject.toml
Labels: L: python

#8272 Sorbet types for `source`
  common/lib/dependabot/clients/azure.rb
  common/lib/dependabot/metadata_finders/base/changelog_finder.rb
  common/lib/dependabot/source.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  gradle/lib/dependabot/gradle/metadata_finder.rb
  nuget/lib/dependabot/nuget/metadata_finder.rb
  pub/lib/dependabot/pub/metadata_finder.rb
  sorbet/rbi/shims/excon.rbi
  terraform/lib/dependabot/terraform/file_parser.rb
Labels: L: java:gradle, L: github:actions, L: terraform, L: dotnet:nuget, L: dart:pub
