Repository dependabot/dependabot-core, pull requests merged in 2023-12, with the labels that each got.

#8501 Choose closest Nuget.Config
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#8511 fix NuGet smoke test by properly locating ``Directory.Packages.props``
  .github/workflows/smoke.yml
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/fixtures/github/props_file_in_parent_directory/Directory.Build.props
  nuget/spec/fixtures/github/props_file_in_parent_directory/Directory.Build.targets
  nuget/spec/fixtures/github/props_file_in_parent_directory/src/Directory.Build.props
  nuget/spec/fixtures/github/props_file_in_parent_directory/src/Directory.Packages.props
  nuget/spec/fixtures/github/props_file_in_parent_directory/src/project.csproj
Labels: L: dotnet:nuget

#8527 require correct FileFetcher
  maven/lib/dependabot/maven/metadata_finder.rb
Labels: L: java:maven

#8514 Skip Maven snapshots repositories from versions checking
  maven/lib/dependabot/maven/file_parser/property_value_finder.rb
  maven/lib/dependabot/maven/file_parser/repositories_finder.rb
  maven/spec/dependabot/maven/file_parser/repositories_finder_spec.rb
  maven/spec/fixtures/poms/custom_repositories_pom.xml
Labels: L: java:maven

#8502 don't attempt to update a package if no versions could be found
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/fixtures/csproj/dependency_with_name_that_does_not_exist.csproj
  nuget/spec/fixtures/nuget_responses/index.json/no-results.api.example.com.index.json
  nuget/spec/fixtures/nuget_responses/index.json/with-results.api.example.com.index.json
  nuget/spec/fixtures/nuget_responses/search_no_data.json
Labels: L: dotnet:nuget

#8534 properly resolve nuget search query when the api is versioned
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/fixtures/configs/versioned_search.config
  nuget/spec/fixtures/nuget_responses/index.json/versioned_SearchQueryService.index.json
Labels: L: dotnet:nuget

#8547 Use upstream pipenv again
  python/helpers/requirements.txt
Labels: L: python

#8546 Don't escape dependency names in tarball URLs since it doesn't always work
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/registry_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#8538 improvements to querying nuget apis for versions
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/fixtures/configs/with_trustedSigners.config
Labels: L: dotnet:nuget

#8553 Prioritize detection of sha suffixed tags over date tags
  docker/lib/dependabot/docker/tag.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/registry_tags/date_sha.json
Labels: L: docker

#8561 Fix docker updates for tags with a v prefix
  docker/lib/dependabot/docker/file_parser.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/registry_tags/bar_with_v.json
Labels: L: docker

#8524 Nuget file fetching simplifications
  nuget/lib/dependabot/nuget/file_fetcher.rb
Labels: L: dotnet:nuget

#8595 Fix docker attempting to append digest for helm
  docker/lib/dependabot/docker/file_parser.rb
Labels: L: docker

#8606 fix Sorbet type error
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  common/lib/dependabot/pull_request_creator/branch_namer/base.rb
Labels: L: ruby:bundler

#8378 fix: Use portable Bash shebang
  .devcontainer/on-create.sh
  .devcontainer/post-create.sh
  bin/ci-test
  bin/docker-dev-shell
  bundler/helpers/v1/build
  bundler/helpers/v2/build
  bundler/script/ci-test
  cargo/script/ci-test
  common/script/ci-test
  common/spec/helpers/test/error_bash
  common/spec/helpers/test/run_bash
  composer/helpers/v1/build
  composer/helpers/v2/build
  composer/script/ci-test
  docker/script/ci-test
  elm/script/ci-test
  git_submodules/script/ci-test
  github_actions/script/ci-test
  go_modules/helpers/build
  go_modules/script/ci-test
  gradle/script/ci-test
  hex/helpers/build
  hex/script/ci-test
  maven/script/ci-test
  npm_and_yarn/helpers/build
  npm_and_yarn/script/ci-test
  nuget/script/ci-test
  pub/helpers/build
  pub/script/ci-test
  python/helpers/build
  python/script/ci-test
  script/build
  script/ci-test-updater
  script/dependabot
  script/setup
  swift/script/ci-test
  terraform/helpers/build
  terraform/script/ci-test
  updater/bin/run
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift

#7890 feat: Updates Hex to 2.0.6
  hex/Dockerfile
  hex/helpers/lib/run.exs
  hex/lib/dependabot/hex/update_checker/version_resolver.rb
Labels: L: elixir:hex

#8611 consider shrinkwrap when inferring an npmrc file
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npmrc_builder_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm6/private_source_shrinkwrap/npm-shrinkwrap.json
  npm_and_yarn/spec/fixtures/projects/npm6/private_source_shrinkwrap/package.json
Labels: L: javascript

#8612 Handle Version Elements in Update
  nuget/helpers/lib/NuGetUpdater/.gitignore
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
Labels: L: dotnet:nuget

#8581 Fix: Typo
  composer/spec/dependabot/composer/update_checker/requirements_updater_spec.rb
  go_modules/spec/dependabot/go_modules/requirement_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/requirement_spec.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
Labels: L: php:composer, L: go:modules, L: terraform, L: javascript

#8580 Fix: Typo
  composer/spec/dependabot/composer/update_checker/requirements_updater_spec.rb
  hex/spec/dependabot/hex/update_checker/requirements_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/requirements_updater_spec.rb
Labels: L: php:composer, L: elixir:hex, L: javascript

#8618 fix Python updates involving mysqlclient
  python/Dockerfile
Labels: L: python

#8620 support Composer artifact repositories
  composer/lib/dependabot/composer/file_fetcher.rb
  composer/lib/dependabot/composer/file_updater/lockfile_updater.rb
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/file_fetcher_spec.rb
  composer/spec/fixtures/github/artifact_directory_listing.json
  composer/spec/fixtures/github/composer_json_with_artifact_deps.json
  composer/spec/fixtures/github/dependency.json
Labels: L: php:composer

#8621 fix exception when Action is pinned to a SHA with no tags
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  github_actions/spec/fixtures/workflow_files/pinned_sources_version_comments.yml
Labels: L: github:actions

#8630 Remove unused `requires` of deleted `go` native helper functionality
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/lib/dependabot/go_modules/update_checker.rb
Labels: L: go:modules

#8649 pin Sorbet's version so it doesn't randomly break
  omnibus/Gemfile
Labels: sorbet 🍦

#8644 help customers debug Python issues like update_not_possible
  python/lib/dependabot/python/file_fetcher.rb
Labels: L: python

#8557 Strictly type `BranchNamer::Base`
  common/lib/dependabot/pull_request_creator/branch_namer/base.rb
  common/lib/dependabot/pull_request_creator/branch_namer/dependency_group_strategy.rb
  common/lib/dependabot/pull_request_creator/branch_namer/solo_strategy.rb
Labels: sorbet 🍦

#8556 Strong type `MetadataFinders`
  common/lib/dependabot/metadata_finders.rb
Labels: sorbet 🍦

#8555 Strictly type `Experiments`
  common/lib/dependabot/experiments.rb
Labels: sorbet 🍦

#8632 Stop printing pointless `git` default branch warning into logs/tests
  go_modules/lib/dependabot/go_modules/file_updater.rb
Labels: L: go:modules

#8599 fix #8533 modify registries typing in file.rb
  common/lib/dependabot/config/file.rb
Labels: sorbet 🍦

#8493 Strictly type errors
  common/lib/dependabot/errors.rb
Labels: sorbet 🍦

#8492 Create abstract `Dependabot::Requirement` class
  bundler/lib/dependabot/bundler/requirement.rb
  cargo/lib/dependabot/cargo/requirement.rb
  common/lib/dependabot/requirement.rb
  common/lib/dependabot/utils.rb
  common/spec/dummy_package_manager/requirement.rb
  composer/lib/dependabot/composer/requirement.rb
  docker/lib/dependabot/docker/requirement.rb
  elm/lib/dependabot/elm/requirement.rb
  git_submodules/lib/dependabot/git_submodules/requirement.rb
  github_actions/lib/dependabot/github_actions/requirement.rb
  go_modules/lib/dependabot/go_modules/requirement.rb
  gradle/lib/dependabot/gradle/requirement.rb
  hex/lib/dependabot/hex/requirement.rb
  maven/lib/dependabot/maven/requirement.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/requirement.rb
  nuget/lib/dependabot/nuget/requirement.rb
  pub/lib/dependabot/pub/requirement.rb
  python/lib/dependabot/python/language_version_manager.rb
  python/lib/dependabot/python/requirement.rb
  swift/lib/dependabot/swift/requirement.rb
  terraform/lib/dependabot/terraform/requirement.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift, sorbet 🍦

#8645 build(deps): bump Terraform to 1.6.6
  terraform/Dockerfile
Labels: L: terraform

#8485 Fix failing test for NuGet updates
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
Labels: L: dotnet:nuget

#8660 Normalize "lockfile" terminology
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher/path_dependency_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/dependency_files_builder.rb
  terraform/lib/dependabot/terraform/file_fetcher.rb
  terraform/lib/dependabot/terraform/file_parser.rb
  terraform/lib/dependabot/terraform/file_selector.rb
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
  terraform/spec/fixtures/projects/pessimistic_constraint_lockfile/.terraform.lock.hcl
  terraform/spec/fixtures/projects/pessimistic_constraint_lockfile/main.tf
Labels: L: terraform, L: javascript
