Repository dependabot/dependabot-core, pull requests merged in 2023-09, with the labels that each got.

#7949 Make building the default python concurrent rather than sequential
  python/Dockerfile
Labels: L: python

#7948 Bump RUBY_VERSIONS to include 3.0.6
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
Labels: L: ruby:bundler

#7950 Replace `gzip` with `zstd` for speed + size benefits
  Dockerfile.updater-core
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#7975 Gradle: fix comparison of the prefix version range
  gradle/lib/dependabot/gradle/version.rb
  gradle/spec/dependabot/gradle/version_spec.rb
Labels: L: java:gradle

#7979 go: fix ambiguous import when using a module without a dot
  go_modules/Dockerfile
Labels: L: go:modules

#7980 Maven: fix classifier being part of the dependency name
  maven/lib/dependabot/maven.rb
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/file_updater/declaration_finder.rb
  maven/lib/dependabot/maven/metadata_finder.rb
  maven/lib/dependabot/maven/update_checker/version_finder.rb
  maven/spec/dependabot/maven/file_parser_spec.rb
  maven/spec/dependabot/maven/file_updater/declaration_finder_spec.rb
  maven/spec/dependabot/maven/file_updater_spec.rb
  maven/spec/dependabot/maven/metadata_finder_spec.rb
  maven/spec/dependabot/maven/update_checker/version_finder_spec.rb
Labels: L: java:maven

#7984 Ensure Docker versions are valid Dependabot::Versions
  docker/lib/dependabot/docker/version.rb
  docker/spec/dependabot/docker/version_spec.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/spec/dependabot/updater/operations/group_update_all_versions_spec.rb
Labels: L: docker

#8030 Add back the Docker::Version.correct? method
  docker/lib/dependabot/docker/version.rb
Labels: L: docker

#8037 fix: call 'split' on string-type object, not on version-type object
  python/lib/dependabot/python/version.rb
Labels: F: grouped-updates 🎳, L: python

#8041 Bump RUBY_VERSIONS to include 3.1.4 and 3.2.2
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
Labels: L: ruby:bundler

#8044 fix go1.21 not a toolchain
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
  go_modules/spec/fixtures/go_mods/go_1_21_no_toolchain.mod
Labels: L: go:modules

#7986 build(deps): bump go from 1.21.0 to 1.21.1
  go_modules/Dockerfile
Labels: L: go:modules

#7534 Track unknown errors
  common/lib/dependabot/shared_helpers.rb
  common/spec/dependabot/shared_helpers_spec.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  python/spec/dependabot/python/file_parser/setup_file_parser_spec.rb
  updater/lib/dependabot/api_client.rb
  updater/lib/dependabot/base_command.rb
  updater/lib/dependabot/file_fetcher_command.rb
  updater/lib/dependabot/service.rb
  updater/lib/dependabot/update_files_command.rb
  updater/lib/dependabot/updater/error_handler.rb
  updater/spec/dependabot/api_client_spec.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/integration_spec.rb
  updater/spec/dependabot/service_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
  updater/spec/dependabot/updater/error_handler_spec.rb
  updater/spec/dependabot/updater_spec.rb
Labels: L: php:composer, EE, L: python

#8068 Respect style of each action when mixed styles are used
  common/lib/dependabot/git_commit_checker.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
Labels: L: github:actions

#8098 Fix some github actions version comments not getting updated
  common/lib/dependabot/git_commit_checker.rb
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
Labels: L: github:actions

#7899 build(deps): bump PNpm from 8.6.12 to 8.7.6
  npm_and_yarn/Dockerfile
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
Labels: L: javascript

#8094 Properly infer `.npmrc` for PNPM
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npmrc_builder_spec.rb
  npm_and_yarn/spec/fixtures/projects/generic/npmrc_auth_token/.npmrc
  npm_and_yarn/spec/fixtures/projects/generic/npmrc_auth_token/package.json
  npm_and_yarn/spec/fixtures/projects/generic/npmrc_env_auth/.npmrc
  npm_and_yarn/spec/fixtures/projects/generic/npmrc_env_auth/package.json
  npm_and_yarn/spec/fixtures/projects/generic/npmrc_env_auth_token/.npmrc
  npm_and_yarn/spec/fixtures/projects/generic/npmrc_env_auth_token/package.json
  npm_and_yarn/spec/fixtures/projects/generic/simple/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_source/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_source/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/yarn/npmrc_auth_token/yarn.lock
  npm_and_yarn/spec/fixtures/projects/yarn/npmrc_env_auth/yarn.lock
  npm_and_yarn/spec/fixtures/projects/yarn/npmrc_env_auth_token/yarn.lock
Labels: L: javascript

#8092 Improve running specs
  bundler/script/ci-test
  common/dependabot-common.gemspec
  composer/script/ci-test
  go_modules/script/ci-test
  hex/script/ci-test
  npm_and_yarn/script/ci-test
  python/script/ci-test
  swift/script/ci-test
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: go:modules, L: javascript, L: python, L: swift
