Repository dependabot/dependabot-core, pull requests merged in 2024-04, with the labels that each got.

#9387 only report dependencies whose version numbers can be resolved
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#9367 Prevent comparison of Integer with String in group update creation
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/spec/dependabot/updater/operations/refresh_group_update_pull_request_spec.rb
Labels: T: bug 🐞, F: grouped-updates 🎳

#9428 Check for nil `Dependency#previous_requirements` before passing to `T.must`
  common/lib/dependabot/dependency.rb
Labels: T: bug 🐞, F: grouped-updates 🎳, sorbet 🍦

#9443 bundler: avoid repeat lockfile parsing with caching
  bundler/lib/dependabot/bundler/cached_lockfile_parser.rb
  bundler/lib/dependabot/bundler/file_fetcher.rb
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/file_updater/lockfile_updater.rb
  bundler/lib/dependabot/bundler/update_checker/file_preparer.rb
Labels: L: ruby:bundler

#9425 speed up bundler updates by parsing gemspecs concurrently
  Gemfile.lock
  bundler/dependabot-bundler.gemspec
  bundler/lib/dependabot/bundler/file_parser.rb
  updater/Gemfile.lock
Labels: L: ruby:bundler

#9435 automatically download the latest Go when needed
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
Labels: L: go:modules

#9458 bundler: avoid reparsing same gemspec
  bundler/lib/dependabot/bundler/file_parser.rb
Labels: L: ruby:bundler

#9459 Bump Swift version from 5.9 to 5.10
  swift/Dockerfile
Labels: L: swift

#9462 Update how we record Bundler versions
  bundler/lib/dependabot/bundler/helpers.rb
  bundler/spec/dependabot/bundler/helper_spec.rb
Labels: L: ruby:bundler

#9013 build(deps): bump terraform from 1.6.6 to 1.7.5
  terraform/Dockerfile
Labels: L: terraform

#9461 Avoid passing empty strings as versions
  common/lib/dependabot/update_checkers/base.rb
  common/spec/dependabot/update_checkers/base_spec.rb
Labels: T: bug 🐞, F: grouped-updates 🎳

#8964 build(deps): bump Yarn to 3.8.1
  npm_and_yarn/Dockerfile
Labels: L: javascript

#9471 Avoid passing empty strings as versions, part 2
  common/lib/dependabot/dependency.rb
  common/lib/dependabot/update_checkers/base.rb
  common/spec/dependabot/update_checkers/base_spec.rb
Labels: T: bug 🐞, F: grouped-updates 🎳

#9470 Treat pep-621 deps as prod if no requirement_type is specified
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
Labels: L: python

#9474 Actions: allow less precise semver updates
  common/lib/dependabot/git_commit_checker.rb
  common/spec/dependabot/git_commit_checker_spec.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
Labels: L: github:actions

#9491 fix pub build not using lockfile
  pub/helpers/build
Labels: L: dart:pub

#9417 use MSBuild-evaluated property values for TFM
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/spec/dependabot/nuget/file_parser_spec.rb
Labels: L: dotnet:nuget

#9511 handle _all_ instances of `global.json` when initializing MSBuild
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackagesConfigUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DotNetTools.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#9517 hh170424: Fixing the sorbet type errors.
  common/lib/dependabot/clients/azure.rb
  common/lib/dependabot/clients/codecommit.rb
  common/lib/dependabot/metadata_finders/base.rb
  common/lib/dependabot/pull_request_creator/bitbucket.rb
  common/lib/dependabot/pull_request_creator/codecommit.rb
  common/spec/fixtures/projects/simple/Gemfile
  elm/lib/dependabot/elm/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/sub_dependency_files_filterer.rb
Labels: L: elm, L: javascript

#9507 update all packages with dependencies on the target package when possible
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#9413 Fix global.json being mangled
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/JsonHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/JsonHelper.cs
Labels: L: dotnet:nuget

#9534 allow packages.config update when project file doesn't list assembly version
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
Labels: L: dotnet:nuget

#9519 add functionality to ignore comments in .python-version file and fetch minimum Python version successfully
  python/lib/dependabot/python/file_parser/python_requirement_parser.rb
  python/spec/dependabot/python/file_parser/python_requirement_parser_spec.rb
Labels: L: python

#9539 Request gzip'ed responses from rubygems API
  bundler/lib/dependabot/bundler/metadata_finder.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder/dependency_source.rb
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
  bundler/lib/dependabot/bundler/update_checker/version_resolver.rb
Labels: L: ruby:bundler

#9538 Maven: Handle Malformed expressions or Invalid values present in properties section of the pom.xml file
  maven/lib/dependabot/maven/file_parser/property_value_finder.rb
  maven/spec/dependabot/maven/file_parser/property_value_finder_spec.rb
  maven/spec/fixtures/poms/property_pom_duplicate_tags.xml
Labels: L: java:maven

#9563 Replace hardcoded "sanitized-package" with the actual package name
  python/lib/dependabot/python/file_updater/setup_file_sanitizer.rb
  python/spec/dependabot/python/file_updater/setup_file_sanitizer_spec.rb
Labels: L: python

#9566 cache results of the discovery tool
  nuget/lib/dependabot/nuget/discovery/discovery_json_reader.rb
  nuget/lib/dependabot/nuget/file_parser.rb
Labels: L: dotnet:nuget

#9390 Allow `version` parameter to be nilable in `Dependabot::NpmAndYarn::FileParser.semver_version_for`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
Labels: T: bug 🐞, L: javascript, sorbet 🍦

#9569 #5246:removing the leading underscore restriction in the package naming.
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_name.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_name_spec.rb
Labels: L: javascript

#9542 allow updating package without assemblies from `packages.config`
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.Packaging/NuGet.Packaging.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.Packaging/PackageFolderReader.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackagesConfigUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
Labels: L: dotnet:nuget

#9526 chore(python): target latest python versions 3.12.3, 3.11.9
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#9405 Update version_resolver to support yarn v4
  npm_and_yarn/Dockerfile
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
Labels: L: javascript

#9611 #9508: Recreating and Handling "Name contains illegal characters" in package.json
  npm_and_yarn/helpers/test/yarn/fixtures/updater/illegal_character/package.json
  npm_and_yarn/helpers/test/yarn/fixtures/updater/illegal_character/yarn.lock
  npm_and_yarn/helpers/test/yarn/updater.test.js
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn/package_json_contains_illegal_characters_in_name/.yarnrc
  npm_and_yarn/spec/fixtures/projects/yarn/package_json_contains_illegal_characters_in_name/package.json
  npm_and_yarn/spec/fixtures/projects/yarn/package_json_contains_illegal_characters_in_name/yarn.lock
Labels: L: javascript

#9614 don't sent dotnet telemetry
  nuget/Dockerfile
Labels: L: dotnet:nuget

#9622 #9555:sorbet error fix
  nuget/lib/dependabot/nuget/file_parser.rb
Labels: L: dotnet:nuget

#9597 Bump Ruby to 3.3.1
  .devcontainer/devcontainer.json
  .rubocop.yml
  .ruby-version
  Dockerfile.updater-core
  bundler/helpers/spec_helpers/gem_net_http_adapter.rb
  bundler/helpers/v1/build
  bundler/helpers/v1/monkey_patches/definition_ruby_version_patch.rb
  bundler/helpers/v1/monkey_patches/git_source_patch.rb
  bundler/helpers/v1/monkey_patches/object_untaint_patch.rb
  bundler/helpers/v1/patched_bundler
  bundler/helpers/v1/run.rb
  bundler/helpers/v1/spec/native_spec_helper.rb
  bundler/helpers/v2/monkey_patches/definition_ruby_version_patch.rb
  bundler/helpers/v2/monkey_patches/git_source_patch.rb
  bundler/helpers/v2/spec/native_spec_helper.rb
  bundler/script/ci-test
  sorbet/config
Labels: L: ruby:bundler, L: elixir:hex, L: java:gradle, L: terraform, L: java:maven, L: dart:pub, L: javascript, L: python
