Repository dependabot/dependabot-core, pull requests merged in 2024-11, with the labels that each got.

#10862 Add support for centralized package manager abstraction for `npm_and_yarn` ecosystem
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/npm_package_manager_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_detector_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/pnpm_package_manager_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_package_manager_spec.rb
Labels: L: javascript

#10867 Expand Centralized Ecosystem Format with Language Version Information for Bundler
  bundler/helpers/v2/lib/functions.rb
  bundler/lib/dependabot/bundler.rb
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/language.rb
  bundler/spec/dependabot/bundler/helper_spec.rb
  bundler/spec/dependabot/bundler/language_spec.rb
  common/lib/dependabot/ecosystem.rb
  common/spec/dependabot/ecosystem_spec.rb
Labels: L: ruby:bundler

#10858 Check for packages.config in pure C# updater.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#10897 Expand Centralized Ecosystem Format with Requirements Information for Bundler Package Manager
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/helpers.rb
  bundler/lib/dependabot/bundler/package_manager.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/helper_spec.rb
  bundler/spec/dependabot/bundler/package_manager_spec.rb
  common/lib/dependabot/ecosystem.rb
  common/lib/dependabot/requirement.rb
  common/spec/dependabot/ecosystem_spec.rb
  common/spec/dependabot/requirement_spec.rb
Labels: L: ruby:bundler

#10910 create interfaces for workers to make testing more direct
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestAnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestDiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestUpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/IAnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/IDiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/IUpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#10911 clean up warnings from NuGet.Client submodule
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/Directory.Build.props
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.CommandLine/NuGet.CommandLine.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.Configuration/NuGet.Configuration.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.LibraryModel/NuGet.LibraryModel.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.Packaging/NuGet.Packaging.csproj
Labels: L: dotnet:nuget

#10899 Adding support for build-system.requires in pyproject.toml
  python/helpers/lib/parser.py
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/lib/dependabot/python/update_checker.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  python/spec/fixtures/pyproject_files/table_build_system_requires.toml
Labels: L: python

#10932 Add Ruby Language Requirement Collection for Bundler Ecosystem Metrics
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/helpers.rb
  bundler/lib/dependabot/bundler/language.rb
  bundler/spec/dependabot/bundler/helper_spec.rb
  bundler/spec/dependabot/bundler/language_spec.rb
Labels: L: ruby:bundler

#10936 Fix bug related to empty package manager name in npm_and_yarn package manager
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
Labels: L: javascript

#10752 Update .NET SDKs
  nuget/Dockerfile
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/global.json
Labels: L: dotnet:nuget

#10934 Remove Composer v1 Code and Related Feature Flags
  composer/Dockerfile
  composer/helpers/v1/.php-cs-fixer.dist.php
  composer/helpers/v1/bin/run
  composer/helpers/v1/build
  composer/helpers/v1/composer.json
  composer/helpers/v1/composer.lock
  composer/helpers/v1/phpstan.dist.neon
  composer/helpers/v1/src/DependabotInstallationManager.php
  composer/helpers/v1/src/DependabotPluginManager.php
  composer/helpers/v1/src/ExceptionIO.php
  composer/helpers/v1/src/Hasher.php
  composer/helpers/v1/src/UpdateChecker.php
  composer/helpers/v1/src/Updater.php
  composer/lib/dependabot/composer/helpers.rb
  composer/lib/dependabot/composer/package_manager.rb
  composer/spec/dependabot/composer/file_fetcher_spec.rb
  composer/spec/dependabot/composer/file_updater/lockfile_updater_spec.rb
  composer/spec/dependabot/composer/file_updater_spec.rb
  composer/spec/dependabot/composer/helpers_spec.rb
  composer/spec/dependabot/composer/package_manager_spec.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  composer/spec/dependabot/composer_spec.rb
Labels: L: php:composer

#10929 Add support for centralized package manager & language abstraction fo…
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/language.rb
  maven/lib/dependabot/maven/package_manager.rb
  maven/spec/dependabot/maven/file_parser_spec.rb
  maven/spec/dependabot/maven/language_spec.rb
  maven/spec/dependabot/maven/package_manager_spec.rb
Labels: L: java:maven

#10939 only report a package as existing if the actual `.nupkg` can be downloaded
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
Labels: L: dotnet:nuget

#10931 make NuGet tests more stable
  nuget/script/ci-test
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/spec/dependabot/nuget_spec.rb
Labels: L: dotnet:nuget

#10909 Handle semicolons in packageReferences
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/ProjectBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10944 Ensure Corepack Usage for npm, pnpm, and yarn Command Execution
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#10952 Update hcl2json to version `0.6.4`
  terraform/helpers/build
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: terraform

#10947 [pub] Fix update fails when project contains dependency from Dart SDK
  pub/lib/dependabot/pub/helpers.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  pub/spec/fixtures/projects/can_update_with_dart_sdk_deps/pubspec.yaml
Labels: L: dart:pub

#10958 Make DiscoveryWorker project path check case insensitive
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/PathHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#10597 use MSBuild binlog to report dependencies
  nuget/helpers/lib/NuGetUpdater/.gitignore
  nuget/helpers/lib/NuGetUpdater/Directory.Build.targets
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/DiscoverCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Proj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/ExpectedDiscoveryResults.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/NuGetUpdater.Core.Test.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TemporaryDirectory.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/PathHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.targets
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DirectoryPackagesPropsDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DirectoryPackagesPropsDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/ProjectDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/WorkspaceDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/TargetFrameworkReporter.targets
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/CollectionExtensions.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathComparer.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/native_discovery/native_directory_packages_props_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/lib/dependabot/nuget/native_discovery/native_workspace_discovery.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#10938 Store raw installed versions for npm, pnpm, and yarn package managers instead of detected version
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: javascript

#10974 allow `null` when parsing `job.debug` field
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
Labels: L: dotnet:nuget

#10975 Fix Sorbet Typings for `npm_and_yarn` Ecosystem Package Manager and Helpers
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
Labels: L: javascript

#10953 Add support for go ecosystem metrics collection
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/lib/dependabot/go_modules/language.rb
  go_modules/lib/dependabot/go_modules/package_manager.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
  go_modules/spec/dependabot/go_modules/language_spec.rb
  go_modules/spec/dependabot/go_modules/package_manager_spec.rb
Labels: L: go:modules

#10981 remove duplicate TFMs when considering updates
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
Labels: L: dotnet:nuget

#10985 Set Default `npm` Version to 10 Under enable_corepack_for_npm_and_yarn Feature Flag
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm8/workspace_outdated_deps_not_in_root_package_json/package-lock.json
Labels: L: javascript

#10994 project discovery reports its own imported and additional files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Proj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/ExpectedDiscoveryResults.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/BindingRedirectsTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/ProjectDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/WorkspaceDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/NuGetHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProjectHelper.cs
  nuget/lib/dependabot/nuget/native_discovery/native_project_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_workspace_discovery.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#11001 Fix: Ensure Compatibility with npm >= 8 to Prevent Lockfile Downgrades
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
Labels: L: javascript

#11000 gracefully exit if we can't solve an issue with peer dependencies
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
Labels: L: dotnet:nuget

#10986 Enables python ecosystem metric collection
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/language.rb
  python/lib/dependabot/python/package_manager.rb
  python/spec/dependabot/python/peotry_package_manager_spec.rb
  python/spec/dependabot/python/pip_package_manager_spec.rb
Labels: L: python

#10980 Handle paths with multiple case-insenstive matches on disk.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/LinuxOnlyAttribute.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/PathHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#10977 Add `npm_and_yarn` package managers' requirements to ecosystem metrics
  common/lib/dependabot/requirement.rb
  common/spec/dependabot/requirement_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: javascript

#11017 Store Language Name, Version, and Requirements for `npm`, `pnpm`, and `yarn`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/language_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: javascript

#11021 Refactor Composer: Code Cleanup, Constants, and Helper Functions
  composer/lib/dependabot/composer.rb
  composer/lib/dependabot/composer/file_fetcher.rb
  composer/lib/dependabot/composer/file_fetcher/path_dependency_builder.rb
  composer/lib/dependabot/composer/file_parser.rb
  composer/lib/dependabot/composer/file_updater.rb
  composer/lib/dependabot/composer/file_updater/lockfile_updater.rb
  composer/lib/dependabot/composer/helpers.rb
  composer/lib/dependabot/composer/language.rb
  composer/lib/dependabot/composer/package_manager.rb
  composer/lib/dependabot/composer/update_checker.rb
  composer/lib/dependabot/composer/update_checker/latest_version_finder.rb
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/package_manager_spec.rb
Labels: L: php:composer

#11011 Running `yarn install` before running the update checkoer
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#11013 Python metric collection
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/package_manager.rb
  python/spec/dependabot/python/pip_compile_package_manager_spec.rb
  python/spec/dependabot/python/pip_package_manager_spec.rb
  python/spec/dependabot/python/pipenv_package_manager_spec.rb
  python/spec/dependabot/python/poetry_package_manager_spec.rb
Labels: L: python
