Repository dependabot/dependabot-core, pull requests merged in 2024-09, with the labels that each got.

#10485 Sending Bundler v1 Deprecation Warning Alert
  updater/lib/dependabot/api_client.rb
  updater/lib/dependabot/opentelemetry.rb
  updater/lib/dependabot/service.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/lib/dependabot/updater/security_update_helpers.rb
  updater/spec/dependabot/api_client_spec.rb
  updater/spec/dependabot/service_spec.rb
  updater/spec/dependabot/updater/operations/create_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/update_all_versions_spec.rb
  updater/spec/dependabot/updater/pull_request_helpers_spec.rb
Labels: core 🍏

#10519 Avoid using existing branches
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/branch_namer.rb
  common/lib/dependabot/pull_request_creator/branch_namer/base.rb
  common/lib/dependabot/pull_request_creator/branch_namer/dependency_group_strategy.rb
  common/spec/dependabot/pull_request_creator/branch_namer_spec.rb
Labels: T: bug 🐞

#10510 Dynamic version selector for Npm and Yarn
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/version_selector.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_and_nonrelevant_engine_info_pnpm/package.json
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_and_nonrelevant_engine_info_yarn/package.json
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_with_engine_info_pnpm/package.json
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_with_engine_info_yarn/package.json
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_with_no_engine_info_pnpm/package.json
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_with_no_engine_info_yarn/package.json
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_without_version_and_no_engines/package.json
  npm_and_yarn/spec/fixtures/projects/generic/with_package_manager_and_pnpm_npm_engine_info/package.json
  npm_and_yarn/spec/fixtures/projects/generic/without_package_manager_and_with_engine_version/package.json
  npm_and_yarn/spec/fixtures/projects/generic/without_package_manager_version_and_with_engine_version/package.json
  npm_and_yarn/spec/fixtures/projects/generic/without_package_manager_version_and_with_nonrelevant_engine/package.json
Labels: L: javascript

#10524 Implement maven version specification
  Gemfile
  maven/lib/dependabot/maven/new_version.rb
  maven/lib/dependabot/maven/token_bucket.rb
  maven/lib/dependabot/maven/version_parser.rb
  maven/spec/dependabot/maven/new_version_spec.rb
  maven/spec/dependabot/maven/token_bucket_spec.rb
  maven/spec/dependabot/maven/version_parser_spec.rb
Labels: L: java:maven

#10550 Support retrieving workspace of path dependencies in cargo
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_fail_1.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_fail_2.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_success.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_workspace_member.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_incorrect_detached_workspace_member.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_incorrect_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_workspace_nested_one_nested_two.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_dir_detached_crate_success.json
Labels: L: rust:cargo

#10568 Fix argument null exception when updating assembly references with no public key token
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectResolver.cs
Labels: L: dotnet:nuget

#10555 Fixes Dependabot::Updater::SubprocessFailed issues
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/registry_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10579 Fixes ArgumentError: Invalid URI errors
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/latest_version_finder_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/fixtures/requirements/custom_index_invalid_env.txt
  python/spec/fixtures/requirements/custom_index_valid.txt
Labels: L: javascript, L: python

#10595 Adds exceptions for Dependabot::SharedHelpers::HelperSubprocessFailed issues
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10599 Revert "Support retrieving workspace of path dependencies in cargo (#10550)"
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_fail_1.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_fail_2.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_success.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_workspace_member.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_incorrect_detached_workspace_member.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_incorrect_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_workspace_nested_one_nested_two.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_dir_detached_crate_success.json
Labels: L: rust:cargo

#10603 Fixes issues with TypeError:Passed nil into T.must
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_package_access/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/private_package_access/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_package_access/pnpm-lock.yaml
Labels: L: javascript

#10618 Fix : RegistryError error handler correction to stop propagation to unknown_errors
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
Labels: L: javascript

#10615 Fixes issues with Dependabot::SharedHelpers::HelperSubprocessFailed - Python
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
Labels: L: python

#10617 Change default to Bundler v2 when unsupported feature flag is on and Gemfile.lock exists
  bundler/lib/dependabot/bundler/helpers.rb
Labels: L: ruby:bundler

#10601 Raise Error for Unsupported Bundler Version
  bundler/lib/dependabot/bundler/package_manager.rb
  bundler/spec/dependabot/bundler/package_manager_spec.rb
  common/lib/dependabot/notices.rb
  common/lib/dependabot/package_manager.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/package_manager_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/spec/dependabot/notices_helpers_spec.rb
  updater/spec/dependabot/updater/operations/create_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_version_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/update_all_versions_spec.rb
  updater/spec/dependabot/updater/pull_request_helpers_spec.rb
  updater/spec/support/dummy_pkg_helpers.rb
Labels: L: ruby:bundler

#10558 Use new implementation of Maven version standard
  .github/workflows/smoke.yml
  maven/lib/dependabot/maven/new_version.rb
  maven/lib/dependabot/maven/update_checker/requirements_updater.rb
  maven/lib/dependabot/maven/version.rb
  maven/spec/dependabot/maven/new_version_spec.rb
  maven/spec/dependabot/maven/requirement_spec.rb
  maven/spec/dependabot/maven/update_checker/requirements_updater_spec.rb
  maven/spec/dependabot/maven/version_spec.rb
Labels: L: java:maven

#10641 Strict type `Dependabot::Terraform::RequirementsUpdater`
  terraform/lib/dependabot/terraform/requirements_updater.rb
  terraform/spec/dependabot/terraform/requirements_updater_spec.rb
Labels: L: terraform, sorbet 🍦

#10642 Run sorbet against `main`
  .github/workflows/sorbet.yml
Labels: sorbet 🍦

#10647 Revert "Use new implementation of Maven version standard"
  .github/workflows/smoke.yml
  maven/lib/dependabot/maven/new_version.rb
  maven/lib/dependabot/maven/update_checker/requirements_updater.rb
  maven/lib/dependabot/maven/version.rb
  maven/spec/dependabot/maven/new_version_spec.rb
  maven/spec/dependabot/maven/requirement_spec.rb
  maven/spec/dependabot/maven/update_checker/requirements_updater_spec.rb
  maven/spec/dependabot/maven/version_spec.rb
Labels: L: java:maven

#10619 Fixes exception handler for file_not_parseable under file_updater and fixes error handler for package not found error
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_dep_access_with_no_package_name/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_dep_access_with_no_package_name/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/private_package_access_with_package_name/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/private_package_access_with_package_name/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_package_access_with_package_name/pnpm-lock.yaml
Labels: L: javascript

#9678 Support NuGet lockfiles (Updated)
  .gitignore
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/lib/dependabot/nuget/file_fetcher.rb
Labels: L: dotnet:nuget

#10521 add end-to-end C# update runner
  nuget/Dockerfile
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Program.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/TestApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/PathHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/DependencyFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/AllowedUpdate.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CreatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/DependencyFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/IncrementMetric.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobSource.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/MarkAsProcessed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ReportedDependency.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ReportedRequirement.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/RequirementSource.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdatedDependencyList.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/IApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
  nuget/script/run
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#10685 raise specific error when no update was possible
  common/lib/dependabot/errors.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
Labels: L: dotnet:nuget

#10686 Python Dependabot::SharedHelpers::HelperSubprocessFailed issues fixes
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
Labels: L: python

#10687 update package to fix bug in XML reader
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
Labels: L: dotnet:nuget

#10671 use new nuget dependency solver by default
  nuget/lib/dependabot/nuget/native_helpers.rb
Labels: L: dotnet:nuget
