Repository dependabot/dependabot-core, pull requests merged in 2024-01, with the labels that each got.

#8619 Bump Bundler to 2.5
  Dockerfile.updater-core
  bundler/helpers/v2/spec/shared_contexts.rb
  bundler/spec/shared_contexts.rb
  updater/Gemfile.lock
Labels: L: ruby:bundler

#8703 create azure nuget package urls directly from endpoint types
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
Labels: L: dotnet:nuget

#8702 fix unsupported Go modules preventing updates
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/lib/dependabot/go_modules/resolvability_errors.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/spec/dependabot/go_modules/update_checker/latest_version_finder_spec.rb
Labels: L: go:modules

#8704 Check if RBIs are up-to-date
  .github/dependabot.yml
  .github/workflows/sorbet.yml
  .gitignore
  Gemfile.lock
  sorbet/rbi/gems/aws-partitions@1.877.0.rbi
  sorbet/rbi/gems/aws-sdk-codecommit@1.60.0.rbi
  sorbet/rbi/gems/aws-sdk-codecommit@1.63.0.rbi
  sorbet/rbi/gems/bigdecimal@3.1.5.rbi
  sorbet/rbi/gems/concurrent-ruby@1.2.2.rbi
  sorbet/rbi/gems/dry-configurable@1.1.0.rbi
  sorbet/rbi/gems/dry-core@1.0.1.rbi
  sorbet/rbi/gems/dry-inflector@1.0.0.rbi
  sorbet/rbi/gems/dry-initializer@3.1.1.rbi
  sorbet/rbi/gems/dry-logic@1.5.0.rbi
  sorbet/rbi/gems/dry-schema@1.13.3.rbi
  sorbet/rbi/gems/dry-types@1.7.2.rbi
  sorbet/rbi/gems/kwalify@0.7.2.rbi
  sorbet/rbi/gems/mime-types@3.5.2.rbi
  sorbet/rbi/gems/nokogiri@1.16.0.rbi
  sorbet/rbi/gems/reek@6.2.0.rbi
  sorbet/rbi/gems/rubocop@1.59.0.rbi
  sorbet/rbi/gems/zeitwerk@2.6.12.rbi
  sorbet/rbi/shims/aws-sdk-codecommit.rbi
Labels: sorbet 🍦

#8661 Handle missing files
  nuget/.gitignore
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorker.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8722 properly locate `nuget.config` when it's further up-directory from a project
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/fixtures/github/csproj_in_subdirectory/NuGet.Config
  nuget/spec/fixtures/github/csproj_in_subdirectory/src/some-project/some-project.csproj
Labels: L: dotnet:nuget

#8732 Support Python 3.12
  python/Dockerfile
  python/README.md
  python/lib/dependabot/python/language_version_manager.rb
  python/lib/dependabot/python/update_checker/pipenv_version_resolver.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/fixtures/projects/pipenv/missing-system-library-old-python/Pipfile
  python/spec/fixtures/projects/pipenv/missing-system-library/Pipfile.lock
  python/spec/fixtures/projects/unresolvable/requirements.in
  python/spec/fixtures/projects/unresolvable/requirements.txt
  python/spec/fixtures/requirements/pip_compile_native_dependencies.txt
Labels: L: python

#7134 Improve corepack setup
  bin/dry-run.rb
  npm_and_yarn/Dockerfile
  npm_and_yarn/helpers/test/npm6/conflicting-dependency-parser.test.js
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/json_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/native_helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#8679 NuGet efficiency
  bin/dry-run.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
  nuget/spec/fixtures/nuget_responses/index.json/no-results.api.example.com.index.json
  nuget/spec/fixtures/nuget_responses/index.json/with-results.api.example.com.index.json
  nuget/spec/fixtures/nuget_responses/search_results.json
  nuget/spec/fixtures/nuget_responses/search_results_zero_width.json
Labels: L: dotnet:nuget

#8752 Fix broken nuget CI
  nuget/lib/dependabot/nuget/cache_manager.rb
  nuget/lib/dependabot/nuget/file_parser/packages_config_parser.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/lib/dependabot/nuget/update_checker/requirements_updater.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_comparer.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
Labels: L: dotnet:nuget

#8624 Detect version constraint violations in NuGet
  nuget/helpers/lib/NuGetUpdater/.editorconfig
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8746 Test that file_parser reads .proj files
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
Labels: L: dotnet:nuget

#8750 Handle unexpected kub image shapes
  docker/lib/dependabot/docker/file_parser.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/fixtures/kubernetes/yaml/unexpected_image.yaml
Labels: L: docker

#8729 Strong type `Dependabot::PullRequestCreator`
  common/lib/dependabot/pull_request_creator.rb
Labels: sorbet 🍦

#8730 Strong type `Dependabot::PullRequestUpdater`
  common/lib/dependabot/pull_request_updater.rb
Labels: sorbet 🍦

#8736 Strong type `Dependabot::RegistryClient`
  common/lib/dependabot/registry_client.rb
  common/spec/dependabot/registry_client_spec.rb
  sorbet/rbi/shims/excon.rbi
Labels: sorbet 🍦

#8737 Strong type `Dependabot::Config::FileFetcher`
  common/lib/dependabot/config/file_fetcher.rb
Labels: sorbet 🍦

#8748 patch user-level `NuGet.Config` before invoking dotnet/nuget tools
  nuget/helpers/build
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/nuget_config_credential_helpers.rb
  nuget/spec/dependabot/nuget/nuget_config_credential_helpers_spec.rb
Labels: L: dotnet:nuget

#8757 Bump golang from 1.21.5-bookworm to 1.21.6-bookworm in /go_modules
  go_modules/Dockerfile
Labels: L: go:modules

#8727 Strong type `Dependabot::Version`
  Gemfile
  Gemfile.lock
  cargo/lib/dependabot/cargo/requirement.rb
  common/dependabot-common.gemspec
  common/lib/dependabot/dependency.rb
  common/lib/dependabot/version.rb
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  docker/lib/dependabot/docker/version.rb
  gradle/lib/dependabot/gradle/requirement.rb
  hex/lib/dependabot/hex/requirement.rb
  maven/lib/dependabot/maven/requirement.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/requirement.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/version.rb
  nuget/lib/dependabot/nuget/requirement.rb
  pub/lib/dependabot/pub/requirement.rb
  pub/lib/dependabot/pub/version.rb
  python/lib/dependabot/python/language_version_manager.rb
  python/lib/dependabot/python/requirement.rb
  sorbet/rbi/gems/parser@3.3.0.1.rbi
  terraform/lib/dependabot/terraform/requirement.rb
  terraform/lib/dependabot/terraform/version.rb
  updater/Gemfile.lock
Labels: L: php:composer, L: elixir:hex, L: java:gradle, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, sorbet 🍦

#8758 Strict type `Dependabot::PullRequestCreator::Labeler`
  common/lib/dependabot/pull_request_creator/labeler.rb
Labels: sorbet 🍦

#8754 Added Ruby 3.3.0 to RubyRequirementSetter version requirements
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
  bundler/spec/fixtures/projects/bundler1/gemfile_require_ruby_3_3/Gemfile
  bundler/spec/fixtures/projects/bundler1/gemfile_require_ruby_3_3/Gemfile.lock
  bundler/spec/fixtures/projects/bundler1/gemfile_require_ruby_3_3/example.gemspec
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_3/Gemfile
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_3/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_3/example.gemspec
Labels: L: ruby:bundler

#8765 defensive programming around missing dependency files during an update
  bundler/lib/dependabot/bundler/file_fetcher.rb
  common/lib/dependabot/file_fetchers/base.rb
  common/spec/dependabot/file_fetchers/base_spec.rb
  elm/lib/dependabot/elm/file_fetcher.rb
  github_actions/lib/dependabot/github_actions/file_fetcher.rb
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  gradle/lib/dependabot/gradle/file_fetcher.rb
  gradle/spec/dependabot/gradle/file_fetcher_spec.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
  python/lib/dependabot/python/file_fetcher.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  swift/lib/dependabot/swift/file_fetcher.rb
  terraform/lib/dependabot/terraform/file_fetcher.rb
  updater/lib/dependabot/updater/dependency_group_change_batch.rb
Labels: L: ruby:bundler, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: terraform, L: dotnet:nuget, L: python, L: swift

#8783 allow mismatching version in `.csproj`
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
Labels: L: dotnet:nuget

#8794 Strong type `Dependabot::FileParsers::Base`
  bundler/lib/dependabot/bundler/file_parser.rb
  cargo/lib/dependabot/cargo/file_parser.rb
  common/lib/dependabot/file_parsers/base.rb
  git_submodules/lib/dependabot/git_submodules/file_parser.rb
Labels: L: ruby:bundler, L: git:submodules, L: rust:cargo

#8774 Strict type `Dependabot::MetadataFinders::Base`
  common/lib/dependabot/metadata_finders/base.rb
  docker/lib/dependabot/docker/metadata_finder.rb
  git_submodules/lib/dependabot/git_submodules/metadata_finder.rb
  gradle/lib/dependabot/gradle/metadata_finder.rb
  nuget/lib/dependabot/nuget/metadata_finder.rb
  pub/lib/dependabot/pub/metadata_finder.rb
  swift/lib/dependabot/swift/metadata_finder.rb
Labels: L: java:gradle, L: git:submodules, L: docker, L: dotnet:nuget, L: dart:pub, L: swift

#8815 Use correct global.json discovery logic when updating.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/GlobalJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8766 Handle non-matching tags
  docker/lib/dependabot/docker/file_parser.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/fixtures/helm/yaml/no-tag.yaml
Labels: L: docker

#8793 Fix type definition for approvers in pull request creator
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/gitlab.rb
  common/spec/dependabot/pull_request_creator/gitlab_spec.rb
Labels: sorbet 🍦

#8827 Handle Update PackageReferences more correctly
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Dependency.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8812 Handle malformed Global.json
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/DotNetToolsJsonBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/GlobalJsonBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/DotNetToolsJsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/GlobalJsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/JsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/DotNetToolsJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/GlobalJsonUpdater.cs
Labels: L: dotnet:nuget

#8840 Handle STDOUT more correctly
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProcessExtensions.cs
Labels: L: dotnet:nuget

#8445 Add `devcontainers` ecosystem
  devcontainers/lib/dependabot/devcontainers/file_fetcher.rb
  devcontainers/lib/dependabot/devcontainers/file_parser.rb
  devcontainers/lib/dependabot/devcontainers/file_parser/feature_dependency_parser.rb
  devcontainers/lib/dependabot/devcontainers/file_updater.rb
  devcontainers/lib/dependabot/devcontainers/file_updater/config_updater.rb
  devcontainers/lib/dependabot/devcontainers/requirement.rb
  devcontainers/lib/dependabot/devcontainers/update_checker.rb
  devcontainers/lib/dependabot/devcontainers/utils.rb
  devcontainers/lib/dependabot/devcontainers/version.rb
  devcontainers/spec/dependabot/devcontainers/file_fetcher_spec.rb
  devcontainers/spec/dependabot/devcontainers/file_parser_spec.rb
  devcontainers/spec/dependabot/devcontainers/file_updater_spec.rb
  devcontainers/spec/dependabot/devcontainers/update_checker_spec.rb
  devcontainers/spec/fixtures/projects/config_in_dot_devcontainer_folder/.devcontainer/devcontainer.json
  devcontainers/spec/fixtures/projects/config_in_root/.devcontainer.json
  devcontainers/spec/fixtures/projects/custom_configs/.devcontainer/bar/devcontainer.json
  devcontainers/spec/fixtures/projects/custom_configs/.devcontainer/foo/devcontainer.json
  devcontainers/spec/fixtures/projects/deprecated/.devcontainer.json
  devcontainers/spec/fixtures/projects/manifest_and_lockfile/.devcontainer-lock.json
  devcontainers/spec/fixtures/projects/manifest_and_lockfile/.devcontainer.json
  devcontainers/spec/fixtures/projects/multiple_configs/.devcontainer.json
  devcontainers/spec/fixtures/projects/multiple_configs/.devcontainer/devcontainer.json
  devcontainers/spec/fixtures/projects/multiple_roots/.devcontainer/devcontainer.json
  devcontainers/spec/fixtures/projects/multiple_roots/src/go/.devcontainer/devcontainer-lock.json
  devcontainers/spec/fixtures/projects/multiple_roots/src/go/.devcontainer/devcontainer.json
  devcontainers/spec/fixtures/projects/sha_pinned/.devcontainer.json
  devcontainers/spec/fixtures/projects/updated_manifest_outdated_lockfile/.devcontainer-lock.json
  devcontainers/spec/fixtures/projects/updated_manifest_outdated_lockfile/.devcontainer.json
Labels: L: devcontainers

#8791 Strong type `Dependabot::FileFetchers::Base::DependencySet`
  common/lib/dependabot/dependency.rb
  common/lib/dependabot/file_parsers/base/dependency_set.rb
  common/spec/dependabot/file_parsers/base/dependency_set_spec.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
Labels: L: github:actions, L: dotnet:nuget, L: python, sorbet 🍦

#8862 Docker fetcher: support filenames with a `.` in the middle of the name
  docker/lib/dependabot/docker/file_fetcher.rb
  docker/spec/dependabot/docker/file_fetcher_spec.rb
  docker/spec/fixtures/github/contents_helm_repo.json
Labels: L: docker

#8849 Centralize more Nuget calls
  Gemfile
  Gemfile.lock
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  sorbet/rbi/gems/diff-lcs@1.5.0.rbi
  sorbet/rbi/gems/io-console@0.7.2.rbi
  sorbet/rbi/gems/parallel_tests@4.4.0.rbi
  sorbet/rbi/gems/rdoc@6.6.2.rbi
  sorbet/rbi/gems/reline@0.4.2.rbi
  sorbet/rbi/gems/rspec-core@3.12.2.rbi
  sorbet/rbi/gems/rspec-expectations@3.12.3.rbi
  sorbet/rbi/gems/rspec-its@1.3.0.rbi
  sorbet/rbi/gems/rspec-mocks@3.12.6.rbi
  sorbet/rbi/gems/rspec-sorbet@1.9.2.rbi
  sorbet/rbi/gems/rspec-support@3.12.1.rbi
  sorbet/rbi/gems/rspec@3.12.0.rbi
  sorbet/rbi/gems/turbo_tests@2.2.0.rbi
  sorbet/rbi/gems/vcr@6.2.0.rbi
Labels: L: dotnet:nuget

#8863 Disable analyzers in MSBuild temp projects
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8842 use common helper to look for `Directory.Packages.props`
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/fixtures/github/csproj_in_subdirectory/Directory.Packages.props
Labels: L: dotnet:nuget

#8869 Allow BranchNamer to be passed a nil branch
  common/lib/dependabot/pull_request_creator.rb
  common/spec/dependabot/pull_request_creator_spec.rb
Labels: sorbet 🍦

#8818 Migrate from `sentry-raven` to `sentry-ruby`
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  sorbet/rbi/shims/sentry-raven.rbi
  sorbet/rbi/shims/sentry-ruby.rbi
  sorbet/rbi/todo.rbi
  updater/Gemfile
  updater/Gemfile.lock
  updater/bin/fetch_files.rb
  updater/bin/update_files.rb
  updater/lib/dependabot/base_command.rb
  updater/lib/dependabot/sentry/exception_sanitizer_processor.rb
  updater/lib/dependabot/sentry/processor.rb
  updater/lib/dependabot/sentry/sentry_context_processor.rb
  updater/lib/dependabot/service.rb
  updater/lib/dependabot/setup.rb
  updater/lib/dependabot/updater/error_handler.rb
  updater/lib/dependabot/updater/errors.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/sentry/exception_sanitizer_processor_spec.rb
  updater/spec/dependabot/service_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
  updater/spec/dependabot/updater/error_handler_spec.rb
  updater/spec/dependabot/updater_spec.rb
  updater/spec/spec_helper.rb
Labels: L: javascript

#8874 Revert "Migrate from `sentry-raven` to `sentry-ruby`"
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  sorbet/rbi/shims/sentry-raven.rbi
  sorbet/rbi/shims/sentry-ruby.rbi
  sorbet/rbi/todo.rbi
  updater/Gemfile
  updater/Gemfile.lock
  updater/bin/fetch_files.rb
  updater/bin/update_files.rb
  updater/lib/dependabot/base_command.rb
  updater/lib/dependabot/sentry.rb
  updater/lib/dependabot/sentry/processor.rb
  updater/lib/dependabot/sentry/sentry_context_processor.rb
  updater/lib/dependabot/service.rb
  updater/lib/dependabot/setup.rb
  updater/lib/dependabot/updater/error_handler.rb
  updater/lib/dependabot/updater/errors.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/sentry_spec.rb
  updater/spec/dependabot/service_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
  updater/spec/dependabot/updater/error_handler_spec.rb
  updater/spec/dependabot/updater_spec.rb
  updater/spec/spec_helper.rb
Labels: L: javascript

#8875 Docker parser/updater: also support files with a `.` in the name
  docker/lib/dependabot/docker/file_parser.rb
  docker/lib/dependabot/docker/file_updater.rb
Labels: L: docker

#8879 try to perform environment variable expansion in `NuGet.Confing`
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
Labels: L: dotnet:nuget

#8880 Point again to latest pipenv release
  python/helpers/requirements.txt
Labels: L: python

#8866 Strict type `Dependabot::PullRequestCreator::PrNamePrefixer`
  common/lib/dependabot/pull_request_creator/pr_name_prefixer.rb
Labels: sorbet 🍦

#8865 Strong type `Dependabot::PullRequestCreator::MessageBuilder::IssueLinker`
  common/lib/dependabot/pull_request_creator/message_builder/issue_linker.rb
Labels: sorbet 🍦

#8889 Use proper discovery logic for dotnet-tools.json files.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DotNetTools.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/DotNetToolsJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#8891 [gradle] Parse repositories from the top-level buildfile
  gradle/lib/dependabot/gradle/file_parser/repositories_finder.rb
  gradle/spec/dependabot/gradle/file_parser/repositories_finder_spec.rb
Labels: T: bug 🐞, L: java:gradle

#8892 only directly query `.nuspec` files from nuget and azure devops
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker/nuspec_fetcher.rb
  nuget/spec/dependabot/nuget/nuget_client_spec.rb
  nuget/spec/dependabot/nuget/update_checker/dependency_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/nuspec_fetcher_spec.rb
Labels: L: dotnet:nuget

#8894 Add a guard for nil top level buildfiles
  gradle/lib/dependabot/gradle/file_parser/repositories_finder.rb
Labels: L: java:gradle

#8878 Migrate from `sentry-raven` to `sentry-ruby`
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  sorbet/rbi/shims/sentry-raven.rbi
  sorbet/rbi/shims/sentry-ruby.rbi
  sorbet/rbi/todo.rbi
  updater/Gemfile
  updater/Gemfile.lock
  updater/bin/fetch_files.rb
  updater/bin/update_files.rb
  updater/lib/dependabot/base_command.rb
  updater/lib/dependabot/sentry.rb
  updater/lib/dependabot/sentry/exception_sanitizer_processor.rb
  updater/lib/dependabot/sentry/processor.rb
  updater/lib/dependabot/sentry/sentry_context_processor.rb
  updater/lib/dependabot/service.rb
  updater/lib/dependabot/setup.rb
  updater/lib/dependabot/updater/error_handler.rb
  updater/lib/dependabot/updater/errors.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/sentry/exception_sanitizer_processor_spec.rb
  updater/spec/dependabot/sentry/sentry_context_processor_spec.rb
  updater/spec/dependabot/service_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
  updater/spec/dependabot/updater/error_handler_spec.rb
  updater/spec/dependabot/updater_spec.rb
  updater/spec/spec_helper.rb
Labels: L: javascript

#8901 search all candidate packages for compatibility in descending version order
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
  nuget/spec/fixtures/nuspecs/nunit.3.14.0_faked.nuspec
  nuget/spec/fixtures/nuspecs/nunit.4.0.1_faked.nuspec
Labels: L: dotnet:nuget

#8893 Strict type `Dependabot::MetadataFinders::CommitsFinder`
  common/lib/dependabot/metadata_finders/base/commits_finder.rb
Labels: sorbet 🍦

#8897 Strict type `Dependabot::MetadataFinders::Base::ReleaseFinder`
  common/lib/dependabot/metadata_finders/base/release_finder.rb
Labels: sorbet 🍦

#8902 Strict type `Dependabot::MetadataFinders::Base::ChangelogPruner`
  common/lib/dependabot/metadata_finders/base/changelog_pruner.rb
Labels: sorbet 🍦

#8667 build(deps): bump pNPM to 8.14.3
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8913 Handle MSBuild property conditions that have a property wrapped in single quotes in NuGetUpdater
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8915 Don't assume `.nuspec` dependency group has a `targetFramework` attribute.
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_comparer.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
  nuget/spec/dependabot/nuget/update_checker/compatibility_checker_spec.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/tfm_finder_spec.rb
  nuget/spec/fixtures/nuspecs/Microsoft.AppCenter.Crashes_faked.nuspec
Labels: L: dotnet:nuget

#8929 Remove invalid UTF-8 characters from nuspec response body
  nuget/lib/dependabot/nuget/update_checker/nuspec_fetcher.rb
  nuget/spec/dependabot/nuget/update_checker/nuspec_fetcher_spec.rb
Labels: L: dotnet:nuget

#8835 Always use .ruby-version for Bundler dependency resolution
  bundler/helpers/v2/monkey_patches/definition_ruby_version_patch.rb
  bundler/lib/dependabot/bundler/file_fetcher.rb
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
Labels: L: ruby:bundler

#8695 Surround command line arguments with quotes
  nuget/lib/dependabot/nuget/native_helpers.rb
Labels: L: dotnet:nuget

#8942 Strict type `Dependabot::PullRequestCreator::MessageBuilder::Metadata::Presenter`
  common/lib/dependabot/pull_request_creator/message_builder/metadata_presenter.rb
Labels: sorbet 🍦

#8228 Add codespell config and workflow to detect new typos, fix some already found typos
  .codespellrc
  .github/workflows/codespell.yml
  CODE_OF_CONDUCT.md
  Dockerfile.development
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  cargo/spec/dependabot/cargo/version_spec.rb
  common/lib/dependabot/clients/bitbucket.rb
  common/lib/dependabot/file_updaters/artifact_updater.rb
  common/lib/dependabot/file_updaters/vendor_updater.rb
  common/lib/dependabot/pull_request_creator/branch_namer/solo_strategy.rb
  common/lib/dependabot/pull_request_creator/message_builder.rb
  common/lib/dependabot/security_advisory.rb
  common/lib/dependabot/workspace/git.rb
  common/spec/dependabot/clients/azure_spec.rb
  common/spec/dependabot/pull_request_creator/branch_namer/solo_strategy_spec.rb
  common/spec/dependabot/pull_request_creator/branch_namer_spec.rb
  common/spec/dependabot/pull_request_creator/labeler_spec.rb
  common/spec/dependabot/pull_request_updater/azure_spec.rb
  composer/spec/dependabot/composer/file_updater_spec.rb
  github_actions/spec/dependabot/github_actions/file_fetcher_spec.rb
  gradle/lib/dependabot/gradle/file_fetcher.rb
  gradle/spec/dependabot/gradle/file_fetcher_spec.rb
  gradle/spec/dependabot/gradle/requirement_spec.rb
  maven/spec/dependabot/maven/requirement_spec.rb
  npm_and_yarn/Dockerfile
  npm_and_yarn/helpers/lib/yarn/conflicting-dependency-parser.js
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/vulnerability_auditor.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.CommandLine/AssemblyMetadataExtractor.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectResolver.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/JsonHelper.cs
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  pub/README.md
  python/lib/dependabot/python/file_parser.rb
  python/spec/dependabot/python/requirement_parser_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
  updater/README.md
  updater/lib/dependabot/dependency_group_engine.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/updater/operations/create_group_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_group_update_pull_request.rb
  updater/spec/dependabot/dependency_group_engine_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python

#8933 always clone all the ecosystems
  bin/dry-run.rb
  common/lib/dependabot/utils.rb
  devcontainers/lib/dependabot/devcontainers.rb
  go_modules/lib/dependabot/go_modules.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  nuget/lib/dependabot/nuget.rb
  pub/lib/dependabot/pub.rb
  python/lib/dependabot/python.rb
  silent/lib/dependabot/silent.rb
  swift/lib/dependabot/swift.rb
  terraform/lib/dependabot/terraform.rb
  updater/lib/dependabot/job.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/integration_spec.rb
  updater/spec/dependabot/job_spec.rb
  updater/spec/fixtures/bundler_git/original/Gemfile
  updater/spec/fixtures/bundler_git/original/Gemfile.lock
  updater/spec/fixtures/bundler_git/updated/Gemfile
  updater/spec/fixtures/bundler_git/updated/Gemfile.lock
  updater/spec/support/dummy_package_manager/dummy.rb
Labels: L: go:modules, L: terraform, L: dotnet:nuget, L: dart:pub, L: javascript, L: python, L: swift, L: devcontainers

#8103 bump(deps): bump regclient from 0.5.1 to 0.5.6
  docker/Dockerfile
Labels: L: docker
