Repository dependabot/dependabot-core, pull requests merged in 2024-08, with the labels that each got.

#10332 Properly reject NuGet newline-only changes.
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
Labels: L: dotnet:nuget

#10322 Fixes issues related with Dependabot::NpmAndYarn::UpdateChecker::LatestVersionFinder::RegistryError
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access_registry/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access_registry/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access_registry/package.json
  updater/lib/dependabot/updater/operations/update_all_versions.rb
Labels: L: javascript

#10338 Fix ArgumentError Malformed version number in github actions
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  github_actions/spec/fixtures/git/upload_packs/github-workflows-no-tags
Labels: L: github:actions

#10349 Fixes Dependabot::SharedHelpers::HelperSubprocessFailed issues
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
Labels: L: javascript

#10344 Add Spec Tests for `CreateSecurityUpdatePullRequest`
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/fixtures/bundler_simple/original/Gemfile
  updater/spec/fixtures/bundler_simple/original/Gemfile.lock
  updater/spec/fixtures/job_definitions/bundler/version_updates/pull_request_simple.yaml
Labels: L: javascript

#10282 Report transitive dependency vulnerability errors for npm, yarn, and pnpm
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: core 🍏, L: javascript

#10353 allow for wildcards in version requirements
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/RequirementTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/Requirement.cs
Labels: L: dotnet:nuget

#10354 report no new version if a given package doesn't exist on any feed
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
Labels: L: dotnet:nuget

#10355 convert test to not require the network
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TemporaryEnvironment.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
Labels: L: dotnet:nuget

#10374 Add Error Handling for YN0082 in YarnErrorHandler
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10378 Fixes issues related with Dependabot::NpmAndYarn::UpdateChecker::LatestVersionFinder::RegistryError
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
Labels: L: javascript

#10380 Fixes logger location for Dependabot::NpmAndYarn::UpdateChecker::LatestVersionFinder::RegistryError
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
Labels: L: javascript

#10381 Fixes JSON::ParserError: unexpected token issue
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/fixtures/npm_responses/200_with_invalid_json.json
  npm_and_yarn/spec/fixtures/npm_responses/200_with_valid_json.json
Labels: L: javascript

#10371 NPM: fix security update for indirect and direct dependencies
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  npm_and_yarn/spec/fixtures/npm_responses/lodash.json
  npm_and_yarn/spec/fixtures/projects/npm8/top_level_and_transitive/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm8/top_level_and_transitive/package.json
Labels: L: javascript

#10392 Fixes RuntimeError-No package.json issue
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/spec/dependabot/updater_spec.rb
Labels: L: javascript

#10398 Fixes ERR_PNPM_FETCH-HelperSubprocessFailed
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_no_access/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_no_access/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_no_access/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_with_server_error/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_with_server_error/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_with_server_error/pnpm-lock.yaml
Labels: L: javascript

#10386 Fix failing tests in the python ecosystem
  python/helpers/lib/parser.py
Labels: L: python

#10390 Fixes Dependabot::ToolVersionNotSupported issues
  common/lib/dependabot/errors.rb
Labels: L: javascript

#10419 Fixes Dependabot::SharedHelpers::HelperSubprocessFailed - ERR_PNPM_UNSUPPORTED_ENGINE
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_npm/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_npm/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_npm/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_pnpm/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_pnpm/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_pnpm/pnpm-lock.yaml
Labels: L: javascript

#10370 update nuget/Dockerfile, dotnet_sdk_version is now 8.0.303
  nuget/Dockerfile
Labels: L: dotnet:nuget

#10343 feature-intern-ResolveDependencyConflictsNew to main
  .dockerignore
  .github/workflows/smoke.yml
  .gitignore
  nuget/.dockerignore
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
Labels: L: dotnet:nuget

#10430 Fixes issues related with err_pnpm_patch_not_applied and err_pnpm_tarball_integrity errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/patch_not_applied/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/patch_not_applied/patches/@nx__js@18.0.2.patch
  npm_and_yarn/spec/fixtures/projects/pnpm/patch_not_applied/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/tarball_integrity/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/tarball_integrity/pnpm-lock.yaml
Labels: L: javascript

#10389 Added Missing Regex for Allowlist Dependency Files
  bundler/lib/dependabot/bundler/file_updater.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  cargo/lib/dependabot/cargo/file_updater.rb
  cargo/spec/dependabot/cargo/file_updater_spec.rb
  common/lib/dependabot/file_updaters/base.rb
  composer/lib/dependabot/composer/file_updater.rb
  composer/spec/dependabot/composer/file_updater_spec.rb
  devcontainers/lib/dependabot/devcontainers/file_updater.rb
  devcontainers/spec/dependabot/devcontainers/file_updater_spec.rb
  docker/lib/dependabot/docker/file_updater.rb
  docker/spec/dependabot/docker/file_updater_spec.rb
  elm/lib/dependabot/elm/file_updater.rb
  elm/spec/dependabot/elm/file_updater_spec.rb
  git_submodules/lib/dependabot/git_submodules/file_updater.rb
  git_submodules/spec/dependabot/git_submodules/file_updater_spec.rb
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  go_modules/lib/dependabot/go_modules/file_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
  gradle/lib/dependabot/gradle/file_updater.rb
  gradle/spec/dependabot/gradle/file_updater_spec.rb
  hex/lib/dependabot/hex/file_updater.rb
  hex/spec/dependabot/hex/file_updater_spec.rb
  maven/lib/dependabot/maven/file_updater.rb
  maven/spec/dependabot/maven/file_updater_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  pub/lib/dependabot/pub/file_updater.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  python/lib/dependabot/python/file_updater.rb
  python/spec/dependabot/python/file_updater_spec.rb
  swift/lib/dependabot/swift/file_updater.rb
  swift/spec/dependabot/swift/file_updater_spec.rb
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift, L: devcontainers

#10436 Fixes Dependabot::SharedHelpers::HelperSubprocessFailed - err_pnpm_unsupported_platform error code
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_platform/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_platform/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_platform/pnpm-lock.yaml
Labels: L: javascript

#10444 Adds outofDisk exception handler for updater
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10448 Fixes illformed requirement error propagation to unknown errors
  common/lib/dependabot/errors.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/requirement_spec.rb
Labels: L: javascript

#10421 Add Bundler v1 Deprecation Warning
  bundler/lib/dependabot/bundler.rb
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/file_parser/file_preparer.rb
  bundler/lib/dependabot/bundler/package_manager.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/package_manager_spec.rb
  common/lib/dependabot/file_parsers/base.rb
  common/lib/dependabot/notices.rb
  common/lib/dependabot/package_manager.rb
  common/lib/dependabot/pull_request_creator/message_builder.rb
  common/spec/dependabot/file_parsers/base_spec.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/package_manager_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  updater/lib/dependabot/dependency_change.rb
  updater/lib/dependabot/dependency_change_builder.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/lib/dependabot/updater/security_update_helpers.rb
  updater/spec/dependabot/dependency_change_spec.rb
  updater/spec/dependabot/updater/operations/create_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_version_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/update_all_versions_spec.rb
  updater/spec/dependabot/updater/pull_request_helpers_spec.rb
Labels: L: ruby:bundler

#10451 only discover dependencies from known project types
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10456 Fixes Yarn Dependabot::Updater::SubprocessFailed issues
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10449 fix handling of NuGet transitive dependencies
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/native_discovery/native_dependency_file_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/lib/dependabot/nuget/native_discovery/native_project_discovery.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_requirements_updater.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_update_checker.rb
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/lib/dependabot/nuget/update_checker/requirements_updater.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/spec/dependabot/nuget/native_update_checker/native_requirements_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#10457 Revert Changes to updated_files_regex method with latest regex from the API
  bundler/lib/dependabot/bundler/file_updater.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  cargo/lib/dependabot/cargo/file_updater.rb
  cargo/spec/dependabot/cargo/file_updater_spec.rb
  common/lib/dependabot/file_updaters/base.rb
  composer/lib/dependabot/composer/file_updater.rb
  composer/spec/dependabot/composer/file_updater_spec.rb
  devcontainers/lib/dependabot/devcontainers/file_updater.rb
  devcontainers/spec/dependabot/devcontainers/file_updater_spec.rb
  docker/lib/dependabot/docker/file_updater.rb
  docker/spec/dependabot/docker/file_updater_spec.rb
  elm/lib/dependabot/elm/file_updater.rb
  elm/spec/dependabot/elm/file_updater_spec.rb
  git_submodules/lib/dependabot/git_submodules/file_updater.rb
  git_submodules/spec/dependabot/git_submodules/file_updater_spec.rb
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  go_modules/lib/dependabot/go_modules/file_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
  gradle/lib/dependabot/gradle/file_updater.rb
  gradle/spec/dependabot/gradle/file_updater_spec.rb
  hex/lib/dependabot/hex/file_updater.rb
  hex/spec/dependabot/hex/file_updater_spec.rb
  maven/lib/dependabot/maven/file_updater.rb
  maven/spec/dependabot/maven/file_updater_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  pub/lib/dependabot/pub/file_updater.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  python/lib/dependabot/python/file_updater.rb
  python/spec/dependabot/python/file_updater_spec.rb
  swift/lib/dependabot/swift/file_updater.rb
  swift/spec/dependabot/swift/file_updater_spec.rb
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift, L: devcontainers

#10473 Fix : Dependabot::DependabotError: [YN0001] issues
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10472 Revert "rework reporting of dependencies and requirements to better handle transitive dependencies"
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/native_discovery/native_dependency_file_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/lib/dependabot/nuget/native_discovery/native_project_discovery.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_requirements_updater.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_update_checker.rb
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/lib/dependabot/nuget/update_checker/requirements_updater.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/spec/dependabot/nuget/native_update_checker/native_requirements_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#10483 Error handlers for Dependabot::SharedHelpers::HelperSubprocessFailed PNPM errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/invalid_package_manager/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/invalid_package_manager/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/meta_fetch_fail/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/meta_fetch_fail/pnpm-lock.yaml
Labels: L: javascript

#10470 chore(python): target latest python 3.12.5 version
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#10491 Fixes unhandled couldn't find any versions for package exception
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10494 Fixes Dependabot::SharedHelpers::HelperSubprocessFailed related issues
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/broken_metadata/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/broken_metadata/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/missing_workspace_dir_package/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/missing_workspace_dir_package/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/missing_workspace_package/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/missing_workspace_package/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/missing_workspace_package/pnpm-workspace.yaml
Labels: L: javascript

#10466 Implement Logging for Bundler v1 Deprecation Warnings
  common/lib/dependabot/notices.rb
  common/lib/dependabot/pull_request_creator/message_builder.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/notices_helpers.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/lib/dependabot/updater/security_update_helpers.rb
  updater/spec/dependabot/notices_helpers_spec.rb
  updater/spec/dependabot/updater/operations/create_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_version_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/update_all_versions_spec.rb
Labels: core 🍏

#10505 Adds handler for YARN :: YN0xx errors
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10506 Fixes NPM unhandled exceptions in Dependabot::SharedHelpers::HelperSubprocessFailed
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
Labels: L: javascript

#10445 Support for pub workspaces
  pub/Dockerfile
  pub/helpers/pubspec.lock
  pub/helpers/pubspec.yaml
  pub/lib/dependabot/pub/file_fetcher.rb
  pub/spec/dependabot/pub/file_fetcher_spec.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  pub/spec/dependabot/pub/infer_sdk_versions_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  pub/spec/fixtures/flutter_releases.json
  pub/spec/fixtures/projects/allows_latest_stable/pubspec.yaml
  pub/spec/fixtures/projects/can_update/pubspec.lock
  pub/spec/fixtures/projects/can_update/pubspec.yaml
  pub/spec/fixtures/projects/can_update_content_hashes/pubspec.lock
  pub/spec/fixtures/projects/can_update_content_hashes/pubspec.yaml
  pub/spec/fixtures/projects/can_update_library/pubspec.lock
  pub/spec/fixtures/projects/can_update_library/pubspec.yaml
  pub/spec/fixtures/projects/can_update_publish_to_none/pubspec.lock
  pub/spec/fixtures/projects/can_update_publish_to_none/pubspec.yaml
  pub/spec/fixtures/projects/can_update_workspace/app/pubspec.yaml
  pub/spec/fixtures/projects/can_update_workspace/pubspec.lock
  pub/spec/fixtures/projects/can_update_workspace/pubspec.yaml
  pub/spec/fixtures/projects/hat_version_up_to_date/pubspec.yaml
  pub/spec/fixtures/projects/mono_repo/dep/pubspec.yaml
  pub/spec/fixtures/projects/mono_repo/main/pubspec.yaml
  pub/spec/fixtures/projects/mono_repo_main_at_root/dep/pubspec.yaml
  pub/spec/fixtures/projects/mono_repo_main_at_root/pubspec.yaml
  pub/spec/fixtures/projects/requires_flutter/pubspec.lock
  pub/spec/fixtures/projects/requires_flutter/pubspec.yaml
  pub/spec/fixtures/projects/requires_latest_beta/pubspec.yaml
  pub/spec/fixtures/projects/yaml_alias/pubspec.yaml
  pub/spec/fixtures/pub_dev_responses/simple/README.md
  pub/spec/fixtures/pub_dev_responses/simple/characters.json
  pub/spec/fixtures/pub_dev_responses/simple/collection.json
  pub/spec/fixtures/pub_dev_responses/simple/fixnum.json
  pub/spec/fixtures/pub_dev_responses/simple/lints.json
  pub/spec/fixtures/pub_dev_responses/simple/material_color_utilities.json
  pub/spec/fixtures/pub_dev_responses/simple/meta.json
  pub/spec/fixtures/pub_dev_responses/simple/path.json
  pub/spec/fixtures/pub_dev_responses/simple/protobuf.json
  pub/spec/fixtures/pub_dev_responses/simple/pub_semver.json
  pub/spec/fixtures/pub_dev_responses/simple/retry.json
  pub/spec/fixtures/pub_dev_responses/simple/vector_math.json
Labels: L: dart:pub

#10512 Error handler for Dependabot::Updater::SubprocessFailed: Subprocess issues
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10526 Fixes Yarn Dependabot::SharedHelpers::HelperSubprocessFailed issues
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript
