Repository dependabot/dependabot-core, pull requests merged in 2024-05, with the labels that each got.

#9635 Resolve some Sorbet errors in Terraform
  terraform/lib/dependabot/terraform/file_fetcher.rb
  terraform/lib/dependabot/terraform/file_filter.rb
  terraform/lib/dependabot/terraform/file_selector.rb
Labels: L: terraform, sorbet 🍦

#9637 Strict type `Dependabot::NpmAndYarn::FileUpdater::NpmrcBuilder`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
Labels: L: javascript, sorbet 🍦

#9645 Specify patch levels for previous Rubies
  bundler/helpers/v1/monkey_patches/definition_ruby_version_patch.rb
Labels: L: ruby:bundler

#8719 Add support for Cargo private registries
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/lib/dependabot/cargo/file_parser.rb
  cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb
  cargo/lib/dependabot/cargo/helpers.rb
  cargo/lib/dependabot/cargo/metadata_finder.rb
  cargo/lib/dependabot/cargo/registry_fetcher.rb
  cargo/lib/dependabot/cargo/update_checker/latest_version_finder.rb
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/fixtures/github/contents_cargo_config.json
  cargo/spec/fixtures/github/contents_cargo_dir.json
  cargo/spec/fixtures/github/contents_cargo_with_lockfile.json
  cargo/spec/fixtures/github/contents_cargo_without_lockfile.json
  common/lib/dependabot/shared_helpers.rb
Labels: L: rust:cargo

#9642 Allow NuGet dependencies to exist with duplicate names but different dependency types
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#9556 Improve handling for hashing unknown packages
  .editorconfig
  python/helpers/lib/hasher.py
  python/lib/dependabot/python/file_updater.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/lib/dependabot/python/file_updater/requirement_file_updater.rb
  python/lib/dependabot/python/file_updater/requirement_replacer.rb
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/requirement_file_updater_spec.rb
  python/spec/dependabot/python/file_updater_spec.rb
  python/spec/fixtures/requirements/hashes_unknown_package.txt
Labels: L: python

#9643 Dependabot core issue npe composer fileparser
  composer/lib/dependabot/composer/file_parser.rb
  composer/spec/dependabot/composer/file_parser_spec.rb
  composer/spec/fixtures/projects/null_dependencies_with_lockfile/composer.json
  composer/spec/fixtures/projects/null_dependencies_with_lockfile/composer.lock
Labels: L: php:composer

#9668 Use pnpm@9 for lockfile >= 9.0
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/9_0_format/pnpm-lock.yaml
Labels: L: javascript

#9679 Update bundler module to ruby 3.3.1
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
  bundler/spec/fixtures/projects/bundler1/gemfile_require_ruby_3_3/example.gemspec
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_3/example.gemspec
Labels: L: ruby:bundler

#9689 allow 4 part version numbers for transitive dependencies
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#9713 #6016: Address RSpec/ContextMethod Rubocop violations
  .rubocop_todo.yml
  cargo/spec/dependabot/cargo/update_checker_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  nuget/spec/dependabot/nuget/update_checker/compatibility_checker_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
Labels: L: php:composer, L: rust:cargo, L: dotnet:nuget, L: javascript, L: python

#9717 Change dependabot-core license to MIT
  CONTRIBUTING.md
  LICENSE
  README.md
  common/dependabot-common.gemspec
  composer/helpers/v1/composer.json
  composer/helpers/v2/composer.json
  dependabot-core.gemspec
Labels: L: php:composer, L: ruby:bundler

#9716 Reenable RSpec/ExpectChange
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  common/spec/dependabot/file_updaters/base_spec.rb
Labels: L: ruby:bundler

#9714 Reenable RSpec/BeEmpty
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/update_checker/conflicting_dependency_resolver_spec.rb
  gradle/spec/dependabot/gradle/file_fetcher/settings_file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/conflicting_dependency_resolver_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
Labels: L: ruby:bundler, L: java:gradle, L: dotnet:nuget, L: javascript

#9730 Enable RSpec/DescribeClass
  .rubocop_todo.yml
  elm/spec/dependabot/elm/update_checker/requirements_updater_spec.rb
  npm_and_yarn/spec/npm_and_yarn_config_spec.rb
Labels: L: elm, L: javascript

#9732 Enable RSpec/ExpectInHook
  .rubocop_todo.yml
  docker/spec/dependabot/docker/utils/credentials_finder_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
Labels: L: docker, L: python

#9657 Stop hiding exception raised by composer
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#9736 Enabling RSpec/BeNil
  .rubocop_todo.yml
  gradle/spec/dependabot/gradle/file_parser_spec.rb
Labels: L: java:gradle

#9737 Enabling RSpec/SubjectDeclaration
  .rubocop_todo.yml
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/dependency_files_builder_spec.rb
Labels: L: javascript

#9729 Enable RSpec/ContainExactly
  .rubocop_todo.yml
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#9744 Enabling RSpec/RepeatedDescription
  .rubocop_todo.yml
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#9739 Enabling RSpec/PendingWithoutReason
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  go_modules/spec/dependabot/go_modules/path_converter_spec.rb
Labels: L: ruby:bundler, L: go:modules

#9758 test-improvement-6017: Rspec/ContextWording task grouped by ecosystem.
  .rubocop_todo.yml
  bundler/helpers/v1/spec/functions/conflicting_dependency_resolver_spec.rb
  bundler/helpers/v1/spec/functions/dependency_source_spec.rb
  bundler/helpers/v1/spec/functions/file_parser_spec.rb
  bundler/helpers/v1/spec/functions/force_updater_spec.rb
  bundler/helpers/v1/spec/functions/version_resolver_spec.rb
  bundler/helpers/v1/spec/shared_contexts.rb
  bundler/helpers/v2/spec/functions/conflicting_dependency_resolver_spec.rb
  bundler/helpers/v2/spec/functions/dependency_source_spec.rb
  bundler/helpers/v2/spec/functions/file_parser_spec.rb
  bundler/helpers/v2/spec/functions/force_updater_spec.rb
  bundler/helpers/v2/spec/functions/version_resolver_spec.rb
  bundler/helpers/v2/spec/functions_spec.rb
  bundler/helpers/v2/spec/ruby_version_spec.rb
  bundler/helpers/v2/spec/shared_contexts.rb
  bundler/spec/dependabot/bundler/file_fetcher/child_gemfile_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/gemspec_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/path_gemspec_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/require_relative_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
  bundler/spec/dependabot/bundler/file_parser/gemfile_declaration_finder_spec.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/file_updater/gemfile_updater_spec.rb
  bundler/spec/dependabot/bundler/file_updater/gemspec_sanitizer_spec.rb
  bundler/spec/dependabot/bundler/file_updater/lockfile_updater_spec.rb
  bundler/spec/dependabot/bundler/file_updater/requirement_replacer_spec.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/dependabot/bundler/metadata_finder_spec.rb
  bundler/spec/dependabot/bundler/update_checker/conflicting_dependency_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker/file_preparer_spec.rb
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  bundler/spec/dependabot/bundler/update_checker/requirements_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  bundler/spec/shared_contexts.rb
Labels: L: ruby:bundler

#9694 restrict C# nuget unit tests to local package feeds
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.DotNetToolsJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/NuGetUpdater.Core.Test.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DotNetTools.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
  nuget/helpers/lib/NuGetUpdater/global.json
Labels: L: dotnet:nuget

#9759 Fixes Alias parsing was not enabled issue while loading Psych Lib in safe_load
  pub/lib/dependabot/pub/update_checker.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  pub/spec/fixtures/projects/yaml_alias/pubspec.yaml
  pub/spec/fixtures/projects/yaml_alias/pubspec_alias_true.yaml
Labels: L: dart:pub

#9754 True type `Dependabot::NpmAndYarn::UpdateChecker::VersionResolver`
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
Labels: L: javascript, sorbet 🍦

#9783 Cargo implementation must support Cargo sparse index file format
  cargo/lib/dependabot/cargo/metadata_finder.rb
  cargo/lib/dependabot/cargo/update_checker/latest_version_finder.rb
  cargo/spec/dependabot/cargo/update_checker/latest_version_finder_spec.rb
  cargo/spec/fixtures/private_registry_responses/hello-world.json
  cargo/spec/fixtures/private_registry_responses/not_found.json
Labels: L: rust:cargo

#9782 Harry/text improvement, context wording, for ecosystem bundler, review comments of #9758 addressed here.
  .codespellrc
  bundler/spec/dependabot/bundler/file_fetcher/path_gemspec_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher/require_relative_finder_spec.rb
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
Labels: L: ruby:bundler, L: python

#9070 Added support for .tool-versions file in Gemfile for Ruby projects
  bundler/lib/dependabot/bundler/file_fetcher.rb
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/file_parser/file_preparer.rb
  bundler/lib/dependabot/bundler/file_updater.rb
  bundler/lib/dependabot/bundler/file_updater/lockfile_updater.rb
  bundler/lib/dependabot/bundler/update_checker/file_preparer.rb
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
  bundler/spec/dependabot/bundler/file_parser/file_preparer_spec.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  bundler/spec/fixtures/github/contents_ruby_tool_versions.json
  bundler/spec/fixtures/github/gemfile_with_ruby_tool_versions_content.json
  bundler/spec/fixtures/github/tool_versions_content.json
  bundler/spec/fixtures/projects/bundler1/tool_versions_file/.gitignore
  bundler/spec/fixtures/projects/bundler1/tool_versions_file/.tool-versions
  bundler/spec/fixtures/projects/bundler1/tool_versions_file/Gemfile
  bundler/spec/fixtures/projects/bundler1/tool_versions_file/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/tool_versions_file/.gitignore
  bundler/spec/fixtures/projects/bundler2/tool_versions_file/.tool-versions
  bundler/spec/fixtures/projects/bundler2/tool_versions_file/Gemfile
  bundler/spec/fixtures/projects/bundler2/tool_versions_file/Gemfile.lock
  bundler/spec/spec_helper.rb
Labels: L: ruby:bundler

#9807 Monkey patch on Bundler::materialize_for_installation for resolve Bundler::LazySpecification issue
  bundler/helpers/v2/monkey_patches/definition_bundler_spec_set_patch.rb
  bundler/helpers/v2/run.rb
  bundler/helpers/v2/spec/definition_bundler_spec_set_patch_spec.rb
  bundler/helpers/v2/spec/native_spec_helper.rb
Labels: L: ruby:bundler

#9824 fix nuget ignored package version handling
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/update_checker/dependency_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
Labels: L: dotnet:nuget

#9826 update to 8.0.300 SDK
  nuget/Dockerfile
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TemporaryDirectory.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/global.json
Labels: L: dotnet:nuget

#9800 Strict type `Dependabot::NpmAndYarn::FileUpdater::PackageJsonUpdater`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_updater.rb
Labels: L: javascript, sorbet 🍦

#9827 True type remainder of `npm_and_yarn`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/registry_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
Labels: L: javascript, sorbet 🍦

#9828 fix(cargo): handle version range using Less Than Equal
  cargo/lib/dependabot/cargo/update_checker/requirements_updater.rb
  cargo/spec/dependabot/cargo/update_checker/requirements_updater_spec.rb
Labels: L: rust:cargo

#9840 TICtxtWrd-pub: Test Improvements, Context Wording, Ecosystem pub.
  .rubocop_todo.yml
  pub/spec/dependabot/pub/file_fetcher_spec.rb
  pub/spec/dependabot/pub/requirements_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
Labels: L: dart:pub

#9846 TICtxtWrd-elm: Test Improvements, Context Wording, ecosystem elm
  .rubocop_todo.yml
  elm/spec/dependabot/elm/file_parser_spec.rb
  elm/spec/dependabot/elm/requirement_spec.rb
  elm/spec/dependabot/elm/update_checker/cli_parser_spec.rb
  elm/spec/dependabot/elm/update_checker/elm_19_version_resolver_spec.rb
  elm/spec/dependabot/elm/update_checker/requirements_updater_spec.rb
  elm/spec/dependabot/elm/update_checker_spec.rb
  elm/spec/dependabot/elm/version_spec.rb
Labels: L: elm

#9843 TICtxtWrd-tf:Test Improvements, Context Wording, ecosystem terraform.
  .rubocop_todo.yml
  terraform/spec/dependabot/terraform/file_parser_spec.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
  terraform/spec/dependabot/terraform/requirements_updater_spec.rb
  terraform/spec/dependabot/terraform_spec.rb
Labels: L: terraform

#9842 TICtxtWrd-python:Test Improvements, Context Wording, Ecosystem python.
  .rubocop_todo.yml
  python/spec/dependabot/python/authed_url_builder_spec.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/dependabot/python/file_parser/pipfile_files_parser_spec.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/dependabot/python/file_parser/python_requirement_parser_spec.rb
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/pipfile_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/pipfile_manifest_updater_spec.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/requirement_file_updater_spec.rb
  python/spec/dependabot/python/file_updater/requirement_replacer_spec.rb
  python/spec/dependabot/python/file_updater/setup_file_sanitizer_spec.rb
  python/spec/dependabot/python/file_updater_spec.rb
  python/spec/dependabot/python/metadata_finder_spec.rb
  python/spec/dependabot/python/requirement_parser_spec.rb
  python/spec/dependabot/python/requirement_spec.rb
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
  python/spec/dependabot/python/update_checker/latest_version_finder_spec.rb
  python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/pip_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker/requirements_updater_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  python/spec/dependabot/python/version_spec.rb
Labels: L: python

#9849 TICtxtWrd-gs: Test Improvements, Context Wording, ecosystem git submodules.
  .rubocop_todo.yml
  git_submodules/spec/dependabot/git_submodules/file_fetcher_spec.rb
  git_submodules/spec/dependabot/git_submodules/update_checker_spec.rb
Labels: L: git:submodules

#9853 Replace cargo registry keyword from the credentials to use new keyword registry
  cargo/lib/dependabot/cargo/helpers.rb
Labels: L: rust:cargo

#9847 Enforce `true` sigil in `npm_and_yarn` ecosystem
  npm_and_yarn/.rubocop.yml
Labels: L: javascript, sorbet 🍦

#9859 TICtxtWrd-cmp: Test Improvements, Context Wording, ecosystem composer.
  .rubocop_todo.yml
  composer/spec/dependabot/composer/file_fetcher/path_dependency_builder_spec.rb
  composer/spec/dependabot/composer/file_fetcher_spec.rb
  composer/spec/dependabot/composer/file_parser_spec.rb
  composer/spec/dependabot/composer/file_updater/lockfile_updater_spec.rb
  composer/spec/dependabot/composer/file_updater_spec.rb
  composer/spec/dependabot/composer/metadata_finder_spec.rb
  composer/spec/dependabot/composer/requirement_spec.rb
  composer/spec/dependabot/composer/update_checker/latest_version_finder_spec.rb
  composer/spec/dependabot/composer/update_checker/requirements_updater_spec.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#9863 TICtxtWrd-dcon: Test Improvements, Context Wording, ecosystem dev containers and docker.
  .rubocop_todo.yml
  devcontainers/spec/dependabot/devcontainers/update_checker_spec.rb
  docker/spec/dependabot/docker/file_fetcher_spec.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/dependabot/docker/requirement_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/dependabot/docker/utils/credentials_finder_spec.rb
Labels: L: docker, L: devcontainers

#9864 Strict-type `Dependabot::Docker::Version`
  docker/lib/dependabot/docker/version.rb
Labels: L: docker

#9815 TICtxtWrd-github_actions:Test Improvements, Context Wording, ecosystem: github_actions.
  .rubocop_todo.yml
  github_actions/spec/dependabot/github_actions/file_fetcher_spec.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  github_actions/spec/dependabot/github_actions/metadata_finder_spec.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
Labels: L: github:actions

#9830 TICtxtWrd-maven: Test Improvements, Context Wording, ecosystem maven.
  .rubocop_todo.yml
  maven/spec/dependabot/maven/file_fetcher_spec.rb
  maven/spec/dependabot/maven/file_parser/pom_fetcher_spec.rb
  maven/spec/dependabot/maven/file_parser/property_value_finder_spec.rb
  maven/spec/dependabot/maven/file_parser/repositories_finder_spec.rb
  maven/spec/dependabot/maven/file_parser_spec.rb
  maven/spec/dependabot/maven/file_updater/declaration_finder_spec.rb
  maven/spec/dependabot/maven/file_updater_spec.rb
  maven/spec/dependabot/maven/metadata_finder_spec.rb
  maven/spec/dependabot/maven/requirement_spec.rb
  maven/spec/dependabot/maven/update_checker/requirements_updater_spec.rb
  maven/spec/dependabot/maven/update_checker/version_finder_spec.rb
  maven/spec/dependabot/maven/update_checker_spec.rb
  maven/spec/dependabot/maven/utils/auth_headers_finder_spec.rb
  maven/spec/dependabot/maven/version_spec.rb
  maven/spec/dependabot/maven_spec.rb
Labels: L: java:maven

#9817 TICtxtWrd-go: Test Improvements, Context Wording, ecosystem: go_modules.
  .rubocop_todo.yml
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
  go_modules/spec/dependabot/go_modules/metadata_finder_spec.rb
  go_modules/spec/dependabot/go_modules/replace_stubber_spec.rb
  go_modules/spec/dependabot/go_modules/requirement_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker/latest_version_finder_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker_spec.rb
  go_modules/spec/dependabot/go_modules/version_spec.rb
Labels: L: go:modules

#9870 Strict type `Dependabot::Docker::FileFetcher`
  docker/lib/dependabot/docker/file_fetcher.rb
Labels: L: docker, sorbet 🍦

#9874 Strict type `Docker::Requirement` and `Docker::Tag`
  docker/lib/dependabot/docker/requirement.rb
  docker/lib/dependabot/docker/tag.rb
  docker/lib/dependabot/docker/update_checker.rb
  docker/lib/dependabot/docker/version.rb
Labels: L: docker, sorbet 🍦
