Repository dependabot/dependabot-core, pull requests merged in 2024-06, with the labels that each got.

#9876 Use non-deprecated `spoom srb bump` command
  .github/workflows/sorbet.yml
Labels: sorbet 🍦

#9882 TICtxtWrd-grdl: Test Improvements, Context Wording, For the ecosystem: Gradle
  gradle/spec/dependabot/gradle/file_fetcher/settings_file_parser_spec.rb
  gradle/spec/dependabot/gradle/file_fetcher_spec.rb
  gradle/spec/dependabot/gradle/file_parser/property_value_finder_spec.rb
  gradle/spec/dependabot/gradle/file_parser/repositories_finder_spec.rb
  gradle/spec/dependabot/gradle/file_parser_spec.rb
  gradle/spec/dependabot/gradle/file_updater_spec.rb
  gradle/spec/dependabot/gradle/metadata_finder_spec.rb
  gradle/spec/dependabot/gradle/requirement_spec.rb
  gradle/spec/dependabot/gradle/update_checker/requirements_updater_spec.rb
  gradle/spec/dependabot/gradle/update_checker/version_finder_spec.rb
  gradle/spec/dependabot/gradle/update_checker_spec.rb
  gradle/spec/dependabot/gradle/version_spec.rb
Labels: L: java:gradle

#9832 TICtxtWrd-n:Test Improvements, Context Wording, for the ecosystem npm and yarn.
  .rubocop_todo.yml
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher/path_dependency_builder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npmrc_builder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/package_json_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/metadata_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/requirement_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/library_detector_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/registry_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/requirements_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/vulnerability_auditor_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/version_spec.rb
Labels: L: javascript

#9868 TICtxtWrd-hex: Test Improvements, Context Wording, ecosystem hex.
  .rubocop_todo.yml
  hex/spec/dependabot/hex/file_updater/lockfile_updater_spec.rb
  hex/spec/dependabot/hex/file_updater/mixfile_git_pin_updater_spec.rb
  hex/spec/dependabot/hex/metadata_finder_spec.rb
  hex/spec/dependabot/hex/requirement_spec.rb
  hex/spec/dependabot/hex/update_checker/file_preparer_spec.rb
  hex/spec/dependabot/hex/update_checker/requirements_updater_spec.rb
  hex/spec/dependabot/hex/update_checker_spec.rb
  hex/spec/dependabot/hex/version_spec.rb
Labels: L: elixir:hex

#9886 Prevent github actions with same name ending after hyphen to be updated
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  github_actions/spec/fixtures/workflow_files/same_name_ending.yml
Labels: L: github:actions

#9890 Strict type `Dependabot::Docker::Requirement::Helpers`
  docker/lib/dependabot/docker/utils/helpers.rb
Labels: L: docker, sorbet 🍦

#9871 Strict type `Dependabot::Docker::FileParser`
  docker/lib/dependabot/docker/file_parser.rb
Labels: L: docker, sorbet 🍦

#9883 TICtxtWrd-nuget: Test Improvement, Context Wording, for the ecosystem nuget
  .rubocop_todo.yml
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/metadata_finder_spec.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/spec/dependabot/nuget/nuget_client_spec.rb
  nuget/spec/dependabot/nuget/requirement_spec.rb
  nuget/spec/dependabot/nuget/update_checker/compatibility_checker_spec.rb
  nuget/spec/dependabot/nuget/update_checker/dependency_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/requirements_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
  nuget/spec/dependabot/nuget/version_spec.rb
Labels: L: dotnet:nuget

#9790 Enable RSpec/DescribedClass
  .rubocop_todo.yml
  bundler/helpers/v2/spec/functions_spec.rb
  common/spec/dependabot/clients/codecommit_spec.rb
  common/spec/dependabot/config/file_spec.rb
  common/spec/dependabot/shared_helpers_spec.rb
  common/spec/dependabot/wildcard_matcher_spec.rb
  hex/spec/dependabot/hex/update_checker_spec.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/spec/dependabot/nuget/nuget_client_spec.rb
  nuget/spec/dependabot/nuget/nuget_config_credential_helpers_spec.rb
  nuget/spec/dependabot/nuget/update_checker/tfm_finder_spec.rb
  python/spec/dependabot/python/file_updater/pyproject_preparer_spec.rb
  python/spec/dependabot/python/file_updater_spec.rb
  updater/spec/dependabot/api_client_spec.rb
  updater/spec/dependabot/job_spec.rb
Labels: L: ruby:bundler, L: elixir:hex, L: dotnet:nuget, L: python

#9862 Upgrade Bundler to 2.5.11 and RubyGems to 3.5.11
  .gitattributes
  Dockerfile.updater-core
  Gemfile.lock
  bundler/helpers/v2/lib/functions/lockfile_updater.rb
  bundler/helpers/v2/monkey_patches/definition_bundler_spec_set_patch.rb
  bundler/helpers/v2/run.rb
  bundler/helpers/v2/spec/definition_bundler_spec_set_patch_spec.rb
  bundler/helpers/v2/spec/functions/version_resolver_spec.rb
  bundler/helpers/v2/spec/native_spec_helper.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/fixtures/rubygems_responses/statesman-1.2.5.gemspec.rz
  updater/Gemfile.lock
Labels: L: ruby:bundler

#9892 Strict type `Dependabot::Docker::Requirement::MetadataFinder`
  docker/lib/dependabot/docker/metadata_finder.rb
Labels: L: docker, sorbet 🍦

#9898 Migrate to new `spoom srb coverage` command
  .github/workflows/sorbet.yml
  script/generate-coverage-report
Labels: sorbet 🍦

#9770 Upgrade crack and http-party gems for ruby compatibility
  Gemfile.lock
  sorbet/rbi/gems/bigdecimal@3.1.8.rbi
  sorbet/rbi/gems/crack@1.0.0.rbi
  sorbet/rbi/gems/csv@3.3.0.rbi
  sorbet/rbi/gems/httparty@0.22.0.rbi
  sorbet/rbi/gems/multi_xml@0.6.0.rbi
  sorbet/rbi/gems/multi_xml@0.7.1.rbi
  sorbet/rbi/gems/rexml@3.2.8.rbi
  sorbet/rbi/gems/strscan@3.1.0.rbi
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: devcontainers

#9900 True type `Dependabot::Bundler::FileUpdater`
  bundler/lib/dependabot/bundler/file_updater.rb
Labels: L: ruby:bundler, sorbet 🍦

#9901 True type `Dependabot::Bundler::MetadataFinder`
  bundler/lib/dependabot/bundler/metadata_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#9895 Strict type `Dependabot::Docker::Requirement::FileUpdater`
  docker/lib/dependabot/docker/file_updater.rb
Labels: L: docker, sorbet 🍦

#9811 Enable RSpec Example cops
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/file_updater/requirement_replacer_spec.rb
  go_modules/spec/dependabot/go_modules/version_spec.rb
  nuget/spec/dependabot/nuget/version_spec.rb
  python/spec/dependabot/python/version_spec.rb
  swift/spec/dependabot/swift/metadata_finder_spec.rb
  updater/spec/dependabot/job_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: java:gradle, L: go:modules, L: github:actions, L: docker, L: dotnet:nuget, L: java:maven, L: javascript, L: python, L: swift

#9889 Strict type `Dependabot::Docker::Requirement::CredentialsFinder`
  docker/lib/dependabot/docker/utils/credentials_finder.rb
Labels: L: docker, sorbet 🍦

#9738 Enabling RSpec/VoidExpect
  .rubocop_todo.yml
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/dependency_files_builder_spec.rb
Labels: L: javascript

#9913 Strict type `Dependabot::Hex::MetaDataFinder`
  hex/lib/dependabot/hex/metadata_finder.rb
Labels: L: elixir:hex, sorbet 🍦

#9921 Enabled Rubocop rule for the MetadataStyle test
  .rubocop_todo.yml
  hex/spec/dependabot/hex/update_checker/version_resolver_spec.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
Labels: L: elixir:hex, L: terraform

#9927 Garry hurley jr/address rspec expect actual rubocop violations
  .rubocop_todo.yml
  swift/spec/dependabot/swift/native_requirement_spec.rb
Labels: L: swift

#9919 Strict type `Dependabot::GoModules::MetaDataFinder`
  go_modules/lib/dependabot/go_modules/metadata_finder.rb
Labels: L: go:modules, sorbet 🍦

#9928 Strict type `Dependabot::Maven::MetadataFinder`
  maven/lib/dependabot/maven/file_parser/repositories_finder.rb
  maven/lib/dependabot/maven/metadata_finder.rb
Labels: L: java:maven, sorbet 🍦

#9933 Strict type `Dependabot::Pub::MetaDataFinder`
  pub/lib/dependabot/pub/metadata_finder.rb
Labels: L: dart:pub, sorbet 🍦

#9936 Strict type `Dependabot::Terraform::MetaDataFinder`
  terraform/lib/dependabot/terraform/metadata_finder.rb
Labels: L: terraform, sorbet 🍦

#9912 True type `Dependabot::Bundler::FileUpdater::GitSourceRemover`
  bundler/lib/dependabot/bundler/file_updater/git_source_remover.rb
Labels: L: ruby:bundler, sorbet 🍦

#9917 True type `pub`
  pub/.rubocop.yml
  pub/lib/dependabot/pub/helpers.rb
  pub/lib/dependabot/pub/update_checker.rb
Labels: L: dart:pub, sorbet 🍦

#9911 Strict type `Dependabot::Bundler::FileParser::GemspecDeclarationFinder`
  bundler/lib/dependabot/bundler/file_parser/gemspec_declaration_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#9914 True type `Dependabot::Bundler::UpdateChecker::SharedBundlerHelpers`
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
Labels: L: ruby:bundler, sorbet 🍦

#9907 Strict type `Dependabot::Bundler::FileParser::GemfileDeclarationFinder`
  bundler/lib/dependabot/bundler/file_parser/gemfile_declaration_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#9934 Strict type `Dependabot::Swift::MetaDataFinder`
  swift/lib/dependabot/swift/metadata_finder.rb
Labels: L: swift, sorbet 🍦

#9915 Enforce `true` sigil in `bundler`
  bundler/.rubocop.yml
Labels: L: ruby:bundler, sorbet 🍦

#9935 enable receive messages
  .rubocop_todo.yml
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  common/spec/dependabot/pull_request_creator_spec.rb
  common/spec/dependabot/registry_client_spec.rb
  common/spec/dependabot/update_checkers/base_spec.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
  updater/spec/dependabot/dependency_change_spec.rb
  updater/spec/dependabot/file_fetcher_command_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
Labels: L: github:actions, L: dotnet:nuget

#9953 True type `maven`
  maven/.rubocop.yml
  maven/lib/dependabot/maven/file_fetcher.rb
  maven/lib/dependabot/maven/file_parser.rb
Labels: L: java:maven, sorbet 🍦

#9952 True type `gradle`
  gradle/.rubocop.yml
  gradle/lib/dependabot/gradle/file_fetcher.rb
  gradle/lib/dependabot/gradle/file_fetcher/settings_file_parser.rb
  gradle/lib/dependabot/gradle/file_parser.rb
  gradle/lib/dependabot/gradle/file_parser/property_value_finder.rb
  gradle/lib/dependabot/gradle/file_parser/repositories_finder.rb
  gradle/lib/dependabot/gradle/file_updater.rb
  gradle/lib/dependabot/gradle/file_updater/dependency_set_updater.rb
Labels: L: java:gradle, sorbet 🍦

#9951 True type `terraform`
  terraform/.rubocop.yml
  terraform/lib/dependabot/terraform/file_updater.rb
Labels: L: terraform, sorbet 🍦

#9950 True type `hex`
  hex/.rubocop.yml
  hex/lib/dependabot/hex/update_checker/file_preparer.rb
  hex/lib/dependabot/hex/version.rb
Labels: L: elixir:hex, sorbet 🍦

#9957 Enabling RSpec/ScatteredLet Rubocop
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  cargo/spec/dependabot/cargo/metadata_finder_spec.rb
  common/spec/dependabot/clients/bitbucket_spec.rb
  common/spec/dependabot/config/update_config_spec.rb
  common/spec/dependabot/file_fetchers/base_spec.rb
  common/spec/dependabot/git_commit_checker_spec.rb
  common/spec/dependabot/git_metadata_fetcher_spec.rb
  common/spec/dependabot/metadata_finders/base/changelog_finder_spec.rb
  common/spec/dependabot/metadata_finders/base/commits_finder_spec.rb
  common/spec/dependabot/metadata_finders/base/release_finder_spec.rb
  common/spec/dependabot/metadata_finders/base_spec.rb
  common/spec/dependabot/pull_request_creator/labeler_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  common/spec/dependabot/shared_helpers_spec.rb
  composer/spec/dependabot/composer/file_updater/lockfile_updater_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  gradle/spec/dependabot/gradle/update_checker/multi_dependency_updater_spec.rb
  hex/spec/dependabot/hex/update_checker_spec.rb
  maven/spec/dependabot/maven/update_checker_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/sub_dependency_files_filterer_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/dependency_files_builder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/dependabot/python/metadata_finder_spec.rb
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: github:actions, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: javascript, L: python

#9814 Enable RSpec/ImplicitSubject
  .rubocop_todo.yml
  bundler/helpers/v1/spec/functions/dependency_source_spec.rb
  bundler/helpers/v1/spec/functions/file_parser_spec.rb
  bundler/helpers/v2/spec/functions/dependency_source_spec.rb
  bundler/helpers/v2/spec/functions/file_parser_spec.rb
  bundler/spec/dependabot/bundler/file_updater/gemfile_updater_spec.rb
  bundler/spec/dependabot/bundler/file_updater/gemspec_sanitizer_spec.rb
  bundler/spec/dependabot/bundler/file_updater/requirement_replacer_spec.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  cargo/spec/dependabot/cargo/update_checker_spec.rb
  common/spec/dependabot/clients/bitbucket_spec.rb
  common/spec/dependabot/dependency_spec.rb
  common/spec/dependabot/errors_spec.rb
  common/spec/dependabot/git_commit_checker_spec.rb
  common/spec/dependabot/metadata_finders/base/changelog_finder_spec.rb
  common/spec/dependabot/metadata_finders/base/commits_finder_spec.rb
  common/spec/dependabot/pull_request_creator/branch_namer/solo_strategy_spec.rb
  common/spec/dependabot/pull_request_creator/branch_namer_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder/link_and_mention_sanitizer_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  common/spec/dependabot/shared_helpers_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  elm/spec/dependabot/elm/update_checker/cli_parser_spec.rb
  elm/spec/dependabot/elm/update_checker_spec.rb
  git_submodules/spec/dependabot/git_submodules/metadata_finder_spec.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  go_modules/spec/dependabot/go_modules/replace_stubber_spec.rb
  go_modules/spec/dependabot/go_modules/requirement_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker_spec.rb
  go_modules/spec/dependabot/go_modules/version_spec.rb
  gradle/spec/dependabot/gradle/metadata_finder_spec.rb
  gradle/spec/dependabot/gradle/update_checker_spec.rb
  hex/spec/dependabot/hex/update_checker_spec.rb
  maven/spec/dependabot/maven/metadata_finder_spec.rb
  maven/spec/dependabot/maven/update_checker_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/dependency_files_filterer_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/requirement_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/sub_dependency_files_filterer_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/dependency_files_builder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  nuget/spec/dependabot/nuget/file_fetcher/import_paths_finder_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  swift/spec/dependabot/swift/update_checker_spec.rb
  terraform/spec/dependabot/terraform/metadata_finder_spec.rb
  updater/spec/dependabot/job_spec.rb
  updater/spec/dependabot/sentry/exception_sanitizer_processor_spec.rb
  updater/spec/dependabot/sentry/sentry_context_processor_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift

#9929 True type `updater`
  updater/.rubocop.yml
  updater/bin/update_files.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/group_update_refreshing.rb
  updater/lib/dependabot/updater/operations/group_update_all_versions.rb
  updater/lib/dependabot/updater/operations/refresh_group_update_pull_request.rb
  updater/lib/dependabot/updater/security_update_helpers.rb
Labels: sorbet 🍦

#9954 True type `python`
  python/lib/dependabot/python/file_fetcher.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/lib/dependabot/python/file_updater/requirement_replacer.rb
  python/lib/dependabot/python/metadata_finder.rb
  python/lib/dependabot/python/update_checker/index_finder.rb
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
Labels: L: python, sorbet 🍦

#9820 Enable RSpec/MatchArray
  .rubocop_todo.yml
  .vscode/settings.json
  bundler/helpers/v1/spec/functions/conflicting_dependency_resolver_spec.rb
  bundler/helpers/v2/spec/functions/conflicting_dependency_resolver_spec.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker/conflicting_dependency_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker/requirements_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/dependabot/cargo/update_checker/requirements_updater_spec.rb
  common/spec/dependabot/file_parsers/base/dependency_set_spec.rb
  common/spec/dependabot/metadata_finders/base/commits_finder_spec.rb
  composer/spec/dependabot/composer/update_checker/requirements_updater_spec.rb
  go_modules/spec/dependabot/go_modules/requirement_spec.rb
  gradle/spec/dependabot/gradle/requirement_spec.rb
  gradle/spec/dependabot/gradle/update_checker/requirements_updater_spec.rb
  hex/spec/dependabot/hex/update_checker/requirements_updater_spec.rb
  maven/spec/dependabot/maven/requirement_spec.rb
  maven/spec/dependabot/maven/update_checker/requirements_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/requirement_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/conflicting_dependency_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/dependency_files_builder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/requirements_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/requirements_updater_spec.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/dependabot/python/requirement_parser_spec.rb
  python/spec/dependabot/python/requirement_spec.rb
  python/spec/dependabot/python/update_checker/index_finder_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
  terraform/spec/dependabot/terraform/registry_client_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift, L: devcontainers

#9970 Enabling SharedExamples Rubocop rule
  .rubocop_todo.yml
  pub/spec/dependabot/pub/update_checker_spec.rb
  pub/spec/spec_helper.rb
  updater/spec/dependabot/service_spec.rb
Labels: L: dart:pub

#9969 Strict type `Dependabot::Pub::FileParser`
  pub/lib/dependabot/pub/file_parser.rb
Labels: L: dart:pub

#9968 Strict type `Dependabot::Pub::FileUpdater`
  pub/lib/dependabot/pub/file_updater.rb
Labels: L: dart:pub

#9966 Strict type `Dependabot::python::NameNormaliser`
  python/lib/dependabot/python/name_normaliser.rb
Labels: L: dart:pub, L: python

#9967 5800-sev-3-dependabot-not-respecting-ignore-minorpatch-updates: Updating to the latest available in the registry.
  composer/helpers/v2/src/UpdateChecker.php
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#9975 Strict type `Dependabot::Maven::FileFetcher`
  maven/lib/dependabot/maven/file_fetcher.rb
Labels: L: java:maven, sorbet 🍦

#9976 Strict type `Dependabot::Hex::FileUpdater::NativeHelpers`
  hex/lib/dependabot/hex/file_updater.rb
  hex/lib/dependabot/hex/native_helpers.rb
Labels: L: elixir:hex, sorbet 🍦

#9983 Strict type `Dependabot::Hex::MixFileGitPinUpdater`
  hex/lib/dependabot/hex/file_updater/mixfile_git_pin_updater.rb
Labels: L: elixir:hex, sorbet 🍦

#9991 Revert " Changes made for dependabot to respect ignoring minor patch updates."
  composer/helpers/v2/src/UpdateChecker.php
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#9960 Enabling PredicateMatcher Rubocop rule on RSpec.
  .rubocop_todo.yml
  common/spec/dependabot/dependency_file_spec.rb
  common/spec/dependabot/dependency_group_spec.rb
  common/spec/dependabot/experiments_spec.rb
  common/spec/dependabot/file_updaters/artifact_updater_spec.rb
  common/spec/dependabot/file_updaters/vendor_updater_spec.rb
  common/spec/dependabot/workspace/git_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  updater/spec/dependabot/job_spec.rb
Labels: L: dart:pub, L: javascript, L: python

#9981 enabled RSpec VerifiedDoubeReference rule
  .rubocop_todo.yml
  updater/spec/dependabot/updater/operations/refresh_group_update_pull_request_spec.rb
Labels: L: php:composer

#9980 Enabling ScatteredSetup Rubocop rule
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  common/spec/dependabot/clients/bitbucket_spec.rb
  common/spec/dependabot/git_commit_checker_spec.rb
  common/spec/dependabot/metadata_finders/base/commits_finder_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  elm/spec/dependabot/elm/file_fetcher_spec.rb
  go_modules/spec/dependabot/go_modules/file_fetcher_spec.rb
  gradle/spec/dependabot/gradle/update_checker/multi_dependency_updater_spec.rb
  hex/spec/dependabot/hex/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/metadata_finder_spec.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: elm, L: docker, L: rust:cargo, L: dotnet:nuget, L: javascript, L: python

#9974 Enabling RSpec HooksBefore rubocop rule
  .rubocop_todo.yml
  bundler/spec/dependabot/bundler/file_fetcher_spec.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/dependabot/bundler/metadata_finder_spec.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/dependabot/cargo/file_updater_spec.rb
  cargo/spec/dependabot/cargo/metadata_finder_spec.rb
  cargo/spec/dependabot/cargo/update_checker_spec.rb
  common/spec/dependabot/file_fetchers/base_spec.rb
  composer/spec/dependabot/composer/file_fetcher_spec.rb
  composer/spec/dependabot/composer/file_updater_spec.rb
  composer/spec/dependabot/composer/metadata_finder_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  docker/spec/dependabot/docker/file_fetcher_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  elm/spec/dependabot/elm/file_fetcher_spec.rb
  elm/spec/dependabot/elm/file_updater_spec.rb
  git_submodules/spec/dependabot/git_submodules/metadata_finder_spec.rb
  github_actions/spec/dependabot/github_actions/file_fetcher_spec.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  go_modules/spec/dependabot/go_modules/file_fetcher_spec.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
  gradle/spec/dependabot/gradle/file_fetcher_spec.rb
  gradle/spec/dependabot/gradle/update_checker_spec.rb
  hex/spec/dependabot/hex/file_fetcher_spec.rb
  hex/spec/dependabot/hex/file_updater_spec.rb
  maven/spec/dependabot/maven/file_fetcher_spec.rb
  maven/spec/dependabot/maven/update_checker_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  pub/spec/dependabot/pub/file_fetcher_spec.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  pub/spec/dependabot/pub/metadata_finder_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  python/spec/dependabot/python/file_updater_spec.rb
  python/spec/dependabot/python/metadata_finder_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  terraform/spec/dependabot/terraform/file_fetcher_spec.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: terraform, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python

#9984 Strict type `Dependabot::Hex::MixFileSanitizer`
  hex/lib/dependabot/hex/file_updater/mixfile_sanitizer.rb
Labels: L: elixir:hex

#9989 Strict type `Dependabot::Hex::CredentialHelpers`
  hex/lib/dependabot/hex/credential_helpers.rb
Labels: L: elixir:hex, sorbet 🍦

#9992 Strict type `Dependabot::Hex::FileParser`
  hex/lib/dependabot/hex/file_parser.rb
Labels: L: elixir:hex

#10000 Strict type `Dependabot::Maven::AuthHeadersFinder`
  maven/lib/dependabot/maven/utils/auth_headers_finder.rb
Labels: L: java:maven, sorbet 🍦

#10001 Strict type `Dependabot::Terraform::Requirement`
  terraform/lib/dependabot/terraform/requirement.rb
Labels: L: terraform, sorbet 🍦

#10021 Fix Docker Requirement initializer type
  docker/lib/dependabot/docker/requirement.rb
  docker/spec/dependabot/docker/requirement_spec.rb
Labels: L: docker

#10004 Strict type `Dependabot::Bundler::GemspecFinder`
  bundler/lib/dependabot/bundler/file_fetcher/gemspec_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#10028 Strict type `Dependabot::Bundler::RequireRelativeFinder`
  bundler/lib/dependabot/bundler/file_fetcher/require_relative_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#10029 Strict type `Dependabot::Bundler::FilePreparer`
  bundler/lib/dependabot/bundler/file_parser/file_preparer.rb
Labels: L: ruby:bundler, sorbet 🍦

#10026 Strict type `Dependabot::Bundler::ChildGemFileFinder`
  bundler/lib/dependabot/bundler/file_fetcher/child_gemfile_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#10041 Re-enabled NamedSubject RSpec rule which was accidentlaly overwritten
  .rubocop_todo.yml
  common/spec/dependabot/metadata_finders/base/commits_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/requirement_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/dependency_files_builder_spec.rb
Labels: L: javascript

#10022 Fix Go modules prerelease
  go_modules/lib/dependabot/go_modules/version.rb
  go_modules/spec/dependabot/go_modules/version_spec.rb
Labels: L: go:modules

#9938 [Fix] multi-directory grouped updates sometimes create ungrouped PRs
  silent/tests/testdata/vu-group-multidir-all.txt
  silent/tests/testdata/vu-group-multidir-semver.txt
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/updater/dependency_group_change_batch.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/group_update_all_versions.rb
  updater/spec/dependabot/dependency_snapshot_spec.rb
Labels: L: ruby:bundler, L: python

#10043 Enabling RSpec/BeforeAfterAll Rubocop rule
  .rubocop_todo.yml
  nuget/spec/dependabot/nuget/update_checker/dependency_finder_spec.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  pub/spec/dependabot/pub/infer_sdk_versions_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
Labels: L: dotnet:nuget, L: dart:pub

#10027 Strict type `Dependabot::Bundler::PathGemSpecFinder`
  bundler/lib/dependabot/bundler/file_fetcher/path_gemspec_finder.rb
Labels: L: ruby:bundler, sorbet 🍦

#9990 Strict type `Dependabot::Hex::FileFetcher`
  hex/lib/dependabot/hex/file_fetcher.rb
Labels: L: elixir:hex, sorbet 🍦

#9973 Address Sorbet error
  nuget/lib/dependabot/nuget/update_checker.rb
Labels: L: dotnet:nuget, Ecosystems

#10049 Remove bad newlines from EBADENGINE message
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
Labels: L: javascript

#9956 fix(cargo): preserve version range using Less Than Equal
  cargo/lib/dependabot/cargo/update_checker/requirements_updater.rb
  cargo/spec/dependabot/cargo/update_checker/requirements_updater_spec.rb
Labels: L: rust:cargo

#10047 Added private repo access error catch and missing repo error capture
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_registry_no_config/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_registry_no_config/pnpm-lock.yaml
Labels: L: javascript

#10073 Bump default PNPM to 9.4.0
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/Dockerfile
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private_v8/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private_v8/pnpm-lock.yaml
Labels: L: javascript

#10038 Update bundler module to ruby 3.3.3
  .github/workflows/ci.yml
  .github/workflows/gems-bump-version.yml
  .github/workflows/gems-release-to-rubygems.yml
  .github/workflows/sorbet.yml
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
  bundler/spec/fixtures/projects/bundler1/gemfile_require_ruby_3_3/example.gemspec
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_3/example.gemspec
Labels: L: ruby:bundler

#9769 [NuGet] update version_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
Labels: L: dotnet:nuget

#8286 Simplify docker regex
  docker/lib/dependabot/docker/tag.rb
Labels: L: docker

#9923 Give better error when security update not possible due to "lockfile_only" strategy
  bundler/lib/dependabot/bundler/requirement.rb
  bundler/lib/dependabot/bundler/update_checker.rb
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/lib/dependabot/bundler/update_checker/requirements_updater.rb
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  bundler/spec/fixtures/projects/bundler1/lockfile_only_and_forced_updates/Gemfile
  bundler/spec/fixtures/projects/bundler1/lockfile_only_and_forced_updates/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/lockfile_only_and_forced_updates/Gemfile
  bundler/spec/fixtures/projects/bundler2/lockfile_only_and_forced_updates/Gemfile.lock
  cargo/lib/dependabot/cargo/update_checker.rb
  cargo/lib/dependabot/cargo/update_checker/requirements_updater.rb
  common/lib/dependabot/requirements_update_strategy.rb
  composer/lib/dependabot/composer/update_checker.rb
  composer/lib/dependabot/composer/update_checker/requirements_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/requirements_updater.rb
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/update_checker/requirements_updater.rb
Labels: L: php:composer, L: ruby:bundler, L: rust:cargo, L: javascript, L: python

#10079 Strict type `Dependabot::Gradle::SettingsFileParser`
  gradle/lib/dependabot/gradle/file_fetcher/settings_file_parser.rb
Labels: L: java:gradle, sorbet 🍦

#10097 Revert "Passing the latest allowable version as package constraints"
  composer/helpers/v2/src/UpdateChecker.php
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#10081 True type `Dependabot::Python::FileFetcher`
  python/lib/dependabot/python/file_fetcher.rb
Labels: L: python

#10071 Strict type `Dependabot::NpmAndYarn::FileUpdater::NpmLockfileUpdater`
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
Labels: L: javascript, sorbet 🍦

#9959 Enable `Sorbet/TrueSigil` at root RuboCop configuration
  .rubocop.yml
  bin/bump-version.rb
  bin/dry-run.rb
  bundler/.rubocop.yml
  cargo/.rubocop.yml
  composer/.rubocop.yml
  devcontainers/.rubocop.yml
  docker/.rubocop.yml
  elm/.rubocop.yml
  github_actions/.rubocop.yml
  gradle/.rubocop.yml
  hex/.rubocop.yml
  maven/.rubocop.yml
  npm_and_yarn/.rubocop.yml
  pub/.rubocop.yml
  silent/.rubocop.yml
  swift/.rubocop.yml
  terraform/.rubocop.yml
  updater/.rubocop.yml
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: github:actions, L: elm, L: terraform, L: docker, L: rust:cargo, L: java:maven, L: dart:pub, L: javascript, L: swift, sorbet 🍦, L: devcontainers

#10106 Go: ensure the version order matches native behavior
  go_modules/helpers/go.mod
  go_modules/helpers/go.sum
  go_modules/helpers/version_test.go
  go_modules/script/ci-test
  go_modules/spec/dependabot/go_modules/version_spec.rb
  go_modules/spec/fixtures/ordered_versions.json
Labels: L: go:modules

#10082 Strict type `Dependabot::Maven::PropertyValueFinder`
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/file_parser/property_value_finder.rb
  maven/lib/dependabot/maven/update_checker.rb
Labels: L: java:maven, sorbet 🍦

#10092 Strict type `Dependabot::Maven::PomFetcher`
  maven/lib/dependabot/maven/file_parser/pom_fetcher.rb
Labels: L: java:maven, sorbet 🍦

#10055 Fix Dependabot::Nuget::FileUpdater file content normalization
  nuget/lib/dependabot/nuget/file_updater.rb
Labels: L: dotnet:nuget
