Repository dependabot/dependabot-core, pull requests merged in 2024-12, with the labels that each got.

#11023 Add support for hex ecosystem metrics collection
  hex/lib/dependabot/hex/file_parser.rb
  hex/lib/dependabot/hex/language.rb
  hex/lib/dependabot/hex/package_manager.rb
  hex/spec/dependabot/hex/file_parser_spec.rb
  hex/spec/dependabot/hex/language_spec.rb
  hex/spec/dependabot/hex/package_manager_spec.rb
Labels: L: elixir:hex

#11030 Add support for gradle ecosystem metrics collection
  gradle/lib/dependabot/gradle/file_parser.rb
  gradle/lib/dependabot/gradle/language.rb
  gradle/lib/dependabot/gradle/package_manager.rb
  gradle/spec/dependabot/gradle/file_parser_spec.rb
  gradle/spec/dependabot/gradle/language_spec.rb
  gradle/spec/dependabot/gradle/package_manager_spec.rb
Labels: L: java:gradle

#11040 Reorders package managers for python ecosystem metric collection
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/package_manager.rb
  python/lib/dependabot/python/update_checker.rb
Labels: L: python

#10806 Try to find pnpm-lock.yaml file upwards on tree structure
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/fixtures/github/contents_js_pnpm_workspace.json
Labels: L: javascript

#11047 Add support for devcontainers ecosystem metrics collection
  common/lib/dependabot/ecosystem.rb
  devcontainers/lib/dependabot/devcontainers/file_parser.rb
  devcontainers/lib/dependabot/devcontainers/language.rb
  devcontainers/lib/dependabot/devcontainers/package_manager.rb
  devcontainers/spec/dependabot/devcontainers/file_parser_spec.rb
  devcontainers/spec/dependabot/devcontainers/language_spec.rb
  devcontainers/spec/dependabot/devcontainers/package_manager_spec.rb
Labels: L: devcontainers

#11026 use content of discovery JSON to report dependency files
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_fetcher/import_paths_finder.rb
  nuget/lib/dependabot/nuget/file_fetcher/sln_project_paths_finder.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/native_discovery/native_dependency_file_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_update_checker.rb
  nuget/spec/dependabot/nuget/file_fetcher/import_paths_finder_spec.rb
  nuget/spec/dependabot/nuget/file_fetcher/sln_project_paths_finder_spec.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#11025 Add Metrics Collection for Composer Ecosystem: Package Manager and Language Details
  composer/lib/dependabot/composer/file_parser.rb
  composer/lib/dependabot/composer/helpers.rb
  composer/lib/dependabot/composer/language.rb
  composer/spec/dependabot/composer/file_parser_spec.rb
  composer/spec/dependabot/composer/helpers_spec.rb
  composer/spec/dependabot/composer/language_spec.rb
Labels: L: php:composer

#11041 Add Package Manager and Language Version Detection for Elm
  elm/lib/dependabot/elm.rb
  elm/lib/dependabot/elm/file_fetcher.rb
  elm/lib/dependabot/elm/file_parser.rb
  elm/lib/dependabot/elm/file_updater.rb
  elm/lib/dependabot/elm/language.rb
  elm/lib/dependabot/elm/package_manager.rb
  elm/lib/dependabot/elm/update_checker.rb
  elm/spec/dependabot/elm/file_parser_spec.rb
  elm/spec/dependabot/elm/language_spec.rb
  elm/spec/dependabot/elm/package_manager_spec.rb
  elm/spec/fixtures/elm_jsons/elm_requirement_fixture.json
  elm/spec/fixtures/elm_jsons/missing_version.json
Labels: L: elm

#11042 remove duplicate `Directory.Packages.props`
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/Directory.Packages.props
Labels: L: dotnet:nuget

#11044 align C# log messages with Ruby
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestLogger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Clone/ShellGitCommandHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DotNetToolsJsonDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/GlobalJsonDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/JsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/DotNetToolsJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/GlobalJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ConsoleLogger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ILogger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/NuGetHelper.cs
Labels: L: dotnet:nuget

#11049 filter out invalid requirement strings from array
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/RequirementArrayConverter.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/RequirementConverter.cs
Labels: L: dotnet:nuget

#11048 Adding retries interval to registry client
  common/lib/dependabot/registry_client.rb
  common/spec/dependabot/registry_client_spec.rb
Labels: F: noise

#11053 Add support for git-submodules ecosystem metrics collection
  git_submodules/lib/dependabot/git_submodules/file_parser.rb
  git_submodules/lib/dependabot/git_submodules/package_manager.rb
  git_submodules/spec/dependabot/git_submodules/file_parser_spec.rb
  git_submodules/spec/dependabot/git_submodules/package_manager_spec.rb
Labels: L: git:submodules

#11054 store discovery files under $HOME so they're not cleaned up by the OS
  nuget/lib/dependabot/nuget/analysis/analysis_json_reader.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_update_checker.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#11055 allow discovery to re-run if files are missing; log errors
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/script/run
Labels: L: dotnet:nuget

#11058 Cleaning up lfs environment variable as it is not being used
  go_modules/Dockerfile
Labels: L: go:modules

#11064 allow for differing package and assembly names when finding packages path
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackagesConfigUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProjectHelper.cs
Labels: L: dotnet:nuget

#11056 download nuget packages to well-known location
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TemporaryDirectory.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/NuGetContext.cs
Labels: L: dotnet:nuget

#11065 remove unnecessary log messages
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/script/run
Labels: L: dotnet:nuget

#11059 Add support for terraform ecosystem metrics collection
  terraform/lib/dependabot/terraform/file_parser.rb
  terraform/lib/dependabot/terraform/package_manager.rb
  terraform/lib/dependabot/terraform/version.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
  terraform/spec/dependabot/terraform/package_manager_spec.rb
Labels: L: terraform

#11070 Metric collection for Dart ecosystem
  pub/lib/dependabot/pub/file_parser.rb
  pub/lib/dependabot/pub/language.rb
  pub/lib/dependabot/pub/package_manager.rb
  pub/spec/dependabot/pub/pub_package_manager_spec.rb
Labels: L: dart:pub

#11066 parse and honor `ignore-conditions` from job file
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/RequirementConverter.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Condition.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11072 Add fallback to local package manager when Corepack installation fails
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
Labels: L: javascript

#11073 detect byte order mark in YAML and report error
  docker/lib/dependabot/docker/file_parser.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/fixtures/kubernetes/yaml/with_bom.yaml
Labels: L: docker

#11075 patch `DotnetSdk::Requirement`
  dotnet_sdk/lib/dependabot/dotnet_sdk/requirement.rb
  dotnet_sdk/spec/dependabot/dotnet_sdk/requirement_spec.rb
Labels: L: dotnet-sdk

#11076 remove old update checker and stale code
  nuget/lib/dependabot/nuget/analysis/analysis_json_reader.rb
  nuget/lib/dependabot/nuget/analysis/dependency_analysis.rb
  nuget/lib/dependabot/nuget/discovery/dependency_details.rb
  nuget/lib/dependabot/nuget/discovery/dependency_file_discovery.rb
  nuget/lib/dependabot/nuget/discovery/directory_packages_props_discovery.rb
  nuget/lib/dependabot/nuget/discovery/discovery_json_reader.rb
  nuget/lib/dependabot/nuget/discovery/project_discovery.rb
  nuget/lib/dependabot/nuget/discovery/workspace_discovery.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/http_response_helpers.rb
  nuget/lib/dependabot/nuget/native_discovery/native_dependency_details.rb
  nuget/lib/dependabot/nuget/native_discovery/native_dependency_file_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_discovery_json_reader.rb
  nuget/lib/dependabot/nuget/native_discovery/native_evaluation_details.rb
  nuget/lib/dependabot/nuget/native_discovery/native_project_discovery.rb
  nuget/lib/dependabot/nuget/native_discovery/native_property_details.rb
  nuget/lib/dependabot/nuget/native_discovery/native_workspace_discovery.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_requirements_updater.rb
  nuget/lib/dependabot/nuget/native_update_checker/native_update_checker.rb
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/lib/dependabot/nuget/update_checker/nuspec_fetcher.rb
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/lib/dependabot/nuget/update_checker/requirements_updater.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_comparer.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/github_helpers.rb
  nuget/spec/dependabot/nuget/nuget_search_stubs.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/requirements_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
  nuget/spec/spec_helper.rb
Labels: L: dotnet:nuget

#11071 make directory crawling unit-testable
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/PathHelperTests.cs
  nuget/script/ci-test
  nuget/updater/common.ps1
  nuget/updater/main.ps1
  nuget/updater/test-data/global-json-discovery-2-values/global.json
  nuget/updater/test-data/global-json-discovery-2-values/src/global.json
  nuget/updater/test-data/global-json-discovery-none/src/.gitignore
  nuget/updater/test-data/global-json-discovery-root-no-file/.gitignore
  nuget/updater/test-data/global-json-discovery-root-with-file/global.json
  nuget/updater/test.ps1
Labels: L: dotnet:nuget

#11088 add concrete types to job deserializer
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Advisory.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/AllowedUpdate.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CommitOptions.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/DependencyGroup.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/GroupPullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/RequirementsUpdateStrategy.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/VersionConverter.cs
Labels: L: dotnet:nuget

#11087 add missing test for scenario
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
Labels: L: dotnet:nuget

#11091 Fix Composer v1 Unsupported Error Handling in Dependabot Core
  composer/lib/dependabot/composer/file_parser.rb
Labels: L: php:composer

#11086 Add argument to parser to allow trailing comma in json.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.DotNetToolsJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DotNetTools.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/JsonHelper.cs
Labels: L: dotnet:nuget

#11094 Add support for swift ecosystem metrics collection
  swift/lib/dependabot/swift/file_parser.rb
  swift/lib/dependabot/swift/language.rb
  swift/lib/dependabot/swift/package_manager.rb
  swift/lib/dependabot/swift/version.rb
  swift/spec/dependabot/swift/file_parser_spec.rb
  swift/spec/dependabot/swift/language_spec.rb
  swift/spec/dependabot/swift/package_manager_spec.rb
Labels: L: swift

#11089 pass job file path to analyze command
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/AnalyzeCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/update_checker.rb
Labels: L: dotnet:nuget

#11077 Enable CorePack Installing Package Managers from Private Registries
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_helper.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/registry_helper_spec.rb
Labels: L: javascript

#11095 Throwing an appropriate error, when private registry response with 200 status and empty array response
  composer/lib/dependabot/composer/update_checker/latest_version_finder.rb
  composer/spec/dependabot/composer/update_checker/latest_version_finder_spec.rb
Labels: L: php:composer

#11097 Dotnet ecosystem metric collection
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/language.rb
  nuget/lib/dependabot/nuget/package_manager.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/language_spec.rb
  nuget/spec/dependabot/nuget/nuget_package_manager_spec.rb
Labels: L: dotnet:nuget

#10094 Fix unsupported PNPM error message
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
Labels: L: javascript

#11107 Bump poetry version from 1.8.3 to 1.8.5
  python/helpers/requirements.txt
Labels: L: python

#10831 chore(python): Target latest Python 3.12 version to 3.12.7
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#11114 Bump pnpm to 9.15.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#8747 Raise a proper user error when `package.json` includes just a dummy string
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/package_json_faked/package.json
Labels: L: javascript

#11112 Add support for NPM V6 deprecation warning and unsupported error
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/npm_package_manager_spec.rb
Labels: L: javascript

#11123 Bump yarn to 4.5.3
  npm_and_yarn/Dockerfile
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#11137 If overridden file exists, then process it and find the missing key values from base file.
  terraform/lib/dependabot/terraform/file_parser.rb
  terraform/lib/dependabot/terraform/file_selector.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
  terraform/spec/fixtures/projects/child_module_with_no_source/main.tf
  terraform/spec/fixtures/projects/child_module_with_no_source/override.tf
Labels: L: terraform

#11141 `Containerfile` is a thing.
  docker/lib/dependabot/docker/file_fetcher.rb
  docker/spec/dependabot/docker/file_fetcher_spec.rb
  docker/spec/fixtures/github/contents_docker_repo_multiple.json
Labels: L: docker

#11125 WIP: Set timeout for helper subprocesses to enhance stability
  common/lib/dependabot/command_helpers.rb
  common/lib/dependabot/shared_helpers.rb
  common/spec/dependabot/command_helpers_spec.rb
  common/spec/dependabot/shared_helpers_spec.rb
  common/spec/fixtures/commands/error.sh
  common/spec/fixtures/commands/error_hang.sh
  common/spec/fixtures/commands/no_timeout.sh
  common/spec/fixtures/commands/output_hang.sh
  common/spec/fixtures/commands/success.sh
  common/spec/spec_helper.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  updater/spec/dependabot/dependency_snapshot_spec.rb
  updater/spec/dependabot/updater/operations/refresh_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_version_update_pull_request_spec.rb
Labels: L: go:modules, L: rust:cargo, L: javascript, L: python

#11144 Improve error handling for missing dependency versions for github actions
  common/lib/dependabot/errors.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/fixtures/workflow_files/unresolved_version.yml
Labels: L: github:actions

#11155 Return deprecated version if user requests it so that we can trigger warning or logging
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: javascript

#11151 don't use transitive dependency version as top level version
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
Labels: L: dotnet:nuget

#11098 elevate formatting issues to build failure
  nuget/helpers/lib/NuGetUpdater/.editorconfig
  nuget/helpers/lib/NuGetUpdater/Directory.Build.props
  nuget/script/ci-test
Labels: L: dotnet:nuget

#10829 Python 3.13 Support
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/fixtures/projects/unresolvable/requirements.in
  python/spec/fixtures/requirements/pip_compile_native_dependencies.txt
Labels: L: python

#11156 ignore semver condition is ignored when the version is nil in dependency
  common/lib/dependabot/config/update_config.rb
  common/spec/dependabot/config/update_config_spec.rb
Labels: L: javascript

#11037 Set EnableWindowsTargeting to true when updating the lock file
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.LockFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
Labels: L: dotnet:nuget

#11126 bump corepack to fix freezes
  npm_and_yarn/Dockerfile
  npm_and_yarn/lib/dependabot/npm_and_yarn/version.rb
Labels: L: javascript

#11167 capture and report analyzer failures
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
Labels: L: dotnet:nuget

#11166 Add support for python 3.8 deprecation warning and unsupported error
  python/lib/dependabot/python/language.rb
  python/spec/dependabot/python/language_spec.rb
Labels: L: python

#11174 Fixes pip-compile file matcher for metric collection
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/package_manager.rb
  python/spec/dependabot/python/file_parser_spec.rb
Labels: L: python
