Repository dependabot/dependabot-core, pull requests merged in 2024-02, with the labels that each got.

#8943 add sorbet types to Dependabot::Job
  updater/lib/dependabot/job.rb
  updater/spec/dependabot/job_spec.rb
Labels: sorbet 🍦

#8940 Don't recursively update projects which have already been evaluated
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/nuget_search_stubs.rb
  nuget/spec/fixtures/nuspecs/Microsoft.Extensions.DependencyModel.1.0.0.nuspec
  nuget/spec/fixtures/projects/dirsproj/Proj1/Proj1/Proj1.csproj
  nuget/spec/fixtures/projects/dirsproj/Proj1/dirs.proj
  nuget/spec/fixtures/projects/dirsproj/Proj2/dirs.proj
  nuget/spec/fixtures/projects/dirsproj/dirs.proj
  nuget/spec/spec_helper.rb
Labels: L: dotnet:nuget

#8962 fix Go prerelease ordering
  go_modules/lib/dependabot/go_modules/version.rb
  go_modules/spec/dependabot/go_modules/version_spec.rb
Labels: L: go:modules

#8970 Strict type `Dependabot::GitSubmodules`
  .rubocop.yml
  common/lib/dependabot/file_parsers/base.rb
  common/lib/dependabot/file_updaters/base.rb
  common/lib/dependabot/metadata_finders/base.rb
  git_submodules/.rubocop.yml
  git_submodules/lib/dependabot/git_submodules/file_fetcher.rb
  git_submodules/lib/dependabot/git_submodules/file_parser.rb
  git_submodules/lib/dependabot/git_submodules/file_updater.rb
  git_submodules/lib/dependabot/git_submodules/metadata_finder.rb
  git_submodules/lib/dependabot/git_submodules/requirement.rb
  git_submodules/lib/dependabot/git_submodules/update_checker.rb
Labels: L: git:submodules, sorbet 🍦

#8982 Strict type `Dependabot::Devcontainers`
  devcontainers/.rubocop.yml
  devcontainers/lib/dependabot/devcontainers/file_fetcher.rb
  devcontainers/lib/dependabot/devcontainers/file_parser.rb
  devcontainers/lib/dependabot/devcontainers/file_parser/feature_dependency_parser.rb
  devcontainers/lib/dependabot/devcontainers/file_updater.rb
  devcontainers/lib/dependabot/devcontainers/file_updater/config_updater.rb
  devcontainers/lib/dependabot/devcontainers/metadata_finder.rb
  devcontainers/lib/dependabot/devcontainers/requirement.rb
  devcontainers/lib/dependabot/devcontainers/update_checker.rb
  devcontainers/lib/dependabot/devcontainers/utils.rb
  devcontainers/lib/dependabot/devcontainers/version.rb
Labels: sorbet 🍦, L: devcontainers

#8946 force set `Condition="false"` on Microsoft.WebApplication.targets
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/WebApplicationTargetsConditionPatcher.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/XmlFilePreAndPostProcessor.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/XmlExtensions.cs
Labels: L: dotnet:nuget

#8990 escape nuget feed urls before querying
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
Labels: L: dotnet:nuget

#8995 fix TypeError: no implicit conversion of Credential into Hash
  common/lib/dependabot/credential.rb
  hex/lib/dependabot/hex/credential_helpers.rb
  hex/spec/dependabot/hex/credential_helpers_spec.rb
  hex/spec/dependabot/hex/file_updater/lockfile_updater_spec.rb
  hex/spec/dependabot/hex/update_checker_spec.rb
Labels: L: elixir:hex

#8987 type DependencyGroupEngine
  updater/lib/dependabot/dependency_group_engine.rb
  updater/lib/dependabot/dependency_snapshot.rb
Labels: sorbet 🍦

#8986 add types to DependencySnapshot
  updater/lib/dependabot/api_client.rb
  updater/lib/dependabot/dependency_group_engine.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/spec/dependabot/dependency_snapshot_spec.rb
Labels: sorbet 🍦

#8958 Expand Sorbet usage
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/version.rb
Labels: L: dotnet:nuget, sorbet 🍦

#9002 True type `Dependabot::Python::Version`
  bundler/lib/dependabot/bundler/file_fetcher.rb
  python/lib/dependabot/python/version.rb
Labels: L: ruby:bundler, L: python, sorbet 🍦

#9000 Add info on Docker tag support
  docker/README.md
Labels: L: docker

#8930 Nuget lint
  nuget/helpers/lib/NuGetUpdater/.editorconfig
  nuget/helpers/lib/NuGetUpdater/.gitignore
  nuget/helpers/lib/NuGetUpdater/NuGetProjects/NuGet.CommandLine/AssemblyMetadataExtractor.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Program.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/ProjectBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/CompatibilityCheckerFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/FrameworkCompatibilityServiceFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/SupportedFrameworkFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackagesConfigUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorker.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DotNetTools.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/JsonHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/JsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/PackagesConfigBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/ProjectBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/FrameworkCompatibilityService.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/SupportedFrameworks.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectResolver.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/DotNetToolsJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/GlobalJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/WebApplicationTargetsConditionPatcher.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/XmlFilePreAndPostProcessor.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/JsonHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProcessExtensions.cs
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#9011 Filter out NuGet feeds which don't have URLs
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
Labels: L: dotnet:nuget

#9017 only consider a package a development dependency if it doesn't have any other regular dependencies
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/spec/dependabot/nuget/update_checker/compatibility_checker_spec.rb
Labels: L: dotnet:nuget

#9022 allow folllowing HTTP 307 when resolving `.nupkg` contents
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
Labels: L: dotnet:nuget

#8999 add types to DependencyChange
  updater/lib/dependabot/api_client.rb
  updater/lib/dependabot/dependency_change.rb
  updater/lib/dependabot/dependency_change_builder.rb
  updater/lib/dependabot/service.rb
  updater/spec/dependabot/api_client_spec.rb
  updater/spec/dependabot/dependency_change_spec.rb
  updater/spec/dependabot/service_spec.rb
Labels: sorbet 🍦

#9029 Strict type `Dependabot::MetadataFinders::Base::ChangelogFinder`
  common/lib/dependabot/metadata_finders/base/changelog_finder.rb
Labels: sorbet 🍦

#9042 Strict type `Dependabot::Clients::Azure`
  common/lib/dependabot/clients/azure.rb
  common/lib/dependabot/metadata_finders/base/changelog_finder.rb
  common/lib/dependabot/metadata_finders/base/commits_finder.rb
  common/lib/dependabot/pull_request_creator/azure.rb
  common/spec/dependabot/clients/azure_spec.rb
  common/spec/dependabot/metadata_finders/base/changelog_finder_spec.rb
  common/spec/dependabot/pull_request_creator/azure_spec.rb
  common/spec/dependabot/pull_request_updater/azure_spec.rb
  git_submodules/lib/dependabot/git_submodules/file_fetcher.rb
  sorbet/rbi/todo.rbi
Labels: L: git:submodules, sorbet 🍦

#9043 Fix docker variant with matching digests not updating correctly
  docker/lib/dependabot/docker/file_updater.rb
  docker/spec/dependabot/docker/file_updater_spec.rb
  docker/spec/fixtures/docker/dockerfiles/multi_stage_different_variants_with_digests
Labels: L: docker

#8956 Expand wildcards in nuget project references
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorker.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
  nuget/spec/dependabot/nuget/update_checker/compatibility_checker_spec.rb
  nuget/spec/dependabot/nuget/update_checker/dependency_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/tfm_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
  nuget/spec/fixtures/projects/dirsproj_wildcards/Proj1/Proj1/Proj1.csproj
  nuget/spec/fixtures/projects/dirsproj_wildcards/Proj1/dirs.proj
  nuget/spec/fixtures/projects/dirsproj_wildcards/Proj2/Proj2.csproj
  nuget/spec/fixtures/projects/dirsproj_wildcards/Proj2/dirs.proj
  nuget/spec/fixtures/projects/dirsproj_wildcards/dirs.proj
Labels: L: dotnet:nuget

#9012 Properly parse .ruby-version file
  bundler/helpers/v2/monkey_patches/definition_ruby_version_patch.rb
  bundler/helpers/v2/spec/ruby_version_spec.rb
  bundler/spec/fixtures/projects/bundler2/ruby_version_implied/.ruby-version
  bundler/spec/fixtures/projects/bundler2/ruby_version_implied/Gemfile
  bundler/spec/fixtures/projects/bundler2/ruby_version_implied/Gemfile.lock
Labels: L: ruby:bundler

#8925 build(deps): bump pNPM to 8.15.2
  npm_and_yarn/Dockerfile
Labels: L: javascript

#9044 Make container image references explicit
  Dockerfile.updater-core
  cargo/Dockerfile
  go_modules/Dockerfile
  python/Dockerfile
Labels: L: go:modules, L: rust:cargo, L: python

#9049 Fix dependency typo
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#8998 Report Sorbet issue to sentry without raising
  README.md
  updater/lib/dependabot/setup.rb
  updater/lib/dependabot/sorbet/runtime.rb
Labels: sorbet 🍦

#8070 Fix crash when updating sha-pinned images with no "latest" tag
  docker/lib/dependabot/docker/update_checker.rb
Labels: L: docker

#7260 Find Gradle repositories nested in `dependencyResolutionManagement` blocks
  gradle/lib/dependabot/gradle/file_parser/repositories_finder.rb
  gradle/spec/dependabot/gradle/file_parser/repositories_finder_spec.rb
  gradle/spec/fixtures/settings_files/dependency_resolution_management.gradle
Labels: L: java:gradle

#9064 Surface out of disk/memory error message for easier visibility
  common/lib/dependabot/shared_helpers.rb
  common/spec/dependabot/shared_helpers_spec.rb
  common/spec/helpers/test/error_bash
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/yarn_lock.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
Labels: L: go:modules, L: javascript

#9091 fix docker credential type errors
  docker/lib/dependabot/docker/utils/credentials_finder.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/dependabot/docker/utils/credentials_finder_spec.rb
Labels: L: docker

#9082 NuGet: Set EnableWindowsTargeting as true
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#9092 nuget updater command is already space-enabled; allow unsafe execution
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#9111 Avoid passing nil url to registry client
  nuget/lib/dependabot/nuget/metadata_finder.rb
Labels: L: dotnet:nuget, sorbet 🍦

#9097 Update referenced projects during a run of NuGetUpdater.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/NuGetHelper.cs
Labels: L: dotnet:nuget

#9113 Strict type `Dependabot::Clients::Bitbucket`
  common/lib/dependabot/clients/bitbucket.rb
  common/spec/dependabot/clients/bitbucket_spec.rb
Labels: sorbet 🍦

#9121 Strict type `Dependabot::Clients::CodeCommit`
  common/lib/dependabot/clients/codecommit.rb
  common/spec/dependabot/clients/codecommit_spec.rb
  common/spec/dependabot/file_fetchers/base_spec.rb
  sorbet/rbi/shims/aws-sdk-codecommit.rbi
Labels: sorbet 🍦

#9122 Strict type `Dependabot::Clients::GitHubWithRetries`
  common/lib/dependabot/clients/github_with_retries.rb
  common/lib/dependabot/git_commit_checker.rb
  common/lib/dependabot/metadata_finders/base/changelog_finder.rb
  common/lib/dependabot/metadata_finders/base/commits_finder.rb
  common/lib/dependabot/metadata_finders/base/release_finder.rb
Labels: sorbet 🍦

#9129 Strict type `Dependabot::Clients::GitLabWithRetries`
  .vscode/launch.json
  common/lib/dependabot/clients/gitlab_with_retries.rb
  common/lib/dependabot/git_commit_checker.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
Labels: sorbet 🍦

#9109 Fetch the cargo config file so we fetch registry definitions
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/fixtures/github/contents_cargo_config.json
  cargo/spec/fixtures/github/contents_cargo_dir.json
  cargo/spec/fixtures/github/contents_cargo_with_config.json
Labels: L: rust:cargo

#9130 Strict type `Dependabot::PullRequestCreator::MessageBuilder`
  common/lib/dependabot/pull_request_creator/message_builder.rb
  common/lib/dependabot/pull_request_creator/pr_name_prefixer.rb
Labels: sorbet 🍦

#9135 add more http redirects
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
Labels: L: dotnet:nuget

#9117 find .nupkg URL without PackageBaseAddress
  nuget/lib/dependabot/nuget/http_response_helpers.rb
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
Labels: L: dotnet:nuget

#9132 Strict type `Dependabot::PullRequestUpdater::Gitlab`
  common/lib/dependabot/pull_request_updater.rb
  common/lib/dependabot/pull_request_updater/gitlab.rb
Labels: sorbet 🍦

#9131 Strict type `Dependabot::PullRequestCreator::Azure`
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/azure.rb
Labels: sorbet 🍦

#9141 Strict type `Dependabot::PullRequestCreator::CodeCommit`
  common/lib/dependabot/clients/codecommit.rb
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/codecommit.rb
Labels: sorbet 🍦

#9140 Strict type `Dependabot::PullRequestCreator::Bitbucket`
  common/lib/dependabot/clients/bitbucket.rb
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/bitbucket.rb
Labels: sorbet 🍦

#9139 Enable `Sorbet/TrueSigil` rule in `composer`
  composer/.rubocop.yml
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
Labels: L: php:composer, sorbet 🍦

#9138 Enable `Sorbet/TrueSigil` rule in `elm`
  elm/.rubocop.yml
  elm/lib/dependabot/elm/requirement.rb
Labels: L: elm, sorbet 🍦

#8947 Strict type `Dependabot::UpdateCheckers::Base`
  .vscode/launch.json
  bundler/lib/dependabot/bundler/update_checker.rb
  common/lib/dependabot/dependency.rb
  common/lib/dependabot/update_checkers/base.rb
  devcontainers/lib/dependabot/devcontainers/update_checker.rb
  docker/lib/dependabot/docker/update_checker.rb
  elm/spec/dependabot/elm/update_checker_spec.rb
  git_submodules/lib/dependabot/git_submodules/update_checker.rb
  gradle/lib/dependabot/gradle/update_checker.rb
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
  pub/lib/dependabot/pub/helpers.rb
  pub/lib/dependabot/pub/update_checker.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
  silent/lib/dependabot/silent/update_checker.rb
Labels: L: ruby:bundler, L: java:gradle, L: elm, L: git:submodules, L: docker, L: dotnet:nuget, L: dart:pub, sorbet 🍦, L: devcontainers

#9137 Enable `Sorbet/TrueSigil` rule in `github_actions`
  github_actions/.rubocop.yml
Labels: L: github:actions, sorbet 🍦

#9104 make test properly fail on malformed path
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#9153 don't fail completely if package version cannot be parsed
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
Labels: L: dotnet:nuget

#9157 run `nuget restore` if the first update operation failed
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
Labels: L: dotnet:nuget

#9154 Strict type `Dependabot::PullRequestCreator::GitHub`
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/github.rb
Labels: sorbet 🍦

#9155 Strict type `Dependabot::PullRequestCreator::Gitlab`
  common/lib/dependabot/pull_request_creator.rb
  common/lib/dependabot/pull_request_creator/gitlab.rb
Labels: sorbet 🍦

#9163 Strict type `Dependabot::PullRequestUpdater::Azure`
  common/lib/dependabot/pull_request_updater/azure.rb
Labels: sorbet 🍦
