Repository dependabot/dependabot-core, pull requests merged in 2024-03, with the labels that each got.

#9165 Strict type `Dependabot::PullRequestUpdater::GitHub`
  common/lib/dependabot/pull_request_updater/github.rb
Labels: sorbet 🍦

#9174 Require `typed: strict` for `common`
  common/.rubocop.yml
Labels: sorbet 🍦

#9175 Require `typed: true` for `docker`
  docker/.rubocop.yml
  docker/lib/dependabot/docker/file_fetcher.rb
  docker/lib/dependabot/docker/file_parser.rb
Labels: L: docker, sorbet 🍦

#9176 Require `typed: true` for `silent`
  silent/.rubocop.yml
Labels: sorbet 🍦

#9164 Allow a list of properties to ignore when evaluating MSBuild values.
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#9172 improve nuget v2 handling for non- nuget.org sources
  nuget/lib/dependabot/nuget/nuget_client.rb
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/nuget_client_spec.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
Labels: L: dotnet:nuget

#9177 Resolve errors from Sorbet `todo.rbi`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/json_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/lockfile_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/pnpm_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/yarn_lock.rb
  sorbet/rbi/gems/terminal-table@3.0.2.rbi
  sorbet/rbi/todo.rbi
Labels: L: javascript, sorbet 🍦

#9159 Only use credentials which have `registry` configured
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/registry_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/registry_finder_spec.rb
Labels: L: javascript

#9194 Require `typed: true` for `cargo`
  cargo/.rubocop.yml
  cargo/lib/dependabot/cargo/file_fetcher.rb
Labels: L: rust:cargo, sorbet 🍦

#9202 Record Sorbet errors with OpenTelemetry
  updater/lib/dependabot/sorbet/runtime.rb
Labels: sorbet 🍦

#9204 use built-in file downloader to get `.nupkg`
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/spec/dependabot/nuget/update_checker/nupkg_fetcher_spec.rb
Labels: L: dotnet:nuget

#9186 Strict type most of `github_actions`
  common/lib/dependabot/file_updaters/base.rb
  github_actions/lib/dependabot/github_actions/file_fetcher.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/lib/dependabot/github_actions/metadata_finder.rb
  github_actions/lib/dependabot/github_actions/requirement.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/lib/dependabot/github_actions/version.rb
Labels: L: github:actions, sorbet 🍦

#9180 Ensure `T::Set` from `NuGetClient.get_package_versions`
  nuget/lib/dependabot/nuget/nuget_client.rb
Labels: L: dotnet:nuget, sorbet 🍦

#8275 build(deps): bump node to v20
  npm_and_yarn/Dockerfile
Labels: good first issue, L: javascript

#9216 Avoid instantiating a dependency with nil requirements
  updater/lib/dependabot/updater/operations/update_all_versions.rb
Labels: T: bug 🐞, sorbet 🍦

#9220 Add handling for nil `source_url` in `IssueLinker` when generating PR text
  common/lib/dependabot/pull_request_creator/message_builder/issue_linker.rb
Labels: T: bug 🐞, sorbet 🍦

#9206 Add and configure `rubocop-rspec`
  .rubocop.yml
  Gemfile
  Gemfile.lock
  common/dependabot-common.gemspec
  sorbet/rbi/gems/regexp_parser@2.8.3.rbi
  sorbet/rbi/gems/rubocop-ast@1.30.0.rbi
  sorbet/rbi/gems/rubocop-capybara@2.20.0.rbi
  sorbet/rbi/gems/rubocop-factory_bot@2.25.1.rbi
  sorbet/rbi/gems/rubocop-rspec@2.27.1.rbi
  sorbet/rbi/gems/rubocop@1.58.0.rbi
  updater/Gemfile.lock
Labels: T: tech-debt ⚙️

#9230 always directly download nupkg and cache the tfms
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
Labels: L: dotnet:nuget

#9234 report the current version as latest if nothing can be found
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#9238 don't assume the `Include` attribute is present on a `<ProjectReference>` node
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/spec/dependabot/nuget/file_parser/project_file_parser_spec.rb
Labels: L: dotnet:nuget

#9228 Fix Nuget grouped PR's
  nuget/lib/dependabot/nuget/file_updater.rb
Labels: L: dotnet:nuget

#9239 improve robustness of parsing odd-looking version ranges
  nuget/lib/dependabot/nuget/requirement.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
  nuget/spec/fixtures/projects/open_upper_version_range/my.csproj
Labels: L: dotnet:nuget

#9232 Simplify type parameters for `Gem::Version`
  common/lib/dependabot/version.rb
  github_actions/lib/dependabot/github_actions/version.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/version.rb
  nuget/lib/dependabot/nuget/version.rb
  pub/lib/dependabot/pub/version.rb
  sorbet/rbi/shims/rubygems.rbi
  terraform/lib/dependabot/terraform/version.rb
Labels: L: github:actions, L: terraform, L: dotnet:nuget, L: dart:pub, L: javascript, sorbet 🍦

#9242 Avoid comparison with nil version
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
Labels: T: bug 🐞, L: javascript, sorbet 🍦

#9225 Strict type `nuget` file_fetcher, file_parser, and file_updater classes.
  nuget/lib/dependabot/nuget/cache_manager.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_fetcher/import_paths_finder.rb
  nuget/lib/dependabot/nuget/file_fetcher/sln_project_paths_finder.rb
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/lib/dependabot/nuget/file_parser/dotnet_tools_json_parser.rb
  nuget/lib/dependabot/nuget/file_parser/global_json_parser.rb
  nuget/lib/dependabot/nuget/file_parser/packages_config_parser.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/file_parser/property_value_finder.rb
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/lib/dependabot/nuget/file_updater/property_value_updater.rb
  nuget/lib/dependabot/nuget/http_response_helpers.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
Labels: L: dotnet:nuget, sorbet 🍦

#9162 Filter out NuGet files where lines were only deleted
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
Labels: L: dotnet:nuget

#9243 use safe navigation through resolvable version
  nuget/lib/dependabot/nuget/update_checker.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#9252 when resolving MSBuild properties, don't throw if it can't be resolved
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#9263 ensure nupkg zip entry contains a tfm before adding to the list
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/spec/dependabot/nuget/update_checker/compatibility_checker_spec.rb
Labels: L: dotnet:nuget

#9244 Type more of `nuget`
  common/lib/dependabot/registry_client.rb
  nuget/lib/dependabot/nuget/metadata_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
Labels: L: dotnet:nuget, sorbet 🍦

#9282 update dotnet sdk
  nuget/Dockerfile
Labels: L: dotnet:nuget

#9269 improve update-not-possible logging
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder/dependency_source.rb
  cargo/lib/dependabot/cargo/update_checker/latest_version_finder.rb
  common/lib/dependabot/update_checkers/version_filters.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  gradle/lib/dependabot/gradle/update_checker/version_finder.rb
  maven/lib/dependabot/maven/update_checker/version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
Labels: L: ruby:bundler, L: java:gradle, L: go:modules, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: javascript, L: python

#9278 always recurse submodules when cloning
  common/lib/dependabot/file_fetchers/base.rb
  common/spec/dependabot/file_fetchers/base_spec.rb
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: go:modules, L: javascript

#9284 Strict type `Dependabot::Nuget::UpdateChecker::VersionFinder`
  nuget/lib/dependabot/nuget/update_checker/version_finder.rb
Labels: L: dotnet:nuget, sorbet 🍦

#8626 Make `toml` an explicit requirement
  python/helpers/lib/parser.py
  python/helpers/requirements.txt
  python/helpers/run.py
Labels: L: python

#9294 make dependency file not found message more specific
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
Labels: L: dotnet:nuget

#9293 Strict type some more `nuget`
  nuget/lib/dependabot/nuget/update_checker/nupkg_fetcher.rb
  nuget/lib/dependabot/nuget/update_checker/nuspec_fetcher.rb
  nuget/lib/dependabot/nuget/update_checker/requirements_updater.rb
Labels: L: dotnet:nuget, sorbet 🍦

#9320 Update PNPM to 8.15.5
  npm_and_yarn/Dockerfile
Labels: L: javascript

#9303 report discovered dependencies and requirement metadata
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
Labels: L: dotnet:nuget

#9328 chore(python): target latest python versions 3.12.2, 3.11.8
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#9346 Start strict typing `gradle`
  common/lib/dependabot/requirements_updater/base.rb
  gradle/lib/dependabot/gradle/file_updater/dependency_set_updater.rb
  gradle/lib/dependabot/gradle/metadata_finder.rb
  gradle/lib/dependabot/gradle/requirement.rb
  gradle/lib/dependabot/gradle/update_checker/requirements_updater.rb
Labels: L: java:gradle, sorbet 🍦

#9338 Cover parts of `go_modules` code with Sorbet
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/lib/dependabot/go_modules/replace_stubber.rb
  go_modules/lib/dependabot/go_modules/requirement.rb
Labels: L: go:modules, sorbet 🍦

#9337 Strict type remainder of NuGet
  nuget/.rubocop.yml
  nuget/lib/dependabot/nuget/update_checker/compatibility_checker.rb
  nuget/lib/dependabot/nuget/update_checker/dependency_finder.rb
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_comparer.rb
  nuget/lib/dependabot/nuget/update_checker/tfm_finder.rb
Labels: L: dotnet:nuget, sorbet 🍦

#9322 Fix Invalid .yarnrc.yml File due to Missing Double Quotes
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn_berry/yarnrc_yml_misconfigured/.yarnrc.yml
  npm_and_yarn/spec/fixtures/projects/yarn_berry/yarnrc_yml_misconfigured/package.json
  npm_and_yarn/spec/fixtures/projects/yarn_berry/yarnrc_yml_misconfigured/yarn.lock
Labels: L: javascript

#8627 Switch from `pipfile` to `plette` lib
  python/helpers/lib/hasher.py
  python/helpers/requirements.txt
Labels: L: python

#9352 `@target_version` can be `String` or `Dependabot::Nuget::Version`
  nuget/lib/dependabot/nuget/update_checker/property_updater.rb
Labels: T: bug 🐞, L: dotnet:nuget, sorbet 🍦

#9323 Support Poetry non-package mode
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/fixtures/pyproject_files/poetry_non_package_mode.toml
Labels: L: python

#9313 fix: parse plugin artifactItem dependencies
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/file_updater/declaration_finder.rb
  maven/spec/dependabot/maven/file_parser_spec.rb
  maven/spec/dependabot/maven/file_updater_spec.rb
  maven/spec/fixtures/poms/plugin_dependencies_artifactItems_pom.xml
Labels: L: java:maven

#9366 Prevent `NoMethodError` in group update creation
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/spec/dependabot/updater/operations/refresh_group_update_pull_request_spec.rb
Labels: T: bug 🐞, F: grouped-updates 🎳

#9347 only report dependencies from project files that have a target framework
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/fixtures/csproj/basic2.csproj
Labels: L: dotnet:nuget

#9334 Fix CodeCommit 'fetch_repo_contents' strict type enforcement from Aws::CodeCommit::Types::GetFolderOutput to Seahorse::Client::Response
  common/lib/dependabot/clients/codecommit.rb
Labels: sorbet 🍦

#9365 `package_version` may be nil
  nuget/lib/dependabot/nuget/update_checker/nuspec_fetcher.rb
Labels: T: bug 🐞, L: dotnet:nuget, F: grouped-updates 🎳, sorbet 🍦

#9374 don't allow `global.json` from repo to affect MSBuild discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#9379 Add `require 'sorbet-runtime'` where missing
  common/lib/dependabot/clients/bitbucket_with_retries.rb
  nuget/lib/dependabot/nuget/file_fetcher/import_paths_finder.rb
  nuget/lib/dependabot/nuget/file_fetcher/sln_project_paths_finder.rb
  nuget/lib/dependabot/nuget/file_parser/dotnet_tools_json_parser.rb
  nuget/lib/dependabot/nuget/file_parser/global_json_parser.rb
  nuget/lib/dependabot/nuget/file_parser/packages_config_parser.rb
  nuget/lib/dependabot/nuget/file_parser/project_file_parser.rb
  nuget/lib/dependabot/nuget/file_parser/property_value_finder.rb
  nuget/lib/dependabot/nuget/file_updater/property_value_updater.rb
  terraform/lib/dependabot/terraform/version.rb
  updater/lib/dependabot/dependency_group_engine.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/setup.rb
Labels: L: terraform, L: dotnet:nuget, sorbet 🍦

#9381 honor `packageSourceMapping` from `NuGet.Config`
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/nuget_search_stubs.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
  nuget/spec/dependabot/nuget/update_checker/version_finder_spec.rb
Labels: L: dotnet:nuget

#9343 Update npm sorbet types
  common/lib/dependabot/file_fetchers/base.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/dependency_files_filterer.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher/path_dependency_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/json_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/lockfile_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/yarn_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_name.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/registry_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/sub_dependency_files_filterer.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/version.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_name_spec.rb
Labels: L: javascript, sorbet 🍦

#9385 don't fail loading build files that don't exist
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget
