Repository dependabot/dependabot-core, pull requests merged in 2024-07, with the labels that each got.

#10098 Strict type `Dependabot::Maven::FileParser`
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/file_parser/property_value_finder.rb
Labels: L: java:maven, sorbet 🍦

#10131 Strict type `Dependabot::Python::PipCompileFileMatcher`
  python/lib/dependabot/python/pip_compile_file_matcher.rb
Labels: L: python, sorbet 🍦

#10132 Strict type `Dependabot::Pub::FileUpdater`
  python/lib/dependabot/python/file_updater.rb
Labels: L: dart:pub, L: python, sorbet 🍦

#10123 Resolve the ruby scripts paths defined in the Gem file
  bundler/lib/dependabot/bundler/file_fetcher.rb
  bundler/lib/dependabot/bundler/file_fetcher/included_path_finder.rb
  bundler/lib/dependabot/bundler/file_fetcher/require_relative_finder.rb
  bundler/spec/dependabot/bundler/file_fetcher/included_path_finder_spec.rb
Labels: L: ruby:bundler

#10133 Strict type `Dependabot::Pub::FileFetcher`
  pub/lib/dependabot/pub/file_fetcher.rb
Labels: L: dart:pub, sorbet 🍦

#10093 Strict type `Dependabot::Maven::PropertyValueUpdater`
  maven/lib/dependabot/maven/file_updater/property_value_updater.rb
Labels: L: java:maven, sorbet 🍦

#10080 Strict type `Dependabot::Gradle::FileFetcher`
  common/lib/dependabot/file_fetchers/base.rb
  gradle/lib/dependabot/gradle/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
Labels: L: java:gradle, L: dotnet:nuget, sorbet 🍦

#10044 Strict type `Dependabot::Bundler::FileFetcher`
  bundler/lib/dependabot/bundler/file_fetcher.rb
Labels: L: ruby:bundler, sorbet 🍦

#10109 Strict type `go_modules`
  go_modules/.rubocop.yml
  go_modules/lib/dependabot/go_modules/file_updater.rb
  go_modules/lib/dependabot/go_modules/metadata_finder.rb
  go_modules/lib/dependabot/go_modules/native_helpers.rb
  go_modules/lib/dependabot/go_modules/path_converter.rb
  go_modules/lib/dependabot/go_modules/resolvability_errors.rb
  go_modules/lib/dependabot/go_modules/update_checker.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/lib/dependabot/go_modules/version.rb
Labels: L: go:modules, sorbet 🍦

#10142 allow all directory separators for local package feeds
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10107 Enabling the RSpec `InstanceVariable` Rubocop rule on all but `go_modules`
  .rubocop_todo.yml
  bundler/helpers/v2/spec/ruby_version_spec.rb
  common/spec/dependabot/clients/azure_spec.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  pub/spec/dependabot/pub/infer_sdk_versions_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
Labels: L: ruby:bundler, L: dart:pub

#10139 Strict type `Dependabot::Pub::Requirement`
  pub/lib/dependabot/pub/requirement.rb
Labels: L: dart:pub, sorbet 🍦

#9532 build(deps): bump terraform from 1.8.0 to 1.9.0
  terraform/Dockerfile
Labels: L: terraform

#10061 Adds exception to handle nil buildfile issue
  gradle/lib/dependabot/gradle/file_updater.rb
  gradle/spec/dependabot/gradle/file_updater_spec.rb
Labels: L: java:gradle

#10157 Enable `Sorbet/StrictSigil` in `devcontainers`
  devcontainers/.rubocop.yml
Labels: sorbet 🍦, L: devcontainers

#10172 Remove redundant call from `mixfile`
  hex/lib/dependabot/hex/file_fetcher.rb
Labels: L: elixir:hex, sorbet 🍦

#10156 Strict type `github_actions`
  common/lib/dependabot/git_commit_checker.rb
  common/lib/dependabot/update_checkers/base.rb
  github_actions/.rubocop.yml
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
Labels: L: github:actions, sorbet 🍦

#10159 Fix "Passed `nil` into T.must" error
  go_modules/lib/dependabot/go_modules/update_checker.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
Labels: L: go:modules, sorbet 🍦

#10150 Combining dependabot core version constraint (latest_allowable_version) with existing composer version constraint
  composer/helpers/v2/src/UpdateChecker.php
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#10174 Ignores timeout in .npmrc file while job update in npm_and_yarn
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npmrc_builder_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm6/npmrc_env_timeout/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm6/npmrc_env_timeout/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm6/npmrc_env_timeout/package.json
Labels: L: javascript

#10184 Revert "Combining dependabot core version constraint (latest_allowable_version) with existing composer version constraint"
  composer/helpers/v2/src/UpdateChecker.php
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
Labels: L: php:composer

#10188 Solution provided for ignore minor version config is not respected.
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/dependabot/composer/update_checker_spec.rb
  composer/spec/fixtures/projects/php_specified_in_library/composer.json
Labels: L: php:composer

#10179 Adds socket hang up error capture
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_registry_that_times_out/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_registry_that_times_out/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_registry_that_times_out/package.json
Labels: L: javascript

#10194 Revert PR #10060: Fix Versioning Strategy for Python Dependencies
  python/lib/dependabot/python/requirement.rb
  python/lib/dependabot/python/update_checker/requirements_updater.rb
  python/spec/dependabot/python/requirement_spec.rb
  python/spec/dependabot/python/update_checker/requirements_updater_spec.rb
Labels: L: python

#10196 Adds error handling for registry auth failures
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_registry_with_auth/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_registry_with_auth/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_registry_with_auth/package.json
Labels: L: javascript

#10052 Support Go modules with LFS committed files
  go_modules/Dockerfile
Labels: L: go:modules

#10207 Treat `-pre` version suffix as prerelease.
  gradle/lib/dependabot/gradle/version.rb
  gradle/spec/dependabot/gradle/version_spec.rb
  maven/lib/dependabot/maven/version.rb
  maven/spec/dependabot/maven/version_spec.rb
Labels: L: java:gradle, L: java:maven

#10217 ensure ``Dependency::source::source_url`` can be populated from `.nuspec` uRL
  nuget/lib/dependabot/nuget/metadata_finder.rb
  nuget/spec/dependabot/nuget/metadata_finder_spec.rb
Labels: L: dotnet:nuget

#10177 Improve Yarn Helper Error Handling
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10223 Handles GitHub package authentication errors
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_github_with_invalid_auth_token/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_github_with_invalid_auth_token/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_github_with_invalid_auth_token/package.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_github_with_no_auth_token/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_github_with_no_auth_token/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_github_with_no_auth_token/package.json
Labels: L: javascript

#10225 handle 404 from nuget sources
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestHttpServer.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/NuGetContext.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
Labels: L: dotnet:nuget

#10158 Prevent `remove_lockfile_packages_name_attribute` from being called with `nil`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm8/current_name_is_missing/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm8/current_name_is_missing/package.json
  npm_and_yarn/spec/fixtures/updated_projects/npm8/current_name_is_missing/package-lock.json
  npm_and_yarn/spec/fixtures/updated_projects/npm8/current_name_is_missing/package.json
Labels: L: javascript, sorbet 🍦

#10197 surface authentication errors from native tool
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/UpdateCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/ExpectedDiscoveryResults.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestHttpServer.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalysisResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/NuGetContext.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/WorkspaceDiscoveryResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ErrorType.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NativeResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/analysis/dependency_analysis.rb
  nuget/lib/dependabot/nuget/native_discovery/native_workspace_discovery.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/lib/dependabot/nuget/nuget_config_credential_helpers.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/spec/dependabot/nuget/update_checker_spec.rb
Labels: L: dotnet:nuget

#10230 ensure every project is compatible with the `Any,Version=v0.0` framework
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/CompatibilityCheckerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
Labels: L: dotnet:nuget

#10232 trim whitespace from package names
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/ProjectBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10235 write dependency info JSON to log
  nuget/lib/dependabot/nuget/native_update_checker/native_update_checker.rb
Labels: L: dotnet:nuget

#10222 Fix malformed version number error for terraform and github actions
  github_actions/lib/dependabot/github_actions/version.rb
  github_actions/spec/dependabot/github_actions/version_spec.rb
  terraform/lib/dependabot/terraform/version.rb
  terraform/spec/dependabot/terraform/version_spec.rb
Labels: L: github:actions, L: terraform

#10110 Fix NuGet app/web.config assembly binding redirect updates
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/file_updater.rb
Labels: L: dotnet:nuget

#10216 Fix `ArgumentError` in `original_package_update_available?` when `latest_version` is `nil`
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
Labels: L: javascript

#10243 use unique directory for temp nuget packages
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/NuGetContext.cs
Labels: L: dotnet:nuget

#10237 Adds filter for failed to replace env in config erros
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn/npm_global_registry_env_var_missing/.npmrc
  npm_and_yarn/spec/fixtures/projects/yarn/npm_global_registry_env_var_missing/package.json
  npm_and_yarn/spec/fixtures/projects/yarn/npm_global_registry_env_var_missing/yarn.lock
Labels: L: javascript

#10249 Fix security updates in Bundler subdependencies
  .github/workflows/smoke.yml
  bundler/helpers/v2/lib/functions/force_updater.rb
Labels: L: ruby:bundler

#10247 report missing nuget files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ErrorType.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/MissingFileException.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#10255 support multi-part requirements
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/RequirementTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/Requirement.cs
Labels: L: dotnet:nuget

#10269 analyze `global.json` and `dotnet-tools.json`
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
Labels: L: dotnet:nuget

#10257 Centralize Yarn Error Handling for Yarn Update
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10268 Use repository in project urls as a source
  python/lib/dependabot/python/metadata_finder.rb
  python/spec/dependabot/python/metadata_finder_spec.rb
  python/spec/fixtures/pypi/pypi_response_project_urls_source.json
Labels: L: python

#10271 Handle Errors Coded with YN0035 Yarn Error Code
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#10256 Fixes URI::InvalidURIError issue while fetching metadata
  common/lib/dependabot/git_metadata_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
Labels: L: javascript

#10284 Adds relevant information to exception handling
  gradle/lib/dependabot/gradle/file_updater.rb
Labels: L: java:gradle

#10290 Adds exception handling for override failure errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_override/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_override/package.json
Labels: L: javascript

#10292 Fixes Dependabot::SharedHelpers::HelperSubprocessFailed - nested aliases not supported
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_nested_deps/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_nested_deps/package.json
Labels: L: javascript

#10295 Small typo
  docker/lib/dependabot/docker/version.rb
Labels: L: docker

#10278 Strict type `Dependabot::Terraform::UpdateChecker`
  terraform/lib/dependabot/terraform/update_checker.rb
Labels: L: terraform, sorbet 🍦

#10305 temporarily sideline `global.json` when adding a transitive package
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10308 Fixes Dependabot-SharedHelpers-HelperSubprocessFailed
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_eai_access_fail/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_eai_access_fail/package.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access/package.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access_npm/.npmrc
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access_npm/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_no_access_npm/package.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_peer_deps/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm/simple_with_peer_deps/package.json
Labels: L: javascript

#10331 retain `msbuild-sdks` property in `global.json` when adding a transitive dependency
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget
