Repository dependabot/dependabot-core, pull requests merged in 2024-10, with the labels that each got.

#10702 escape all required characters in nuget source names
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
Labels: L: dotnet:nuget

#10676 Make sure process parameters are correctly quoted
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/NuGetHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProcessExtensions.cs
Labels: L: dotnet:nuget

#10692 rearrange NuGet error handling to one location in full runner
  nuget/helpers/lib/NuGetUpdater/.editorconfig
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/TestApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/DependencyFileNotFound.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PrivateSourceAuthenticationFailure.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UnknownError.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/IApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
Labels: L: dotnet:nuget

#10710 only escape repo urls if necessary
  nuget/lib/dependabot/nuget/update_checker/repository_finder.rb
  nuget/spec/dependabot/nuget/update_checker/repository_finder_spec.rb
Labels: L: dotnet:nuget

#10593 Support .NET 9
  .devcontainer/core-dev/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  common/lib/dependabot/shared_helpers.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  nuget/Dockerfile
  nuget/helpers/build
  nuget/helpers/lib/NuGetUpdater/Directory.Build.props
  nuget/helpers/lib/NuGetUpdater/Directory.Common.props
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/global.json
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: github:actions, L: dotnet:nuget

#10713 allow empty version after comma in a requirement
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/RequirementTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/Requirement.cs
  nuget/lib/dependabot/nuget/requirement.rb
  nuget/spec/dependabot/nuget/requirement_spec.rb
Labels: L: dotnet:nuget

#10706 Cleans up feature flag for dynamic version selector
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/version_selector.rb
Labels: L: javascript

#10704 Revert "Revert "Use new implementation of Maven version standard""
  common/lib/dependabot/config/ignore_condition.rb
  common/lib/dependabot/version.rb
  common/spec/dependabot/version_spec.rb
  maven/lib/dependabot/maven/new_version.rb
  maven/lib/dependabot/maven/update_checker/requirements_updater.rb
  maven/lib/dependabot/maven/version.rb
  maven/spec/dependabot/maven/new_version_spec.rb
  maven/spec/dependabot/maven/requirement_spec.rb
  maven/spec/dependabot/maven/update_checker/requirements_updater_spec.rb
  maven/spec/dependabot/maven/version_spec.rb
Labels: L: java:maven

#10719 Make Dependabot tolerate new "ref not found" error message from Cargo 1.80+
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
Labels: L: rust:cargo

#10732 Fix Sorbet typings for Composer file_parser and helper
  composer/lib/dependabot/composer/file_fetcher.rb
  composer/lib/dependabot/composer/file_parser.rb
  composer/lib/dependabot/composer/helpers.rb
Labels: L: php:composer

#10720 report specific error when project cannot be restored
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ErrorType.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NativeResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdateNotPossible.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/UpdateNotPossibleException.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#10651 Strict type `Dependabot::NpmAndYarn::FileUpdater`
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
Labels: L: javascript, sorbet 🍦

#10644 Strict type `Dependabot::Terraform::FileUpdater`
  terraform/lib/dependabot/terraform/file_updater.rb
Labels: L: terraform, sorbet 🍦

#10757 Update NPM Default and Fallback Versions to NPM 8
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
Labels: L: javascript

#10723 Fix typo
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
Labels: L: dotnet:nuget

#10761 Patch: Enforce npm 8 for Lockfile Version 2+
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#10770 Fixes : exception handling for client and server codes (4xx, 5xx)
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
Labels: L: python

#10613 Update python version regex and fix version ordering
  python/lib/dependabot/python/requirement.rb
  python/lib/dependabot/python/version.rb
  python/spec/dependabot/python/requirement_spec.rb
  python/spec/dependabot/python/version_spec.rb
Labels: L: python

#10765 Update Specs for NPM 8 as Default and Fallback Version
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#10774 update allowed files regex
  nuget/lib/dependabot/nuget/file_updater.rb
  nuget/spec/dependabot/nuget/file_updater_spec.rb
Labels: L: dotnet:nuget

#10762 handle all errors during an update job
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/ExpectedUpdateOperationResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ErrorType.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#10748 create separate loggers to make test output easier to read
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.FrameworkCheck.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/AnalyzeCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/DiscoverCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/FrameworkCheckCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/UpdateCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/CompatibilityCheckerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/DotNetToolsJsonBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/GlobalJsonBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/CompatibilityCheckerFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestLogger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Sdk.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/DependencyFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/NuGetContext.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DirectoryPackagesPropsDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DotNetToolsJsonDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/GlobalJsonDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/DotNetToolsJsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/GlobalJsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/JsonBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/CompatabilityChecker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/DotNetToolsJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/GlobalJsonUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SdkPackageUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ConsoleLogger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ILogger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/Logger.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/NuGetHelper.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#10693 Fix nuget ecosystem arm build
  nuget/Dockerfile
Labels: L: dotnet:nuget

#10778 Add sorbet typing to maven requirements updater
  maven/lib/dependabot/maven/update_checker/requirements_updater.rb
Labels: L: java:maven, sorbet 🍦

#10786 Update pnpm Specs with Public Git Dependency for Private Testing
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private_v8/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/github_dependency_private_v8/pnpm-lock.yaml
Labels: L: javascript

#10792 Adding osv scanner to maven_osv docker image
  bin/docker-dev-shell
  maven_osv/Dockerfile
Labels: L: java:maven_osv

#10794 raise when an unsupported package manager version is present
  silent/lib/dependabot/silent/file_parser.rb
  silent/lib/dependabot/silent/package_manager.rb
  silent/tests/testdata/vu-unsupported.txt
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/update_files_command.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/spec/dependabot/dependency_snapshot_spec.rb
  updater/spec/dependabot/update_files_command_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/fixtures/bundler/unsupported/Gemfile
  updater/spec/fixtures/bundler/unsupported/Gemfile.lock
Labels: L: ruby:bundler

#10796 Remove Bundler v1 Deprecation and Unsupported Feature Flags and Deactivate Bundler v1 CI Tests
  .github/workflows/ci.yml
  bin/ci-test
  bundler/Dockerfile
  bundler/lib/dependabot/bundler/helpers.rb
  bundler/lib/dependabot/bundler/package_manager.rb
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
  bundler/script/ci-test
  bundler/spec/dependabot/bundler/file_parser/file_preparer_spec.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/file_updater_spec.rb
  bundler/spec/dependabot/bundler/helper_spec.rb
  bundler/spec/dependabot/bundler/package_manager_spec.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
  bundler/spec/spec_helper.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/pull_request_creator/message_builder_spec.rb
  updater/lib/dependabot/notices_helpers.rb
  updater/spec/dependabot/notices_helpers_spec.rb
  updater/spec/dependabot/updater/operations/create_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_version_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/update_all_versions_spec.rb
  updater/spec/dependabot/updater/pull_request_helpers_spec.rb
  updater/spec/fixtures/bundler/original/Gemfile.lock
  updater/spec/fixtures/bundler/original/sub_dep.lock
  updater/spec/fixtures/bundler/updated/Gemfile.lock
  updater/spec/fixtures/bundler_grouped/original/Gemfile.lock
  updater/spec/support/dummy_pkg_helpers.rb
Labels: L: ruby:bundler

#10803 Check csproj files for adjacent packages.config.
  nuget/.gitignore
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/spec/fixtures/github/multiple_packages_config/src/a/packages.config
  nuget/spec/fixtures/github/multiple_packages_config/src/a/projecta.csproj
  nuget/spec/fixtures/github/multiple_packages_config/src/b/packages.config
  nuget/spec/fixtures/github/multiple_packages_config/src/b/projectb.csproj
  nuget/spec/fixtures/github/multiple_packages_config/src/c/packages.config
  nuget/spec/fixtures/github/multiple_packages_config/src/c/projectc.csproj
Labels: L: dotnet:nuget

#10666 Update Swift Dockerfile to use Swift 6.0.1
  swift/Dockerfile
Labels: L: swift

#10788 Rename SdkPackageUpdater => PackageReferenceUpdater, for clarity
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
Labels: L: dotnet:nuget

#10815 report unix-friendly packages path
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackagesConfigUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10816 split artifacts on OS
  nuget/helpers/lib/NuGetUpdater/Directory.Common.props
Labels: L: dotnet:nuget

#10742 Update python patch versions
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#10649 fix(dotnet): Ensure that packages can be updated when referencing .NET workloads
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10832 Add lowest_prerelease_suffix method
  common/lib/dependabot/version.rb
  common/spec/dependabot/version_spec.rb
  maven/lib/dependabot/maven/version.rb
  maven/spec/dependabot/maven/version_spec.rb
  python/lib/dependabot/python/version.rb
  python/spec/dependabot/python/version_spec.rb
Labels: L: java:maven, L: python

#10797 Remove python_new_version feature flag and irrelevant code
  python/lib/dependabot/python/requirement.rb
  python/lib/dependabot/python/version.rb
  python/spec/dependabot/python/version_spec.rb
Labels: L: python

#10838 Remove replacement of plus with dot in python latest version
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/spec/dependabot/python/update_checker/latest_version_finder_spec.rb
Labels: L: python

#10844 Add semver ignore-condition range code into python version
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/version.rb
  python/spec/dependabot/python/version_spec.rb
Labels: L: python

#10833 restrict when we add binding redirects
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/BindingRedirectsTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#10864 add explicit `clone` command for NuGet updater
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/CloneCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Program.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Clone/CloneWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Clone/TestGitCommandHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Clone/CloneWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Clone/IGitCommandHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Clone/ShellGitCommandHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/DependencyFileNotFound.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobRepoNotFound.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobSource.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/MarkAsProcessed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PrivateSourceAuthenticationFailure.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UnknownError.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdateNotPossible.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#10826 Centralizing Eco-System, and Package Manager Version Information
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/package_manager.rb
  bundler/spec/dependabot/bundler/file_parser_spec.rb
  bundler/spec/dependabot/bundler/package_manager_spec.rb
  common/lib/dependabot/ecosystem.rb
  common/lib/dependabot/file_parsers/base.rb
  common/lib/dependabot/notices.rb
  common/lib/dependabot/package_manager.rb
  common/spec/dependabot/ecosystem_spec.rb
  common/spec/dependabot/file_parsers/base_spec.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/version_manager_spec.rb
  composer/lib/dependabot/composer/file_parser.rb
  composer/lib/dependabot/composer/package_manager.rb
  composer/spec/dependabot/composer/file_parser_spec.rb
  composer/spec/dependabot/composer/package_manager_spec.rb
  silent/lib/dependabot/silent/file_parser.rb
  silent/lib/dependabot/silent/package_manager.rb
  updater/lib/dependabot/dependency_snapshot.rb
  updater/lib/dependabot/notices_helpers.rb
  updater/spec/dependabot/notices_helpers_spec.rb
  updater/spec/dependabot/updater/operations/create_security_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_group_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/refresh_version_update_pull_request_spec.rb
  updater/spec/dependabot/updater/operations/update_all_versions_spec.rb
  updater/spec/dependabot/updater/pull_request_helpers_spec.rb
  updater/spec/support/dummy_pkg_helpers.rb
Labels: L: php:composer, L: ruby:bundler

#10876 `source_url` in `Maven::UpdaterChecker::RequirementsUpdater` can be `nil`
  maven/lib/dependabot/maven/update_checker/requirements_updater.rb
Labels: L: java:maven

#10877 Convert match from `MatchData` to string before creating Python version
  python/lib/dependabot/python/update_checker.rb
Labels: L: python
