Repository dependabot/dependabot-core, pull requests merged in 2025-09, with the labels that each got.

#12986 Match release stability for dated Rust toolchain releases
  rust_toolchain/lib/dependabot/rust_toolchain/update_checker/latest_version_finder.rb
  rust_toolchain/spec/dependabot/rust_toolchain/update_checker/latest_version_finder_spec.rb
Labels: L: rust:rust-toolchain

#13010 always restore packages.config before attempting update
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/ProjectBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/FileWriterWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackagesConfigUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/ProjectBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
Labels: L: dotnet:nuget

#12862 Bump Sorbet from 0.5.11952 to 0.5.12414
  Gemfile
  Gemfile.lock
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/lib/dependabot/bundler/update_checker/conflicting_dependency_resolver.rb
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/lib/dependabot/bundler/update_checker/shared_bundler_helpers.rb
  bundler/lib/dependabot/bundler/update_checker/version_resolver.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  cargo/lib/dependabot/cargo/registry_fetcher.rb
  common/lib/dependabot/config/file_fetcher.rb
  common/lib/dependabot/file_fetchers/base.rb
  common/lib/dependabot/package/package_latest_version_finder.rb
  common/lib/dependabot/requirements_updater/base.rb
  common/lib/dependabot/workspace/base.rb
  composer/lib/dependabot/composer/file_updater/lockfile_updater.rb
  docker/lib/dependabot/docker/file_fetcher.rb
  docker/lib/dependabot/shared/shared_file_fetcher.rb
  sorbet/rbi/gems/rbi@0.3.6.rbi
  sorbet/rbi/gems/rbs@4.0.0.dev.4.rbi
  sorbet/rbi/gems/require-hooks@0.2.2.rbi
  sorbet/rbi/gems/spoom@1.7.6.rbi
  sorbet/rbi/gems/tapioca@0.17.7.rbi
Labels: L: php:composer, L: ruby:bundler, L: docker, L: rust:cargo

#13063 Fix Helm UpdateChecker type safety issue with cross-package requirement validation
  helm/lib/dependabot/helm/update_checker.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
Labels: L: helm

#13082 Finish Sorbet strict types in `bun`
  bun/.rubocop.yml
  bun/lib/dependabot/bun/file_updater.rb
  bun/lib/dependabot/bun/file_updater/bun_lockfile_updater.rb
  bun/lib/dependabot/bun/file_updater/package_json_preparer.rb
  bun/lib/dependabot/bun/native_helpers.rb
  bun/lib/dependabot/bun/requirement.rb
  bun/lib/dependabot/bun/update_checker/conflicting_dependency_resolver.rb
  bun/lib/dependabot/bun/update_checker/dependency_files_builder.rb
  bun/lib/dependabot/bun/update_checker/library_detector.rb
  bun/lib/dependabot/bun/update_checker/requirements_updater.rb
  bun/lib/dependabot/bun/update_checker/subdependency_version_resolver.rb
  bun/lib/dependabot/bun/update_checker/vulnerability_auditor.rb
  bun/spec/dependabot/bun/file_updater_spec.rb
  bun/spec/dependabot/bun/update_checker/package_latest_version_finder_spec.rb
  bun/spec/spec_helper.rb
Labels: L: javascript

#13050 only report discovery for projects in the repo
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
Labels: L: dotnet:nuget

#13059 update devcontainer to correct sdk version
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  nuget/Dockerfile
  nuget/helpers/lib/NuGetUpdater/global.json
Labels: L: dotnet:nuget

#13085 Fix Python MetadataFinder URL construction for private registries
  python/lib/dependabot/python/metadata_finder.rb
  python/spec/dependabot/python/metadata_finder_spec.rb
Labels: L: python

#13107 Enable `Sorbet/ForbidTUnsafe` cop from `rubocop-sorbet`
  .rubocop.yml
  bun/.rubocop.yml
  common/.rubocop.yml
  composer/.rubocop.yml
  git_submodules/.rubocop.yml
  go_modules/.rubocop.yml
  npm_and_yarn/.rubocop.yml
  pub/.rubocop.yml
  python/.rubocop.yml
  updater/.rubocop.yml
  uv/.rubocop.yml
Labels: L: php:composer, L: go:modules, L: git:submodules, L: dart:pub, L: javascript, L: python, sorbet 🍦, L: python:uv

#13103 Complete Sorbet strict typing of `bundler`
  bundler/.rubocop.yml
  bundler/lib/dependabot/bundler/file_updater.rb
  bundler/lib/dependabot/bundler/file_updater/git_pin_replacer.rb
  bundler/lib/dependabot/bundler/file_updater/git_source_remover.rb
  bundler/lib/dependabot/bundler/file_updater/lockfile_updater.rb
  bundler/lib/dependabot/bundler/file_updater/requirement_replacer.rb
  bundler/lib/dependabot/bundler/metadata_finder.rb
  bundler/lib/dependabot/bundler/requirement.rb
  bundler/lib/dependabot/bundler/update_checker.rb
  bundler/lib/dependabot/bundler/update_checker/file_preparer.rb
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder/dependency_source.rb
  bundler/lib/dependabot/bundler/update_checker/requirements_updater.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder/dependency_source_spec.rb
Labels: L: ruby:bundler, sorbet 🍦

#13117 Fix Sorbet error in NpmAndYarn::MetadataFinder
  npm_and_yarn/lib/dependabot/npm_and_yarn/metadata_finder.rb
Labels: L: javascript

#12998 Structure Dependabot::DependencyGrapher as an ecosystem component with generic fallback
  bundler/spec/dependabot/bundler/dependency_grapher_spec.rb
  common/lib/dependabot/dependency_graphers.rb
  common/lib/dependabot/dependency_graphers/README.md
  common/lib/dependabot/dependency_graphers/base.rb
  common/lib/dependabot/dependency_graphers/generic.rb
  go_modules/lib/dependabot/go_modules.rb
  go_modules/lib/dependabot/go_modules/dependency_grapher.rb
  go_modules/spec/dependabot/go_modules/dependency_grapher_spec.rb
  updater/lib/github_api/dependency_submission.rb
Labels: L: ruby:bundler, L: go:modules

#13132 Enable Layout/SpaceAroundMethodCallOperator
  .git-blame-ignore-revs
  .rubocop.yml
  bun/lib/dependabot/bun/update_checker/version_resolver.rb
  common/spec/dependabot/pull_request_updater/github_spec.rb
  github_actions/lib/dependabot/github_actions/requirement.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_workspace_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  pub/lib/dependabot/pub/update_checker.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/authed_url_builder_spec.rb
  updater/spec/dependabot/sentry/exception_sanitizer_processor_spec.rb
  uv/spec/dependabot/uv/authed_url_builder_spec.rb
Labels: L: github:actions, L: dart:pub, L: javascript, L: python, L: python:uv

#13145 Enable RuboCop Layout/RescueEnsureAlignment
  .git-blame-ignore-revs
  .rubocop.yml
  common/lib/dependabot/clients/codecommit.rb
  common/lib/dependabot/pull_request_creator/codecommit.rb
  helm/lib/dependabot/helm/package/package_details_fetcher.rb
  pub/lib/dependabot/pub/update_checker/latest_version_finder.rb
  python/lib/dependabot/python/package/package_details_fetcher.rb
  uv/lib/dependabot/uv/package/package_details_fetcher.rb
Labels: L: dart:pub, L: python, L: python:uv, L: helm

#12943 Automate regclient version upgrades
  .github/dependabot.yml
  docker/Dockerfile
Labels: L: ruby:bundler, L: go:modules, L: docker, L: dotnet:nuget, L: javascript, L: python:uv

#13155 Add GitHub Package Registry support for Bundler ecosystem.
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/spec/dependabot/bundler/package/package_details_fetcher_spec.rb
Labels: L: ruby:bundler

#13171 pass arguments directly instead of double-interpolating them
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#13175 Allow for missing go directive in `go.mod`
  go_modules/lib/dependabot/go_modules/file_parser.rb
Labels: L: go:modules, sorbet 🍦

#13178 mark implicit packages as transitive
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget
