Repository dependabot/dependabot-core, pull requests merged in 2025-08, with the labels that each got.

#12759 Upgrade uv to the latest 0.8.4
  uv/Dockerfile
  uv/helpers/requirements.txt
  uv/spec/dependabot/uv/file_parser_spec.rb
Labels: L: python:uv

#12774 allow custom hostname for github repos
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Clone/CloneWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Clone/CloneWorker.cs
Labels: L: dotnet:nuget

#12775 fix incorrect cast when adding child xml element
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/XmlFileWriterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/XmlFileWriter.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/XmlExtensions.cs
Labels: L: dotnet:nuget

#12768 Add support for `relationship` attribute in `DependencySubmission` payload
  bundler/lib/dependabot/bundler/file_parser.rb
  common/lib/dependabot/dependency.rb
  common/lib/dependabot/dependency_file.rb
  common/spec/dependabot/dependency_spec.rb
  updater/lib/github_api/dependency_submission.rb
  updater/spec/github_api/dependency_submission_spec.rb
Labels: L: ruby:bundler

#12817 Adding sorbet typing for cargo file parser
  cargo/lib/dependabot/cargo/file_parser.rb
  cargo/lib/dependabot/cargo/update_checker/version_resolver.rb
Labels: L: rust:cargo

#12826 enable updates for repos that consume the Nerdbank.GitVersioning package
  nuget/Dockerfile
Labels: L: dotnet:nuget

#12830 use proper logical and operator
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#12780 feat: support table notation for Rust workspace dependencies
  cargo/lib/dependabot/cargo/file_parser.rb
  cargo/lib/dependabot/cargo/file_updater.rb
  cargo/lib/dependabot/cargo/file_updater/workspace_manifest_updater.rb
  cargo/spec/dependabot/cargo/file_parser_edge_cases_spec.rb
  cargo/spec/dependabot/cargo/file_parser_spec.rb
  cargo/spec/dependabot/cargo/file_parser_workspace_spec.rb
  cargo/spec/dependabot/cargo/file_updater_edge_cases_spec.rb
  cargo/spec/dependabot/cargo/file_updater_table_header_spec.rb
  cargo/spec/dependabot/cargo/file_updater_workspace_spec.rb
  cargo/spec/fixtures/manifests/workspace_dependencies/Cargo.lock
  cargo/spec/fixtures/manifests/workspace_dependencies/Cargo.toml
  cargo/spec/fixtures/manifests/workspace_dependencies/fvm/Cargo.toml
  cargo/spec/fixtures/manifests/workspace_dependencies/sdk/Cargo.toml
Labels: L: rust:cargo

#12816 [Experiment] Introduce DependencyFile#priority to control graph generation
  bundler/lib/dependabot/bundler/file_parser.rb
  common/lib/dependabot/dependency_file.rb
  common/spec/dependabot/dependency_file_spec.rb
  updater/lib/github_api/dependency_submission.rb
  updater/spec/github_api/dependency_submission_spec.rb
Labels: L: ruby:bundler

#12846 Terraform Cooldown related Code Cleanup and added Flag to Restrict Cooldown Scan if not requested.
  terraform/lib/dependabot/terraform/update_checker.rb
  terraform/lib/dependabot/terraform/update_checker/latest_version_resolver.rb
Labels: L: terraform

#12837 Attach `dependencies` to the `DependencyFile` in `go_modules`'s `FileParser`
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
Labels: L: go:modules

#12844 bump to Go 1.25
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/resolvability_errors.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
Labels: L: go:modules

#12869 Fixed issue related to calculate cooldown period by providing semver major version as highest priority.
  swift/lib/dependabot/swift/update_checker/latest_version_resolver.rb
  swift/spec/dependabot/swift/update_checker/latest_version_resolver_spec.rb
Labels: L: swift

#12907 NPM error found on release PR is fixed here
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
Labels: L: javascript

#12865 Adding registry env variable to corepack command.
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#12962 include old version number whenever possible
  .github/workflows/smoke.yml
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
Labels: L: dotnet:nuget

#12776 add missing test case
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/XmlFileWriterTests.cs
Labels: L: dotnet:nuget

#12963 add end-to-end test for updating json files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/EndToEndTests.cs
Labels: L: dotnet:nuget

#12937 Bump regclient to 0.9.1
  docker/Dockerfile
Labels: L: docker

#12717 Read maven-dependency-plugin version dynamically+ enable dependabot for maven helpers
  .github/dependabot.yml
  maven/Dockerfile
  maven/lib/dependabot/maven/native_helpers.rb
  maven/lib/dependabot/maven/pom.xml
Labels: L: java:maven

#12747 Add support for goproxy_server and go.env files
  go_modules/lib/dependabot/go_modules/file_fetcher.rb
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/lib/dependabot/go_modules/file_updater.rb
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/lib/dependabot/go_modules/package/package_details_fetcher.rb
  go_modules/lib/dependabot/go_modules/resolvability_errors.rb
  go_modules/lib/dependabot/go_modules/update_checker.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/spec/dependabot/go_modules/file_fetcher_spec.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
  go_modules/spec/dependabot/go_modules/package/package_details_fetcher_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker/latest_version_finder_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker_spec.rb
Labels: L: go:modules

#12872 Add support for `vcpkg` dependency constraints
  vcpkg/Dockerfile
  vcpkg/lib/dependabot/vcpkg/file_parser.rb
  vcpkg/lib/dependabot/vcpkg/file_updater.rb
  vcpkg/lib/dependabot/vcpkg/package/package_details_fetcher.rb
  vcpkg/lib/dependabot/vcpkg/update_checker.rb
  vcpkg/lib/dependabot/vcpkg/update_checker/latest_version_finder.rb
  vcpkg/lib/dependabot/vcpkg/version.rb
  vcpkg/spec/dependabot/vcpkg/file_parser_spec.rb
  vcpkg/spec/dependabot/vcpkg/file_updater_spec.rb
  vcpkg/spec/dependabot/vcpkg/package/package_details_fetcher_spec.rb
  vcpkg/spec/dependabot/vcpkg/update_checker/latest_version_finder_spec.rb
  vcpkg/spec/dependabot/vcpkg/update_checker_spec.rb
Labels: L: cpp:vcpkg
