Repository dependabot/dependabot-core, pull requests merged in 2025-10, with the labels that each got.

#13198 Fix npm invalid package manager specification error message
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
Labels: L: javascript

#13200 Fix go mod invalid version error
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
Labels: L: go:modules

#13215 Fix Python version defaulting to 3.9 (lowest available) instead of latest when no explicit version specified
  python/lib/dependabot/python/language_version_manager.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
Labels: L: python

#13229 Add explicit dependency for maven on rexml
  Gemfile.lock
  maven/dependabot-maven.gemspec
  updater/Gemfile.lock
Labels: L: java:maven
