Repository dependabot/dependabot-core, pull requests merged in 2025-02, with the labels that each got.

#11465 chore: bump pnpm to 9.15.5 and corepack to 0.31.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11454 Run PNPM install for catalogs rather than update
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/pnpm-lock.yaml
Labels: L: javascript:pnpm, L: javascript

#11456 Fixes [weekly 1.3k] [docker] RestClient::ServerBrokeConnection and related errors
  common/lib/dependabot/errors.rb
  docker/lib/dependabot/docker/update_checker.rb
Labels: L: docker

#11466 Add catalog check to pnpm_lock_changed
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_workspace_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/pnpm-workspace.yaml
Labels: L: javascript

#11404 expand patterns for unpossible updates
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11469 allow alternate experiment names
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
Labels: L: dotnet:nuget

#11457 Return No Requirement if No Valid Constraints Exist
  npm_and_yarn/lib/dependabot/npm_and_yarn/constraint_helper.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/constraint_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: javascript

#11475 Add Support for `latest` Constraint in Version Detection
  npm_and_yarn/lib/dependabot/npm_and_yarn/constraint_helper.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/constraint_helper_spec.rb
Labels: L: javascript

#11476 Fixes [part of] [npm and yarn] NoFilesChanged error
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/package_json_updater_spec.rb
Labels: L: javascript

#11471 fixing pnpm catalogs being removed from lockfile during update
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_monorepo/apps/auth-proxy/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_monorepo/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_monorepo/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_monorepo/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/pnpm-lock.yaml
Labels: L: javascript

#11467 Handle `Content did not change!` in poetry_file_updater.rb
  common/lib/dependabot/errors.rb
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
Labels: L: python

#11477 Remove `:enable_pnpm_workspace_catalog` feature flag
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
Labels: L: javascript

#11484 Fix Corepack install failure by activating local package manager fallback
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
Labels: L: javascript

#11490 Add required javascript file to fix dry run script
  javascript/lib/dependabot/javascript.rb
Labels: L: javascript

#11486 Raise registry error when the remote server failed to provide the requested resource.
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
Labels: L: javascript

#11488 Fixes [ part of weekly 1.3k] [docker] RestClient::ServerBrokeConnection and related errors
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#11446 Add the bun ecosystem file fetcher
  Gemfile
  Gemfile.lock
  javascript/lib/dependabot/bun.rb
  javascript/lib/dependabot/bun/file_fetcher.rb
  javascript/lib/dependabot/bun/file_parser/bun_lock.rb
  javascript/lib/dependabot/bun/helpers.rb
  javascript/lib/dependabot/bun/language.rb
  javascript/lib/dependabot/bun/package_manager.rb
  javascript/lib/dependabot/bun/requirement.rb
  javascript/lib/dependabot/bun/version.rb
  javascript/lib/dependabot/javascript/file_fetcher_helper.rb
  javascript/lib/dependabot/javascript/requirement.rb
  javascript/lib/dependabot/javascript/version.rb
  javascript/spec/dependabot/bun/file_fetcher_spec.rb
  javascript/spec/dependabot/bun/package_manager_spec.rb
  javascript/spec/dependabot/bun/requirement_spec.rb
  javascript/spec/dependabot/bun/version_spec.rb
  javascript/spec/fixtures/github/bun_lock_content.json
  javascript/spec/fixtures/github/contents_js_bun.json
  javascript/spec/fixtures/github/gemfile_content.json
  javascript/spec/fixtures/github/package_json_content.json
  javascript/spec/fixtures/github/package_json_with_dependency_arrays.json
  javascript/spec/fixtures/github/package_json_with_path_content.json
  javascript/spec/fixtures/github/package_json_with_path_link_content.json
  javascript/spec/fixtures/github/package_lock_content.json
  javascript/spec/fixtures/projects/javascript/lockfile_version_unparseable/package-lock.json
  javascript/spec/fixtures/projects/javascript/lockfile_version_unparseable/package.json
  javascript/spec/fixtures/projects/javascript/package_json_faked/package.json
  javascript/spec/fixtures/projects/javascript/package_manager_unparseable/package.json
  sorbet/rbi/gems/zeitwerk@2.7.1.rbi
Labels: L: javascript, L: dotnet-sdk

#10643 Strict type `Dependabot::Terraform::RegistryClient`
  terraform/lib/dependabot/terraform/registry_client.rb
Labels: L: terraform, sorbet 🍦

#11495 Fixes [weekly 1.5k] [composer] Helper-Subprocess-Errors
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/composer_error_handler_spec.rb
Labels: L: php:composer

#11497 Adds RestClient exceptions to Docker Transient errors
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#11487 Handle Misconfigured Dependabot for PNPM Workspaces
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#11499 Adds handler for bad response returned from RestClient
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#11494 Update sorbet ignore list with new ecosystems
  sorbet/config
Labels: sorbet 🍦

#11503 Handle import error when a package is referenced incorrectly
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
Labels: L: go:modules

#11509 Strict type `Dependabot::Docker::UpdateChecker`
  docker/.rubocop.yml
  docker/lib/dependabot/docker/update_checker.rb
  docker/lib/dependabot/docker/utils/credentials_finder.rb
Labels: L: docker, sorbet 🍦

#11508 Add the bun ecosystem file parser
  .github/workflows/ci.yml
  javascript/Dockerfile
  javascript/lib/dependabot/bun/file_parser.rb
  javascript/lib/dependabot/bun/file_parser/bun_lock.rb
  javascript/lib/dependabot/bun/file_parser/lockfile_parser.rb
  javascript/lib/dependabot/bun/helpers.rb
  javascript/lib/dependabot/javascript.rb
  javascript/lib/dependabot/javascript/constraint_helper.rb
  javascript/lib/dependabot/javascript/file_parser.rb
  javascript/lib/dependabot/javascript/file_parser/lockfile_parser.rb
  javascript/lib/dependabot/javascript/language.rb
  javascript/lib/dependabot/javascript/package_manager_detector.rb
  javascript/lib/dependabot/javascript/registry_helper.rb
  javascript/lib/dependabot/javascript/registry_parser.rb
  javascript/lib/dependabot/javascript/requirement.rb
  javascript/lib/dependabot/javascript/version_selector.rb
  javascript/spec/dependabot/bun/file_parser/lockfile_parser_spec.rb
  javascript/spec/dependabot/bun/file_parser_spec.rb
  javascript/spec/dependabot/javascript/constraint_helper_spec.rb
  javascript/spec/dependabot/javascript/language_spec.rb
  javascript/spec/dependabot/javascript/package_manager_detector_spec.rb
  javascript/spec/dependabot/javascript/registry_helper_spec.rb
  javascript/spec/dependabot/javascript/requirement_spec.rb
  javascript/spec/dependabot/javascript/version_spec.rb
  javascript/spec/fixtures/projects/bun/empty/bun.lock
  javascript/spec/fixtures/projects/bun/empty/package.json
  javascript/spec/fixtures/projects/bun/invalid_lockfile/bun.lock
  javascript/spec/fixtures/projects/bun/invalid_lockfile/package.json
  javascript/spec/fixtures/projects/bun/invalid_lockfile_version/bun.lock
  javascript/spec/fixtures/projects/bun/invalid_lockfile_version/package.json
  javascript/spec/fixtures/projects/bun/invalid_version/bun.lock
  javascript/spec/fixtures/projects/bun/invalid_version/package.json
  javascript/spec/fixtures/projects/bun/missing_dependency/bun.lock
  javascript/spec/fixtures/projects/bun/missing_dependency/package.json
  javascript/spec/fixtures/projects/bun/missing_dependency_version/bun.lock
  javascript/spec/fixtures/projects/bun/missing_dependency_version/package.json
  javascript/spec/fixtures/projects/bun/missing_file_dependency/bun.lock
  javascript/spec/fixtures/projects/bun/missing_file_dependency/package.json
  javascript/spec/fixtures/projects/bun/missing_git_dependency/bun.lock
  javascript/spec/fixtures/projects/bun/missing_git_dependency/package.json
  javascript/spec/fixtures/projects/bun/missing_github_dependency/bun.lock
  javascript/spec/fixtures/projects/bun/missing_github_dependency/package.json
  javascript/spec/fixtures/projects/bun/missing_npm_dependency/bun.lock
  javascript/spec/fixtures/projects/bun/missing_npm_dependency/package.json
  javascript/spec/fixtures/projects/bun/missing_tarball_dependency/bun.lock
  javascript/spec/fixtures/projects/bun/missing_tarball_dependency/package.json
  javascript/spec/fixtures/projects/bun/simple_v0/bun.lock
  javascript/spec/fixtures/projects/bun/simple_v0/package.json
  javascript/spec/fixtures/projects/bun/simple_v1/bun.lock
  javascript/spec/fixtures/projects/bun/simple_v1/package.json
  javascript/spec/fixtures/projects/bun/simple_workspace_v0/bun.lock
  javascript/spec/fixtures/projects/bun/simple_workspace_v0/package-foo/package.json
  javascript/spec/fixtures/projects/bun/simple_workspace_v0/package.json
  javascript/spec/fixtures/projects/bun/simple_workspace_v0/packages/bar/package.json
  javascript/spec/fixtures/projects/bun/simple_workspace_v0/packages/baz/package.json
  javascript/spec/fixtures/projects/javascript/exact_version_requirements_no_lockfile/package.json
  javascript/spec/fixtures/projects/javascript/file_version_requirements_no_lockfile/package.json
Labels: L: javascript

#11517 Handle `module does not contain package` & `missing go.sum entry` errors
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
Labels: L: go:modules

#11519 Sorbet type checking for gem_net_http_adapter
  bundler/helpers/spec_helpers/gem_net_http_adapter.rb
Labels: L: ruby:bundler

#11521 Add bun ecosystem FileParser
  javascript/lib/dependabot/bun.rb
  javascript/lib/dependabot/bun/file_fetcher.rb
  javascript/lib/dependabot/bun/file_parser.rb
  javascript/lib/dependabot/bun/file_updater.rb
  javascript/lib/dependabot/bun/file_updater/lockfile_updater.rb
  javascript/lib/dependabot/bun/update_checker/dependency_files_builder.rb
  javascript/lib/dependabot/javascript.rb
  javascript/lib/dependabot/javascript/dependency_files_filterer.rb
  javascript/lib/dependabot/javascript/file_updater.rb
  javascript/lib/dependabot/javascript/file_updater/npmrc_builder.rb
  javascript/lib/dependabot/javascript/file_updater/package_json_preparer.rb
  javascript/lib/dependabot/javascript/file_updater/package_json_updater.rb
  javascript/lib/dependabot/javascript/sub_dependency_files_filterer.rb
  javascript/lib/dependabot/javascript/update_checker/dependency_files_builder.rb
  javascript/lib/dependabot/javascript/update_checker/registry_finder.rb
  javascript/spec/dependabot/bun/file_updater_spec.rb
  javascript/spec/dependabot/javascript/file_updater/npmrc_builder_spec.rb
  javascript/spec/dependabot/javascript/file_updater/package_json_preparer_spec.rb
  javascript/spec/dependabot/javascript/file_updater/package_json_updater_spec.rb
  javascript/spec/fixtures/projects/bun/github_dependency_no_ref/bun.lock
  javascript/spec/fixtures/projects/bun/github_dependency_no_ref/package.json
  javascript/spec/fixtures/projects/bun/wildcard/bun.lock
  javascript/spec/fixtures/projects/bun/wildcard/package.json
  javascript/spec/fixtures/projects/javascript/dev_and_peer_dependency/package.json
  javascript/spec/fixtures/projects/javascript/duplicate/package.json
  javascript/spec/fixtures/projects/javascript/duplicate_identical/package.json
  javascript/spec/fixtures/projects/javascript/github_dependency/package-lock.json
  javascript/spec/fixtures/projects/javascript/github_dependency/package.json
  javascript/spec/fixtures/projects/javascript/github_dependency_semver/package-lock.json
  javascript/spec/fixtures/projects/javascript/github_dependency_semver/package.json
  javascript/spec/fixtures/projects/javascript/minor_version_specified/package.json
  javascript/spec/fixtures/projects/javascript/multiple_updates/bun.lock
  javascript/spec/fixtures/projects/javascript/multiple_updates/package.json
  javascript/spec/fixtures/projects/javascript/non_standard_whitespace/package.json
  javascript/spec/fixtures/projects/javascript/npmrc_auth_token/.npmrc
  javascript/spec/fixtures/projects/javascript/npmrc_auth_token/package.json
  javascript/spec/fixtures/projects/javascript/npmrc_env_auth/.npmrc
  javascript/spec/fixtures/projects/javascript/npmrc_env_auth/package.json
  javascript/spec/fixtures/projects/javascript/npmrc_env_auth_token/.npmrc
  javascript/spec/fixtures/projects/javascript/npmrc_env_auth_token/package.json
  javascript/spec/fixtures/projects/javascript/null_deps/package.json
  javascript/spec/fixtures/projects/javascript/path_dependency/deps/etag/package.json
  javascript/spec/fixtures/projects/javascript/path_dependency/package-lock.json
  javascript/spec/fixtures/projects/javascript/path_dependency/package.json
  javascript/spec/fixtures/projects/javascript/simple/package-lock.json
  javascript/spec/fixtures/projects/javascript/simple/package.json
  javascript/spec/fixtures/projects/javascript/simple_manifest/package.json
  javascript/spec/fixtures/projects/javascript/simple_with_multiple_deps/package-lock.json
  javascript/spec/fixtures/projects/javascript/simple_with_multiple_deps/package.json
Labels: L: javascript

#11510 improve TFM discovery when targeting Windows
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/TargetFrameworkReporter.targets
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11493 Switch Hex erlang package provider
  hex/Dockerfile
Labels: L: elixir:hex

#11513 add pr management message types to NuGet updater
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/TestApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ClosePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PullRequestExistsForLatestVersion.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/SecurityUpdateNotNeeded.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/IApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/script/run
Labels: L: dotnet:nuget

#11523 Adds handler to private registries timeout and socket errors
  terraform/lib/dependabot/terraform/registry_client.rb
  terraform/spec/dependabot/terraform/registry_client_spec.rb
Labels: L: terraform

#11524 Register the bun package manager
  bin/dry-run.rb
  javascript/lib/dependabot/bun.rb
  javascript/lib/dependabot/bun/file_parser/bun_lock.rb
  javascript/lib/dependabot/bun/update_checker.rb
  javascript/lib/dependabot/bun/update_checker/conflicting_dependency_resolver.rb
  javascript/lib/dependabot/bun/update_checker/latest_version_finder.rb
  javascript/lib/dependabot/bun/update_checker/library_detector.rb
  javascript/lib/dependabot/bun/update_checker/requirements_updater.rb
  javascript/lib/dependabot/bun/update_checker/subdependency_version_resolver.rb
  javascript/lib/dependabot/bun/update_checker/version_resolver.rb
  javascript/lib/dependabot/bun/update_checker/vulnerability_auditor.rb
  javascript/lib/dependabot/javascript/file_fetcher.rb
  javascript/lib/dependabot/javascript/native_helpers.rb
  javascript/lib/dependabot/javascript/package_name.rb
  javascript/lib/dependabot/javascript/update_checker/dependency_files_builder.rb
  javascript/lib/dependabot/javascript/update_checker/registry_finder.rb
Labels: L: javascript

#11527 adds experiment to exclude local and non updatable packages
  composer/lib/dependabot/composer/file_parser.rb
  composer/spec/dependabot/composer/file_parser_spec.rb
  composer/spec/fixtures/projects/local_package_as_dep/composer.json
  composer/spec/fixtures/projects/local_package_as_dep/composer.lock
Labels: L: php:composer

#11526 group update operations by dependency name
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathComparer.cs
Labels: L: dotnet:nuget

#11550 Replace dependabot-javascript into dependabot-bun
  Dockerfile.updater-core
  Gemfile
  Gemfile.lock
  Rakefile
  javascript/dependabot-bun.gemspec
  javascript/lib/dependabot/bun.rb
  omnibus/dependabot-omnibus.gemspec
  updater/Gemfile
  updater/Gemfile.lock
Labels: L: javascript

#11540 don't unnecessarily require windows app ref package
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11555 Use `dependabot-common` gem if available
  .github/issue-labeler.yml
  Dockerfile.updater-core
  bin/docker-dev-shell
  javascript/Dockerfile
  javascript/lib/dependabot/bun.rb
  updater/lib/dependabot/setup.rb
Labels: L: javascript

#11561 Fixes [part of 1.9k] [Python] Poetry errors
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
Labels: L: python

#11562 Adds handlers for yarn001 errors
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#11565 Fixes [1.9k weekly] [terraform] exceptions
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
Labels: L: terraform

#11573 make helper function return deterministic
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/PathHelper.cs
Labels: L: dotnet:nuget

#11576 Fixes [Pipfile] [Python] raise error on malformed pipfile contents
  python/lib/dependabot/python/file_updater/pipfile_preparer.rb
  python/spec/dependabot/python/file_updater/pipfile_file_updater_spec.rb
  python/spec/fixtures/pipfile_files/malformed_pipfile_source_missing
  python/spec/fixtures/pipfile_files/malformed_pipfile_source_missing.lock
Labels: L: python

#11582 FromAsCasing error fixes.
  cargo/Dockerfile
  go_modules/Dockerfile
  python/Dockerfile
Labels: L: go:modules, L: rust:cargo, L: python

#11590 Adds various fixes for terraform and python exceptions
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
Labels: L: terraform, L: python

#11592 [Feature Flag] - Remove `enable_fix_for_pnpm_no_change_error` Feature Flag
  bun/spec/dependabot/bun/file_updater_spec.rb
  javascript/spec/dependabot/javascript/bun/file_updater_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/pnpm_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#11530 Update Python and pyenv versions
  python/Dockerfile
  python/lib/dependabot/python/language_version_manager.rb
Labels: L: python

#11594 Fixes docker image fetch empty response issue
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#11529 Drop Python 3.8 support
  python/Dockerfile
  python/helpers/requirements.txt
  python/lib/dependabot/python/language_version_manager.rb
  python/spec/dependabot/python/file_updater/poetry_file_updater_spec.rb
  python/spec/dependabot/python/update_checker/pip_version_resolver_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  python/spec/fixtures/poetry_locks/python_38.lock
  python/spec/fixtures/poetry_locks/python_39.lock
  python/spec/fixtures/pyproject_files/python_39.toml
Labels: L: python

#11541 go_modules: replace deprecated ioutil library
  go_modules/helpers/importresolver/main.go
  go_modules/helpers/importresolver/main_test.go
Labels: L: go:modules

#11598 Make elm/version.rb sorbet typing strict
  elm/lib/dependabot/elm/version.rb
Labels: L: elm

#11426 feat(PEP621) Add support for requires-python in pyproject.toml
  python/lib/dependabot/python/file_parser/python_requirement_parser.rb
Labels: L: python

#11599 Adding Cargo Rust to the Python Environment
  python/Dockerfile
Labels: L: python

#11627 Remove python 3.8 deprecation / unsupported FFs and cleanup tests
  python/lib/dependabot/python/language.rb
  python/spec/dependabot/python/language_spec.rb
Labels: L: python

#11601 Remove extra `python_version`
  python/helpers/requirements.txt
Labels: L: python

#11605 expand error patterns for missing packages
  common/lib/dependabot/errors.rb
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyNotFoundException.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/DependencyNotFound.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
Labels: L: dotnet:nuget

#11619 Add .NET 9 as a supported framework
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/CompatibilityCheckerFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/SupportedFrameworks.cs
Labels: L: dotnet:nuget

#11648 Add Bun image strategy to push the Bun updater image
  .github/workflows/images-latest.yml
  bun/lib/dependabot/bun.rb
Labels: L: javascript

#11652 Adding support for dockerfile_inline
  docker_compose/lib/dependabot/docker_compose/file_parser.rb
  docker_compose/lib/dependabot/docker_compose/file_updater.rb
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
  docker_compose/spec/dependabot/docker_compose/file_updater_spec.rb
  docker_compose/spec/fixtures/docker_compose/composefiles/inline_dockerfile
Labels: L: docker:compose

#11653 install all .NET targeting packs specified by the installed SDKs
  nuget/Dockerfile
  nuget/updater/common.ps1
  nuget/updater/install-targeting-packs.ps1
  nuget/updater/test-data/targeting-packs/packs/Existing.Targeting.Pack.Ref/7.8.9/.gitignore
  nuget/updater/test-data/targeting-packs/sdk/1.2.3/Microsoft.NETCoreSdk.BundledVersions.props
  nuget/updater/test-data/targeting-packs/sdk/4.5.6/Microsoft.NETCoreSdk.BundledVersions.props
  nuget/updater/test.ps1
Labels: L: dotnet:nuget

#11654 report specific missing file during discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11655 Remove sha256 from the source's digest
  docker_compose/lib/dependabot/docker_compose/file_parser.rb
  docker_compose/lib/dependabot/docker_compose/file_updater.rb
  docker_compose/lib/dependabot/docker_compose/tag.rb
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
  docker_compose/spec/dependabot/docker_compose/file_updater_spec.rb
Labels: L: docker:compose

#11656 Skip docker compose images with env param
  docker_compose/lib/dependabot/docker_compose/file_parser.rb
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
Labels: L: docker:compose

#11435 Bump terraform to 1.10.5
  terraform/Dockerfile
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: terraform

#11669 Support images wrapped in quotes
  docker_compose/lib/dependabot/docker_compose/file_updater.rb
  docker_compose/spec/dependabot/docker_compose/file_updater_spec.rb
  docker_compose/spec/fixtures/docker_compose/composefiles/tag_quoted
Labels: L: docker:compose

#11659 ensure proper casing for `NuGet.Config` prior to any operations being performed
  nuget/lib/dependabot/nuget/file_fetcher.rb
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/file_fetcher_spec.rb
  nuget/updater/common.ps1
  nuget/updater/main.ps1
  nuget/updater/normalize-file-names.ps1
Labels: L: dotnet:nuget

#11672 report `security_update_not_needed` when security update can't be performed
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11252 don't continue checking a non-existant feed for a package
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
Labels: L: dotnet:nuget

#11630 Standardize Package Release Fetching Format and Implement JSON API for Python
  python/lib/dependabot/python/package/package_details.rb
  python/lib/dependabot/python/package/package_details_fetcher.rb
  python/lib/dependabot/python/package/package_language.rb
  python/lib/dependabot/python/package/package_registry_finder.rb
  python/lib/dependabot/python/package/package_release.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/spec/dependabot/python/package/package_details_fetcher_spec.rb
  python/spec/dependabot/python/package/package_details_spec.rb
  python/spec/dependabot/python/package/package_language_spec.rb
  python/spec/dependabot/python/package/package_registry_finder_spec.rb
  python/spec/dependabot/python/package/package_release_spec.rb
  python/spec/fixtures/releases_api/pypi/pypi_json_response.json
  python/spec/fixtures/releases_api/pypi/pypi_json_response_empty.json
  python/spec/fixtures/releases_api/simple/simple_index.html
Labels: L: python

#11678 Increase timeout for getting tags from 5 seconds to 60 seconds
  docker/lib/dependabot/docker/update_checker.rb
Labels: L: docker, L: docker:compose

#11673 include non-project files in pull request
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11674 add error for missing sdk
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11675 Implement a Generic Package Latest Version Finder
  common/lib/dependabot/package/package_details.rb
  common/lib/dependabot/package/package_language.rb
  common/lib/dependabot/package/package_latest_version_finder.rb
  common/lib/dependabot/package/package_release.rb
  common/spec/dependabot/package/package_details_spec.rb
  common/spec/dependabot/package/package_language_spec.rb
  common/spec/dependabot/package/package_latest_version_finder_spec.rb
  common/spec/dependabot/package/package_release_spec.rb
  python/lib/dependabot/python/package/package_details.rb
  python/lib/dependabot/python/package/package_details_fetcher.rb
  python/lib/dependabot/python/package/package_language.rb
  python/lib/dependabot/python/package/package_release.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/lib/dependabot/python/update_checker/pip_version_resolver.rb
  python/spec/dependabot/python/package/package_details_fetcher_spec.rb
  python/spec/dependabot/python/update_checker/latest_version_finder_spec.rb
Labels: L: python

#11679 Improve Docker tag component detection and comparison
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/registry_tags/owasp.json
Labels: L: docker

#11698 Adding a success log to the `go mod tidy` command to ensure it runs before creating a version bump PR.
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
Labels: L: go:modules

#11704 use `$.job.credentials-metadata` if `$.credentials` isn't given
  nuget/lib/dependabot/nuget/nuget_config_credential_helpers.rb
  nuget/spec/dependabot/nuget/nuget_config_credential_helpers_spec.rb
  updater/lib/dependabot/file_fetcher_command.rb
Labels: L: dotnet:nuget
