Repository dependabot/dependabot-core, pull requests merged in 2025-05, with the labels that each got.

#12177 ensure all errors can be surfaced
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#12175 Strict type some more `composer`
  composer/.rubocop.yml
  composer/lib/dependabot/composer/file_fetcher.rb
  composer/lib/dependabot/composer/file_updater.rb
  composer/lib/dependabot/composer/file_updater/lockfile_updater.rb
  composer/lib/dependabot/composer/file_updater/manifest_updater.rb
  composer/lib/dependabot/composer/metadata_finder.rb
  composer/lib/dependabot/composer/version.rb
Labels: L: php:composer, sorbet 🍦

#12178 call separate endpoints for unknown errors
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Clone/CloneWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/HttpApiHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/TestApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UnknownError.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/IApiHandler.cs
Labels: L: dotnet:nuget

#12186 move .NET callstack to the message field
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MessageReportTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UnknownError.cs
Labels: L: dotnet:nuget

#12184 add pattern for missing package
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12185 surface json parse errors from nuget
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/VersionFinderTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/BadResponseException.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
Labels: L: dotnet:nuget

#12182 Complete strict typing `composer` ecosystem
  composer/.rubocop.yml
  composer/lib/dependabot/composer/update_checker.rb
  composer/lib/dependabot/composer/update_checker/latest_version_finder.rb
  composer/lib/dependabot/composer/update_checker/requirements_updater.rb
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
Labels: L: php:composer, sorbet 🍦

#12193 report content from server error messages in exception
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/HttpApiHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestHttpServer.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
Labels: L: dotnet:nuget

#12167 Simplify gemspec dependency version ranges
  Gemfile.lock
  common/dependabot-common.gemspec
  sorbet/rbi/gems/gitlab@5.1.0.rbi
  sorbet/rbi/gems/octokit@7.2.0.rbi
  sorbet/rbi/gems/rake@13.2.1.rbi
  updater/Gemfile
  updater/Gemfile.lock
Labels: core 🍏

#12212 combine dependency tfms
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#12214 Strict type some of `cargo`
  cargo/.rubocop.yml
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/lib/dependabot/cargo/file_updater.rb
  cargo/lib/dependabot/cargo/registry_fetcher.rb
  cargo/lib/dependabot/cargo/requirement.rb
Labels: L: rust:cargo, sorbet 🍦

#12213 don't crash when checking for updated dependencies for SDKs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#12215 include all stack information for unknown errors
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MessageReportTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UnknownError.cs
Labels: L: dotnet:nuget

#12218 ensure out-of-proc changes to CPM are recorded
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackageReferenceUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
Labels: L: dotnet:nuget

#12219 report transitive packages with no assembly assets
  .github/workflows/smoke.yml
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#12228 Go: fix whitespace issue when Go bumps directives
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  go_modules/spec/fixtures/projects/go_1.11/go.mod
  go_modules/spec/fixtures/projects/go_1.11/main.go
  go_modules/spec/fixtures/projects/go_1.22/go.mod
  go_modules/spec/fixtures/projects/go_1.22/main.go
Labels: L: go:modules

#12231 only parse TFM, not RID from assets JSON
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#12230 Go: fix undesired toolchain addition
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/file_parser.rb
  go_modules/spec/dependabot/go_modules/file_parser_spec.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
Labels: L: go:modules

#12235 move env vars to ecosystem locations
  hex/Dockerfile
  python/Dockerfile
  updater/bin/run
Labels: L: elixir:hex, L: python

#12234 improve exception=>error mapping
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/JobErrorBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
Labels: L: dotnet:nuget

#12243 [cooldown] [gradle] Uses generic PackageDetailsFetcher
  gradle/lib/dependabot/gradle/package/package_details_fetcher.rb
  gradle/lib/dependabot/gradle/update_checker/version_finder.rb
  gradle/spec/dependabot/gradle/package/package_details_fetcher_spec.rb
Labels: L: java:gradle

#12247 add retry logic to API calls
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/HttpApiHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/IApiHandler.cs
Labels: L: dotnet:nuget

#12252 [cooldown] [gradle] Adds cooldown options for Gradle ecosystem
  gradle/lib/dependabot/gradle/update_checker.rb
  gradle/lib/dependabot/gradle/update_checker/version_finder.rb
  gradle/spec/dependabot/gradle/update_checker/version_finder_spec.rb
  gradle/spec/dependabot/gradle/update_checker_spec.rb
Labels: L: java:gradle

#12248 expand pattern for bad feed responses
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/JobErrorBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
Labels: L: dotnet:nuget

#12249 expand pattern for unparseable files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12251 expand pattern for unpossible updates
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12266 add missing pattern for unauthenticated feed
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12269 standardize code to package details structure and fetch release dates
  composer/lib/dependabot/composer/package/package_details_fetcher.rb
  composer/lib/dependabot/composer/update_checker/latest_version_finder.rb
  composer/spec/dependabot/composer/package/package_details_fetcher_spec.rb
  composer/spec/fixtures/packagist_responses/illuminate-support-response.json
  composer/spec/fixtures/projects/package_details_fetcher/composer.json
Labels: L: php:composer

#12264 Standardize pub package manager package fetcher and implements cooldown feature
  pub/lib/dependabot/pub/helpers.rb
  pub/lib/dependabot/pub/package/package_details_fetcher.rb
  pub/lib/dependabot/pub/update_checker.rb
  pub/lib/dependabot/pub/update_checker/latest_version_finder.rb
  pub/spec/dependabot/pub/package/package_details_fetcher_spec.rb
  pub/spec/dependabot/pub/update_checker/latest_version_finder_spec.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
Labels: L: dart:pub

#12282 Abhishekbhaskar/pass cooldown options for composer
  composer/lib/dependabot/composer/update_checker.rb
  composer/lib/dependabot/composer/update_checker/latest_version_finder.rb
  composer/spec/dependabot/composer/update_checker/latest_version_finder_spec.rb
Labels: L: php:composer

#12277 build(deps): bump terraform from 1.11.4 to 1.12.0
  terraform/Dockerfile
Labels: L: terraform

#12226 Use private registries when updating uv lockfile dependencies
  uv/lib/dependabot/uv/file_updater/lock_file_updater.rb
  uv/spec/dependabot/uv/file_updater/lock_file_updater_spec.rb
Labels: L: python:uv

#12304 Bump Rubocop target Ruby version from 3.1 to 3.3
  .rubocop.yml
  bun/lib/dependabot/bun/update_checker.rb
  common/dependabot-common.gemspec
  common/lib/dependabot/utils.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  nuget/lib/dependabot/nuget/cache_manager.rb
  nuget/lib/dependabot/nuget/file_fetcher.rb
Labels: L: dotnet:nuget, L: javascript

#12315 Add explicit dependency on `ostruct`
  Gemfile.lock
  common/dependabot-common.gemspec
  common/lib/dependabot/file_fetchers/base.rb
  common/lib/dependabot/git_metadata_fetcher.rb
  common/lib/dependabot/metadata_finders/base/changelog_finder.rb
  common/lib/dependabot/metadata_finders/base/release_finder.rb
  python/spec/dependabot/python/file_updater_spec.rb
  sorbet/rbi/gems/ostruct@0.6.1.rbi
  updater/Gemfile.lock
  updater/spec/dependabot/service_spec.rb
  uv/spec/dependabot/uv/file_updater_spec.rb
Labels: L: python, L: python:uv

#12323 Bump pnpm to 10.11.0
  npm_and_yarn/Dockerfile
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#12343 improve pr title and commit message generation
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateOperationBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationBase.cs
Labels: L: dotnet:nuget

#12351 ensure padding after prefix
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
Labels: L: dotnet:nuget
