Repository dependabot/dependabot-core, pull requests merged in 2025-04, with the labels that each got.

#11927 fix(uv): handle top-level dependencies without requirements
  uv/lib/dependabot/uv/update_checker.rb
Labels: L: python:uv

#11885 Make Sorbet strict type opt-out instead of opt-in
  .rubocop.yml
  bun/.rubocop.yml
  bundler/.rubocop.yml
  cargo/.rubocop.yml
  common/.rubocop.yml
  composer/.rubocop.yml
  devcontainers/.rubocop.yml
  docker/.rubocop.yml
  docker_compose/.rubocop.yml
  dotnet_sdk/.rubocop.yml
  elm/.rubocop.yml
  git_submodules/.rubocop.yml
  github_actions/.rubocop.yml
  go_modules/.rubocop.yml
  gradle/.rubocop.yml
  helm/.rubocop.yml
  hex/.rubocop.yml
  maven/.rubocop.yml
  npm_and_yarn/.rubocop.yml
  nuget/.rubocop.yml
  omnibus/.rubocop.yml
  pub/.rubocop.yml
  python/.rubocop.yml
  silent/.rubocop.yml
  swift/.rubocop.yml
  updater/.rubocop.yml
  uv/.rubocop.yml
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: github:actions, L: elm, L: git:submodules, L: docker, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift, sorbet 🍦, L: devcontainers, L: dotnet-sdk, L: docker:compose, L: python:uv, L: helm

#11937 change rate limiting error in nuget updater
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PrivateSourceBadResponse.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#11938 Update docker version to include digest if applicable
  docker/lib/dependabot/shared/shared_file_parser.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
Labels: L: docker

#11942 Removing `docker_tag_component_comparison` feature flag
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#11929 Introduce PackageLatestVersionFinder for `npm_and_yarn` behind feature flag Part-2
  common/lib/dependabot/package/package_latest_version_finder.rb
  common/lib/dependabot/package/package_release.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/package_details_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/package_latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#11955 Update the digest tests to better reflect real world scenarios
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
Labels: L: docker:compose

#11958 Apply Cooldown for Release Tags in `npm_and_yarn` Ecosystem
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/package_latest_version_finder_spec.rb
Labels: L: javascript

#11963 Handle cooldown options for bundler
  bundler/lib/dependabot/bundler/update_checker.rb
  bundler/lib/dependabot/bundler/update_checker/version_resolver.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
Labels: L: ruby:bundler

#11965 Add another NuGet bad response case
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11964 Adding date, time and symbol to permitted classes for helm yaml parsing
  helm/lib/dependabot/helm/file_parser.rb
  helm/spec/dependabot/helm/file_parser_spec.rb
  helm/spec/fixtures/helm/v3/chart_permitted_classes.yaml
  helm/spec/fixtures/helm/v3/values_permitted_classes.yaml
Labels: L: helm

#11966 ensure pinned transitive dependency isn't overwritten by subsequent updates to the same file
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackageReferenceUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/ProjectBuildFile.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
Labels: L: dotnet:nuget

#11973 Revert "Update go mod version before running `go mod tidy -e`"
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
Labels: L: go:modules

#11940 Add Package Details Fetcher for `bun` to Support Cooldown Feature
  bun/lib/dependabot/bun/file_updater/bun_lockfile_updater.rb
  bun/lib/dependabot/bun/file_updater/npmrc_builder.rb
  bun/lib/dependabot/bun/metadata_finder.rb
  bun/lib/dependabot/bun/package/package_details_fetcher.rb
  bun/lib/dependabot/bun/package/registry_finder.rb
  bun/lib/dependabot/bun/update_checker.rb
  bun/lib/dependabot/bun/update_checker/latest_version_finder.rb
  bun/lib/dependabot/bun/update_checker/library_detector.rb
  bun/lib/dependabot/bun/update_checker/registry_finder.rb
  bun/spec/dependabot/bun/package/package_details_fetcher_spec.rb
  bun/spec/dependabot/bun/package/registry_finder_spec.rb
  bun/spec/fixtures/gemfury_responses/gemfury_response_etag.json
  bun/spec/fixtures/npm_responses/react.json
  bun/spec/fixtures/projects/bun/npmrc_auth_token_with_space/.npmrc
  bun/spec/fixtures/projects/bun/npmrc_auth_token_with_space/package-lock.json
  bun/spec/fixtures/projects/bun/npmrc_auth_token_with_space/package.json
Labels: L: javascript

#11951 Instrument OTel for the Nuget Updater C# Code
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/AnalyzeCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/CloneCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/DiscoverCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/UpdateCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/LoggerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/OpenTelemetryLogger.cs
Labels: L: dotnet:nuget

#11976 Revert "Update docker version to include digest if applicable"
  docker/lib/dependabot/shared/shared_file_parser.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
Labels: L: docker

#11967 allow update for existing pr if specifically requested
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatePermittedAndMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11968 exclude generated files during build file discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11969 fix spacing between reported updated files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationBase.cs
Labels: L: dotnet:nuget

#11970 use update operation collection to generate PR body text
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11975 Update dry-run to pass cooldown config
  bin/dry-run.rb
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/lib/dependabot/bundler/update_checker.rb
Labels: L: ruby:bundler

#10750 bump node version to 22
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11993 Fixing typo `helm_repository` to `helm_registry`
  helm/lib/dependabot/helm/update_checker.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
Labels: L: helm

#11865 Add support for dotnet .slnx solution files (nuget), using `Microsoft.VisualStudio.SolutionPersistence`
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
Labels: L: dotnet:nuget

#11996 Revert "bump node version to 22"
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11980 Apply Cooldown Logic for `bun` Ecosystem (Similar to `npm_and_yarn`)
  .rubocop_todo.yml
  bun/lib/dependabot/bun/update_checker.rb
  bun/lib/dependabot/bun/update_checker/version_resolver.rb
  bun/spec/dependabot/bun/file_updater_spec.rb
  bun/spec/dependabot/bun/update_checker/latest_version_finder_spec.rb
  bun/spec/dependabot/bun/update_checker/package_latest_version_finder_spec.rb
  bun/spec/dependabot/bun/update_checker/version_resolver_spec.rb
  bun/spec/dependabot/bun/update_checker_spec.rb
  bun/spec/fixtures/git/upload_packs/is-number
  bun/spec/fixtures/git/upload_packs/no_tags
  bun/spec/fixtures/github/commit_compare_diverged.json
  bun/spec/fixtures/npm_responses/200_with_invalid_json.json
  bun/spec/fixtures/npm_responses/200_with_valid_json.json
  bun/spec/fixtures/npm_responses/@dependabot-fixtures%2Fnpm-parent-dependency.json
  bun/spec/fixtures/npm_responses/@dependabot-fixtures%2Fnpm-transitive-dependency.json
  bun/spec/fixtures/npm_responses/babel-core.html
  bun/spec/fixtures/npm_responses/chalk.json
  bun/spec/fixtures/npm_responses/etag.json
  bun/spec/fixtures/npm_responses/etag_deprecated.json
  bun/spec/fixtures/npm_responses/etag_yanked.json
  bun/spec/fixtures/npm_responses/is-stream.json
  bun/spec/fixtures/npm_responses/is_number.json
  bun/spec/fixtures/npm_responses/jquery.json
  bun/spec/fixtures/npm_responses/lodash.json
  bun/spec/fixtures/npm_responses/login_form.html
  bun/spec/fixtures/npm_responses/node-forge.json
  bun/spec/fixtures/npm_responses/old_latest.json
  bun/spec/fixtures/npm_responses/opentelemetry-api.json
  bun/spec/fixtures/npm_responses/opentelemetry-context-async-hooks.json
  bun/spec/fixtures/npm_responses/peer_dependency_deprecated.json
  bun/spec/fixtures/npm_responses/prerelease.json
  bun/spec/fixtures/npm_responses/react-burger-menu.json
  bun/spec/fixtures/npm_responses/react-dom.json
  bun/spec/fixtures/npm_responses/react-modal.json
  bun/spec/fixtures/npm_responses/react-test-renderer.json
  bun/spec/fixtures/npm_responses/types_jquery.json
  bun/spec/fixtures/npm_responses/vue-template-compiler.json
  bun/spec/fixtures/npm_responses/vue.json
  bun/spec/fixtures/projects/javascript/etag_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/git_dependency_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/latest_requirement/package.json
  bun/spec/fixtures/projects/javascript/locked_transitive_dependency/package-lock.json
  bun/spec/fixtures/projects/javascript/locked_transitive_dependency/package.json
  bun/spec/fixtures/projects/javascript/monorepo_dep_multiple/package-lock.json
  bun/spec/fixtures/projects/javascript/monorepo_dep_multiple/package.json
  bun/spec/fixtures/projects/javascript/monorepo_dep_multiple_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/monorepo_dep_single_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/npmrc_auth_token/package.json
  bun/spec/fixtures/projects/javascript/packages_name_outdated_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/peer_dependency/package-lock.json
  bun/spec/fixtures/projects/javascript/peer_dependency/package.json
  bun/spec/fixtures/projects/javascript/peer_dependency_mismatch_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/peer_dependency_no_lockfile/package.json
  bun/spec/fixtures/projects/javascript/yanked_version_no_lockfile/package.json
Labels: L: javascript

#11999 Refine VersionResolver for Bun
  bun/lib/dependabot/bun/update_checker/version_resolver.rb
Labels: L: javascript

#12002 Provided bug fix issue no 9166.
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/fixtures/projects/php_version_invalid_with_lock_file/composer.json
  composer/spec/fixtures/projects/php_version_invalid_with_lock_file/composer.lock
Labels: L: php:composer

#11998 Convert oci to https when fetching index.yaml files
  helm/lib/dependabot/helm/update_checker.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
Labels: L: helm

#11986 Use a URL that won't respond
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/fixtures/projects/unreachable_private_registry/composer.json
Labels: L: php:composer

#12007 Fix pyproject.toml parsing extras
  uv/lib/dependabot/uv/file_updater/pyproject_preparer.rb
  uv/spec/dependabot/uv/file_updater/pyproject_preparer_spec.rb
Labels: L: python:uv

#12008 Check docker image in helm can be updated
  helm/lib/dependabot/helm/update_checker.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
Labels: L: helm

#12016 Raise and log an error if helm registry response is a string
  helm/lib/dependabot/helm/update_checker.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
Labels: L: helm

#5765 Handle invalid version with dots
  python/spec/dependabot/python/version_spec.rb
Labels: good first issue, L: python

#12021 Remove feature flag `enable_beta_ecosystems` check from bun ecosystem
  bun/lib/dependabot/bun/file_fetcher.rb
  bun/spec/dependabot/bun/file_fetcher_spec.rb
Labels: L: javascript

#12011 Fix Sorbet Typings for Maven Ecosystem in Update Checker and Latest Version Finder
  maven/lib/dependabot/maven/update_checker.rb
  maven/lib/dependabot/maven/update_checker/version_finder.rb
Labels: L: java:maven, sorbet 🍦

#12014 Terraform update-registry-declaration method fixes
  terraform/lib/dependabot/terraform/file_updater.rb
  terraform/spec/dependabot/terraform/file_updater_spec.rb
Labels: L: terraform

#11994 Adding cooldown option for docker and docker compose
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
  docker/spec/fixtures/docker/image_blobs/ubuntu_17.10_38d6c1.json
  docker/spec/fixtures/docker/image_blobs_headers/ubuntu_17.10_38d6c1.json
  docker/spec/fixtures/docker/registry_manifest_digests/ubuntu_17.10.json
Labels: L: docker

#12030 Refine the uv PyProjectPreparer
  bin/dry-run.rb
  uv/lib/dependabot/uv/file_updater/lock_file_updater.rb
  uv/lib/dependabot/uv/file_updater/pyproject_preparer.rb
  uv/spec/dependabot/uv/file_updater/lock_file_updater_spec.rb
  uv/spec/dependabot/uv/file_updater/pyproject_preparer_spec.rb
  uv/spec/fixtures/pyproject_files/complex_groups.toml
Labels: L: python:uv

#12022 Standardize Maven Package Fetcher to Support Generic Package Release Details
  maven/lib/dependabot/maven/package/package_details_fetcher.rb
  maven/lib/dependabot/maven/update_checker/property_updater.rb
  maven/lib/dependabot/maven/update_checker/version_finder.rb
  maven/spec/dependabot/maven/package/package_details_fetcher_spec.rb
  maven/spec/dependabot/maven/update_checker/version_finder_spec.rb
  maven/spec/fixtures/maven_central_metadata/with_release.html
Labels: L: java:maven

#12037 Fix swift updater image build
  swift/Dockerfile
Labels: L: swift

#12060 Refactor: Update Bundler Versioning to Use Bundler::Version Instead of Gem::Version
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/lib/dependabot/bundler/update_checker.rb
  bundler/lib/dependabot/bundler/update_checker/file_preparer.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder/dependency_source.rb
  bundler/lib/dependabot/bundler/update_checker/requirements_updater.rb
  bundler/lib/dependabot/bundler/update_checker/version_resolver.rb
  bundler/spec/dependabot/bundler/file_updater/gemspec_sanitizer_spec.rb
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  bundler/spec/dependabot/bundler/update_checker/version_resolver_spec.rb
  bundler/spec/dependabot/bundler/update_checker_spec.rb
Labels: L: ruby:bundler

#12059 Sorbet: Update Returned Version Types for Generic PackageLatestVersionFinder
  common/lib/dependabot/package/package_latest_version_finder.rb
Labels: L: javascript

#12055 Bump Swift version from 6.0 to 6.1
  swift/Dockerfile
  swift/spec/dependabot/swift/file_parser_spec.rb
Labels: L: swift

#12053 allow loading legacy code pages
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Program.cs
Labels: L: dotnet:nuget

#12054 prepopulate updater image with framework targeting packs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/NuGetUpdater.Cli.csproj
Labels: L: dotnet:nuget

#12056 don't return evaluation for temporary projects
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#12061 Refactor: Consistent Filtering of Releases in PackageLatestVersionFinder
  bun/lib/dependabot/bun/update_checker/latest_version_finder.rb
  bundler/lib/dependabot/bundler/update_checker/latest_version_finder.rb
  cargo/lib/dependabot/cargo/update_checker/latest_version_finder.rb
  common/lib/dependabot/package/package_latest_version_finder.rb
  common/lib/dependabot/package/package_release.rb
  common/spec/dependabot/package/package_latest_version_finder_spec.rb
  common/spec/spec_helper.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
Labels: L: ruby:bundler, L: rust:cargo, L: javascript

#12058 don't import from special `Pkg*` properties
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/SpecialFilePatcherTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SpecialImportsConditionPatcher.cs
Labels: L: dotnet:nuget

#12062 Strict type some more of `composer`
  composer/lib/dependabot/composer/file_fetcher/path_dependency_builder.rb
  composer/lib/dependabot/composer/metadata_finder.rb
  composer/lib/dependabot/composer/native_helpers.rb
  composer/lib/dependabot/composer/requirement.rb
  composer/lib/dependabot/composer/update_checker.rb
Labels: L: php:composer

#12069 Strict type remaining files in `maven` ecosystem
  maven/.rubocop.yml
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/file_parser/property_value_finder.rb
  maven/lib/dependabot/maven/file_parser/repositories_finder.rb
  maven/lib/dependabot/maven/file_updater.rb
  maven/lib/dependabot/maven/file_updater/declaration_finder.rb
  maven/lib/dependabot/maven/file_updater/property_value_updater.rb
  maven/lib/dependabot/maven/metadata_finder.rb
  maven/lib/dependabot/maven/package/package_details_fetcher.rb
  maven/lib/dependabot/maven/requirement.rb
  maven/lib/dependabot/maven/update_checker.rb
  maven/lib/dependabot/maven/update_checker/property_updater.rb
  maven/spec/dependabot/maven/token_bucket_spec.rb
  maven/spec/dependabot/maven/version_parser_spec.rb
  maven/spec/spec_helper.rb
Labels: L: java:maven

#12079 maintain BOM status for dependency files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestDiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/BOMHandlingTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/BOMHandling.cs
Labels: L: dotnet:nuget

#11977 Update docker version to include digest if applicable - Fixed
  docker/lib/dependabot/docker/file_parser.rb
  docker/lib/dependabot/docker/update_checker.rb
  docker/lib/dependabot/shared/shared_file_parser.rb
  docker/lib/dependabot/shared/shared_file_updater.rb
  docker/spec/dependabot/docker/common/shared_examples_for_docker_update_checkers.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/dependabot/docker/file_updater_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#12085 Fix Docker Compose Digest Handling for sha256 and Normal Digests
  docker/lib/dependabot/shared/shared_file_updater.rb
Labels: L: docker

#12086 Fix Docker Compose Specs Related to Requirements Digest with Sha256
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
  docker_compose/spec/dependabot/docker_compose/file_updater_spec.rb
Labels: L: docker:compose

#12080 improve nuget ci time
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/EndToEndTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/EOLHandlingTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
Labels: L: dotnet:nuget

#12090 Update the go_modules package fetcher to standardize format
  go_modules/lib/dependabot/go_modules/package/package_details_fetcher.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/spec/dependabot/go_modules/package/package_details_fetcher_spec.rb
  go_modules/spec/fixtures/go_io_responses/package_fetcher.json
Labels: L: go:modules

#12095 Strict type the `swift` ecosystem
  swift/.rubocop.yml
  swift/lib/dependabot/swift/file_fetcher.rb
  swift/lib/dependabot/swift/file_parser.rb
  swift/lib/dependabot/swift/file_parser/dependency_parser.rb
  swift/lib/dependabot/swift/file_parser/manifest_parser.rb
  swift/lib/dependabot/swift/file_updater.rb
  swift/lib/dependabot/swift/file_updater/lockfile_updater.rb
  swift/lib/dependabot/swift/file_updater/manifest_updater.rb
  swift/lib/dependabot/swift/file_updater/requirement_replacer.rb
  swift/lib/dependabot/swift/native_requirement.rb
  swift/lib/dependabot/swift/requirement.rb
  swift/lib/dependabot/swift/update_checker.rb
  swift/lib/dependabot/swift/update_checker/requirements_updater.rb
  swift/lib/dependabot/swift/update_checker/version_resolver.rb
Labels: L: swift, sorbet 🍦

#12098 Fix Version Update Behavior for Versions with Dashes in Maven Ecosystem
  maven/lib/dependabot/maven/package/package_details_fetcher.rb
  maven/spec/dependabot/maven/package/package_details_fetcher_spec.rb
Labels: L: java:maven

#12104 Add more specs for Maven dependency files URL construction
  maven/spec/dependabot/maven/package/package_details_fetcher_spec.rb
Labels: L: java:maven

#12107 `mark_as_processed` api endpoint should use the `PATCH` verb
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestHttpServer.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
Labels: L: dotnet:nuget

#12106 Fixes issue when a malformed dependency version is specified
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
  common/lib/dependabot/package/package_latest_version_finder.rb
Labels: L: ruby:bundler

#11207 handles build_num as comparable to year_month or year_month_day in docker tags
  docker/lib/dependabot/docker/tag.rb
Labels: L: docker

#12101 Make Sorbet `strict` mode opt-out at the file-level
  bun/.rubocop.yml
  bundler/.rubocop.yml
  cargo/.rubocop.yml
  composer/.rubocop.yml
  gradle/.rubocop.yml
  hex/.rubocop.yml
  npm_and_yarn/.rubocop.yml
  python/.rubocop.yml
  silent/.rubocop.yml
  updater/.rubocop.yml
  uv/.rubocop.yml
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: rust:cargo, L: javascript, L: python, sorbet 🍦, L: python:uv

#12123 Remove helm beta feature flag
  helm/lib/dependabot/helm/file_fetcher.rb
  helm/spec/dependabot/helm/file_fetcher_spec.rb
Labels: L: helm

#11886 Strict type most of `npm_and_yarn`
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/.rubocop.yml
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/pnpm_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/yarn_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_preparer.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/metadata_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/native_helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/registry_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/requirement.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/conflicting_dependency_resolver.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/dependency_files_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/library_detector.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/requirements_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/vulnerability_auditor.rb
Labels: L: javascript, sorbet 🍦

#12109 Remove `"master"` branch hardcoding for Hex
  hex/helpers/lib/parse_deps.exs
  hex/spec/dependabot/hex/file_parser_spec.rb
Labels: L: elixir:hex

#12133 Remove the check for tools/poetry contents.
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/fixtures/pyproject_files/incorrect_poetry_setup.toml
  uv/lib/dependabot/uv/file_parser/pyproject_files_parser.rb
  uv/spec/dependabot/uv/file_parser/pyproject_files_parser_spec.rb
  uv/spec/fixtures/pyproject_files/incorrect_poetry_setup.toml
Labels: L: python, L: python:uv

#12128 allow exiting from a parent package lookup if no better match was found
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
Labels: L: dotnet:nuget

#12117 log messages as they're sent
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MessageReportTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ClosePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CreatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/MessageBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#12105 write user-level `NuGet.Config` in end-to-end updater
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/updater/common.ps1
  nuget/updater/main.ps1
  nuget/updater/test.ps1
Labels: L: dotnet:nuget

#12137 Refactor branch naming strategy for docker dependencies with digests.
  common/lib/dependabot/pull_request_creator/branch_namer/solo_strategy.rb
  common/spec/dependabot/pull_request_creator/branch_namer/solo_strategy_spec.rb
  common/spec/dependabot/pull_request_creator/branch_namer_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#12132 Complete Sorbet strict typing of `npm_and_yarn` ecosystem
  common/lib/dependabot/shared_helpers.rb
  npm_and_yarn/.rubocop.yml
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
Labels: L: javascript, sorbet 🍦

#12145 Revert "Refactor branch naming strategy for docker dependencies with digests."
  common/lib/dependabot/pull_request_creator/branch_namer/solo_strategy.rb
  common/spec/dependabot/pull_request_creator/branch_namer/solo_strategy_spec.rb
  common/spec/dependabot/pull_request_creator/branch_namer_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#12139 Support Update from npm 6 (lockfile v1) to npm 8, 10 (lockfile v3) and Cleanup `npm_fallback_version_above_v6` Feature Flag
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/json_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  npm_and_yarn/spec/fixtures/updated_projects/npm6/subdependency_update_tab_indentation/package-lock.json
Labels: L: javascript

#12136 Revert "Merge pull request #11977 from jpinz/docker-version-digest-fix"
  docker/lib/dependabot/docker/file_parser.rb
  docker/lib/dependabot/docker/update_checker.rb
  docker/lib/dependabot/shared/shared_file_parser.rb
  docker/lib/dependabot/shared/shared_file_updater.rb
  docker/spec/dependabot/docker/common/shared_examples_for_docker_update_checkers.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/dependabot/docker/file_updater_spec.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#12119 Adds cooldown options for go_modules
  go_modules/lib/dependabot/go_modules/package/package_details_fetcher.rb
  go_modules/lib/dependabot/go_modules/update_checker.rb
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/spec/dependabot/go_modules/update_checker/latest_version_finder_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker_spec.rb
Labels: L: go:modules

#12147 Fix MetaFinder `get_url` to accept Array[String] for details for `bun` and `npm_and_yarn` ecosystems
  bun/lib/dependabot/bun/metadata_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/metadata_finder.rb
Labels: L: javascript

#12144 mock well-known SDK packages
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
Labels: L: dotnet:nuget

#12143 make messages proper markdown
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MessageReportTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateOperationBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ClosePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CreatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationBase.cs
Labels: L: dotnet:nuget

#12142 improve native updater experiment flag
  nuget/script/run
Labels: L: dotnet:nuget

#12160 update installed sdks to 8.0.408 and 9.0.203
  nuget/Dockerfile
  nuget/helpers/lib/NuGetUpdater/global.json
Labels: L: dotnet:nuget

#12165 Revert "Fix Docker Compose Specs Related to Requirements Digest with Sha256 (#12086)"
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
  docker_compose/spec/dependabot/docker_compose/file_updater_spec.rb
Labels: L: docker:compose

#12163 allow SDK installation from a two-part version
  nuget/updater/common.ps1
Labels: L: dotnet:nuget

#12148 Adds exception handler for release dates fetch
  go_modules/lib/dependabot/go_modules/update_checker/latest_version_finder.rb
  go_modules/spec/dependabot/go_modules/path_converter_spec.rb
  go_modules/spec/dependabot/go_modules/update_checker/latest_version_finder_spec.rb
Labels: L: go:modules

#12146 Improve support for OCI registries in Helm
  helm/Dockerfile
  helm/lib/dependabot/helm.rb
  helm/lib/dependabot/helm/helpers.rb
  helm/lib/dependabot/helm/package_manager.rb
  helm/lib/dependabot/helm/update_checker.rb
  helm/lib/dependabot/helm/version.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
  helm/spec/dependabot/helm/version_spec.rb
Labels: L: helm

#12166 report missing package version when possible
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12159 build(deps): bump terraform from 1.11.2 to 1.11.4
  terraform/Dockerfile
Labels: L: terraform

#12174 make long title and commit messages easier to read
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
Labels: L: dotnet:nuget

#12168 Upgrade from `xunit` to `xunit.v3`
  nuget/helpers/lib/NuGetUpdater/Directory.Packages.props
  nuget/helpers/lib/NuGetUpdater/DotNetPackageCorrelation.Test/DotNetPackageCorrelation.Test.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/NuGetUpdater.Cli.Test.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/NuGetUpdater.Core.Test.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/LoggerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/PathHelperTests.cs
Labels: L: dotnet:nuget

#12129 Upgrade uv to the latest 0.7.1
  uv/Dockerfile
  uv/helpers/requirements.txt
  uv/spec/dependabot/uv/file_parser_spec.rb
Labels: L: go:modules, L: docker, L: dotnet:nuget, L: javascript, L: python:uv

#12173 escape dependency url spaces with `%20` before querying
  npm_and_yarn/lib/dependabot/npm_and_yarn/metadata_finder.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/metadata_finder_spec.rb
Labels: L: javascript
