Repository dependabot/dependabot-core, pull requests merged in 2025-07, with the labels that each got.

#12541 Fixes failing git_submodules ecosystem cooldown test cases
  git_submodules/spec/dependabot/git_submodules/update_checker/latest_version_finder_spec.rb
Labels: L: git:submodules

#12542 Updates Hex package manager to version '2.2.1'
  hex/Dockerfile
  hex/spec/dependabot/hex/file_parser_spec.rb
Labels: L: elixir:hex

#12491 Initial `vcpkg` updater
  .github/ci-filters.yml
  .github/labeler.yml
  .github/smoke-filters.yml
  .github/smoke-matrix.json
  .github/workflows/ci.yml
  .github/workflows/images-branch.yml
  .github/workflows/images-latest.yml
  Dockerfile.updater-core
  Rakefile
  bin/docker-dev-shell
  bin/dry-run.rb
  common/lib/dependabot/config/file.rb
  omnibus/dependabot-omnibus.gemspec
  omnibus/lib/dependabot/omnibus.rb
  script/dependabot
  sorbet/config
  updater/Gemfile
  updater/Gemfile.lock
  updater/lib/dependabot/setup.rb
  vcpkg/.bundle/config
  vcpkg/.gitignore
  vcpkg/.rubocop.yml
  vcpkg/Dockerfile
  vcpkg/README.md
  vcpkg/dependabot-vcpkg.gemspec
  vcpkg/lib/dependabot/vcpkg.rb
  vcpkg/lib/dependabot/vcpkg/file_fetcher.rb
  vcpkg/lib/dependabot/vcpkg/file_parser.rb
  vcpkg/lib/dependabot/vcpkg/file_updater.rb
  vcpkg/lib/dependabot/vcpkg/language.rb
  vcpkg/lib/dependabot/vcpkg/metadata_finder.rb
  vcpkg/lib/dependabot/vcpkg/package/package_details_fetcher.rb
  vcpkg/lib/dependabot/vcpkg/package_manager.rb
  vcpkg/lib/dependabot/vcpkg/requirement.rb
  vcpkg/lib/dependabot/vcpkg/update_checker.rb
  vcpkg/lib/dependabot/vcpkg/update_checker/latest_version_finder.rb
  vcpkg/lib/dependabot/vcpkg/version.rb
  vcpkg/script/ci-test
  vcpkg/spec/dependabot/vcpkg/file_fetcher_spec.rb
  vcpkg/spec/dependabot/vcpkg/file_parser_spec.rb
  vcpkg/spec/dependabot/vcpkg/file_updater_spec.rb
  vcpkg/spec/dependabot/vcpkg/metadata_finder_spec.rb
  vcpkg/spec/dependabot/vcpkg/package/package_details_fetcher_spec.rb
  vcpkg/spec/dependabot/vcpkg/update_checker/latest_version_finder_spec.rb
  vcpkg/spec/dependabot/vcpkg/update_checker_spec.rb
  vcpkg/spec/dependabot/vcpkg_spec.rb
  vcpkg/spec/fixtures/projects/no_manifest/README.md
  vcpkg/spec/fixtures/projects/simple_manifest/vcpkg.json
  vcpkg/spec/spec_helper.rb
Labels: T: new-ecosystem

#12523 Add Sorbet type annotations to Cargo::FileUpdater::LockfileUpdater
  cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb
Labels: L: rust:cargo

#12597 Remove deprecated cooldown feature flag for Python ecosystems: python, uv
  python/lib/dependabot/python/package/package_details_fetcher.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  python/spec/dependabot/python/package/package_details_fetcher_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  uv/lib/dependabot/uv/package/package_details_fetcher.rb
  uv/lib/dependabot/uv/update_checker/latest_version_finder.rb
  uv/spec/dependabot/uv/package/package_details_fetcher_spec.rb
  uv/spec/dependabot/uv/update_checker_spec.rb
Labels: L: python, L: python:uv

#12599 Upgrades Yarn to latest version 4.9.2
  npm_and_yarn/Dockerfile
Labels: L: javascript

#12611 Cooldown feature flag removal for Dotnet SDK
  dotnet_sdk/lib/dependabot/dotnet_sdk/update_checker/latest_version_finder.rb
Labels: L: dotnet-sdk

#12605 Sorbet type check added to cargo helper class.
  cargo/lib/dependabot/cargo/helpers.rb
Labels: L: rust:cargo

#12624 Upgrade PIP to 25.0.1
  python/helpers/requirements.txt
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
  python/spec/dependabot/python/file_parser/setup_file_parser_spec.rb
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
Labels: L: python

#12586 remove unnecessary test fixtures
  nuget/spec/fixtures/csproj/ProjectWithRelativePaths.csproj
  nuget/spec/fixtures/csproj/basic.csproj
  nuget/spec/fixtures/csproj/dependency_with_name_that_does_not_exist.csproj
  nuget/spec/fixtures/csproj/import.csproj
  nuget/spec/fixtures/csproj/import2.csproj
  nuget/spec/fixtures/csproj/missing_property_version.csproj
  nuget/spec/fixtures/csproj/project_reference.csproj
  nuget/spec/fixtures/csproj/project_reference_remove.csproj
  nuget/spec/fixtures/csproj/properties_with_conditions.csproj
  nuget/spec/fixtures/csproj/property_version.csproj
  nuget/spec/fixtures/csproj/property_version_indirect.csproj
  nuget/spec/fixtures/csproj/property_version_not_in_file.csproj
  nuget/spec/fixtures/csproj/ranges.csproj
  nuget/spec/fixtures/csproj/sdk_reference_via_import.csproj
  nuget/spec/fixtures/csproj/sdk_reference_via_project.csproj
  nuget/spec/fixtures/csproj/sdk_reference_via_sdk.csproj
  nuget/spec/fixtures/csproj/sdk_references_of_all_kinds.csproj
  nuget/spec/fixtures/csproj/single_dep_property_version.csproj
  nuget/spec/fixtures/csproj/transitive_project_reference.csproj
  nuget/spec/fixtures/csproj/transitive_referenced_project.csproj
  nuget/spec/fixtures/csproj/update.csproj
Labels: L: dotnet:nuget

#12626 UV update to version 0.7.20
  uv/helpers/requirements.txt
  uv/spec/dependabot/uv/file_parser_spec.rb
Labels: L: python:uv

#12627 cleanup nuget pr body text
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/CreateSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/GroupUpdateAllVersionsHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshGroupUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshVersionUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationBase.cs
Labels: L: dotnet:nuget

#12634 Downgrade pip to 24.2 due to issue in >25
  python/helpers/requirements.txt
Labels: L: python

#12635 use initial project directory when computing updated file paths from project discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/FileWriterWorkerTests_MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/FileWriterWorker.cs
Labels: L: dotnet:nuget

#12637 Update labels for `dotnet-sdk`, `rust-toolchain`, and `vcpkg`
  .github/labeler.yml
Labels: L: dotnet:dotnet-sdk, L: cpp:vcpkg, L: rust:rust-toolchain

#12642 Use common variable for PHP version
  composer/Dockerfile
Labels: L: php:composer

#12644 ensure project is supported file
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/XmlFileWriterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/XmlFileWriter.cs
Labels: L: dotnet:nuget

#12638 Don't let unsupported sdk version in `global.json` fail an update job
  .github/workflows/smoke.yml
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Files/GlobalJsonBuildFileTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Files/GlobalJsonBuildFile.cs
  nuget/updater/common.ps1
  nuget/updater/test-data/global-json-unsupported-version/global.json
  nuget/updater/test.ps1
Labels: L: dotnet:nuget

#12650 check output for timeouts
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/HttpApiHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MessageReportTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/PrivateSourceTimedOutException.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PrivateSourceTimedOut.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12652 classify additional error shapes
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/JobErrorBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12659 Complete checkout of vcpkg repository
  vcpkg/Dockerfile
Labels: L: cpp:vcpkg

#12674 Upgrade uv to the latest 0.8.0
  uv/Dockerfile
  uv/helpers/requirements.txt
  uv/spec/dependabot/uv/file_parser_spec.rb
Labels: L: python:uv

#12676 remove experiment `nuget_use_new_file_updater` and make this behavior the default
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/EndToEndTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.DirsProj.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/spec/dependabot/nuget/native_helpers_spec.rb
Labels: L: dotnet:nuget

#12688 remove old update handler
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Clone/CloneWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/EndToEndTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/CreateSecurityUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/GroupUpdateAllVersionsHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/RefreshGroupUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/RefreshVersionUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/UpdateHandlersTestsBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatePermittedAndMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#12689 always use direct dependency discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Run.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/DependencySolver/MSBuildDependencySolverTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/EndToEndTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/FileWriterWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackageReferenceUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/SdkPackageUpdaterHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/FileWriterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12691 Fix cooldown filtering for latest distribution tags in npm/yarn and bun
  bun/lib/dependabot/bun/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
Labels: L: javascript

#12679 Ruby 3.4.5
  .devcontainer/devcontainer.json
  .ruby-version
  Dockerfile.updater-core
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_4/example.gemspec
Labels: L: ruby:bundler

#12566 Target latest Python versions
  python/Dockerfile
  python/lib/dependabot/python/language.rb
  uv/Dockerfile
  uv/lib/dependabot/uv/language.rb
Labels: L: python, L: python:uv

#12709 implement package update cooldown feature for nuget
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/VersionFinderTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/ApiModel/CooldownTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/DependencyInfo.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Cooldown.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/CreateSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/GroupUpdateAllVersionsHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshGroupUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshVersionUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/DependencyConflictResolver.cs
Labels: L: dotnet:nuget

#12692 always honor global.json sdk version
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Update.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/DependencySolver/MSBuildDependencySolverTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/MockNuGetPackage.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/FileWriters/FileWriterWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackageReferenceUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/AnalyzeWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/DependencyFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencySolver/MSBuildDependencySolver.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/PackagesConfigDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/FileWriterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/XmlFileWriter.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/NuGetHelper.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProcessExtensions.cs
Labels: L: dotnet:nuget

#12713 Enabled check to add feature flag, added specific exception and remov…
  helm/lib/dependabot/helm/package/package_details_fetcher.rb
  helm/lib/dependabot/helm/update_checker.rb
  helm/lib/dependabot/helm/update_checker/latest_version_resolver.rb
  helm/spec/dependabot/helm/update_checker/latest_version_resolver_spec.rb
Labels: L: helm

#12716 honor cooldown values in group updates
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/GroupUpdateAllVersionsHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshGroupUpdatePullRequestHandler.cs
Labels: L: dotnet:nuget

#12739 Removed Feature Flag and Added check for the user if not willing to opt cooldown in scan.
  helm/lib/dependabot/helm/update_checker.rb
Labels: L: helm

#12580 Adding support for dependency-groups (PEP 735) in pyproject.toml
  python/helpers/lib/parser.py
  python/helpers/run.py
  python/lib/dependabot/python/file_parser/pyproject_files_parser.rb
  python/spec/dependabot/python/update_checker_spec.rb
  python/spec/fixtures/pyproject_files/pep735_exact_requirement.toml
Labels: L: python, L: python:uv

#12743 Fix Sorbet Runtime Error due to Nil return value in Composer ecosystem
  composer/lib/dependabot/composer/update_checker/version_resolver.rb
  composer/spec/dependabot/composer/update_checker/version_resolver_spec.rb
  composer/spec/fixtures/projects/check_original_requirements_resolvable/composer.json
Labels: L: php:composer

#12746 Removing helm and oras login command
  helm/lib/dependabot/helm/helpers.rb
  helm/lib/dependabot/helm/update_checker.rb
  helm/spec/dependabot/helm/update_checker_spec.rb
Labels: L: helm

#12755 Cache` Bundler::FileParser#gemfile_dependencies`
  bundler/lib/dependabot/bundler/file_parser.rb
Labels: L: ruby:bundler

#12760 use trivia to compute newline offset locations
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/FileWriters/XmlFileWriter.cs
Labels: L: dotnet:nuget
