Repository dependabot/dependabot-core, pull requests merged in 2025-03, with the labels that each got.

#11660 Added sorbet type strict for the metadata_finder
  python/lib/dependabot/python/metadata_finder.rb
Labels: L: python, sorbet 🍦

#11642 Use Poetry v2
  python/helpers/requirements.txt
  python/lib/dependabot/python/file_updater/poetry_file_updater.rb
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/fixtures/poetry_locks/caret_version.lock
  python/spec/fixtures/poetry_locks/conflict_at_latest.lock
  python/spec/fixtures/poetry_locks/exact_version.lock
  python/spec/fixtures/poetry_locks/extra_dependency.lock
  python/spec/fixtures/poetry_locks/git_conflict.lock
  python/spec/fixtures/poetry_locks/git_dependency.lock
  python/spec/fixtures/poetry_locks/latest_subdep_blocked.lock
  python/spec/fixtures/poetry_locks/poetry.lock
  python/spec/fixtures/poetry_locks/python_310.lock
  python/spec/fixtures/poetry_locks/python_39.lock
  python/spec/fixtures/poetry_locks/version_not_specified.lock
  python/spec/fixtures/poetry_locks/yanked_version.lock
Labels: L: python

#11693 Add Generic Cooldown Filtering and Enable for Python Package Manager
  common/lib/dependabot/package/package_latest_version_finder.rb
  common/lib/dependabot/package/release_cooldown_options.rb
  common/lib/dependabot/update_checkers/base.rb
  common/lib/dependabot/version.rb
  common/spec/dependabot/package/package_latest_version_finder_spec.rb
  common/spec/dependabot/package/release_cooldown_options_spec.rb
  python/lib/dependabot/python/update_checker/latest_version_finder.rb
  updater/lib/dependabot/job.rb
  updater/lib/dependabot/updater/group_update_creation.rb
  updater/lib/dependabot/updater/operations/create_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_security_update_pull_request.rb
  updater/lib/dependabot/updater/operations/refresh_version_update_pull_request.rb
  updater/lib/dependabot/updater/operations/update_all_versions.rb
  updater/spec/dependabot/updater_spec.rb
Labels: L: python

#11718 use different values for `$(TargetPlatformVersion)` for TFM and dependency discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/SdkProjectDiscoveryTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.targets
Labels: L: dotnet:nuget

#11716 Add strict typing for the elm update checker
  elm/lib/dependabot/elm/update_checker.rb
  elm/lib/dependabot/elm/update_checker/cli_parser.rb
  elm/lib/dependabot/elm/update_checker/elm_19_version_resolver.rb
Labels: L: elm

#11738 Downgrade Rust Docker image from 1.85.0-bookworm to 1.84.0-bookworm to restore missing dependencies
  cargo/Dockerfile
Labels: L: rust:cargo

#11743 Fix passing cooldown options into Python Latest Version Finder
  python/lib/dependabot/python/package/package_details_fetcher.rb
  python/lib/dependabot/python/update_checker.rb
  python/lib/dependabot/python/update_checker/pip_version_resolver.rb
  python/spec/dependabot/python/update_checker_spec.rb
  python/spec/fixtures/pypi/pypi_response_luigi.json
Labels: L: python

#11735 Handle uv `pyproject.toml` without a `requirements.txt` lock file
  uv/lib/dependabot/uv/file_fetcher.rb
  uv/lib/dependabot/uv/file_parser.rb
  uv/lib/dependabot/uv/file_parser/pipfile_files_parser.rb
  uv/lib/dependabot/uv/file_parser/python_requirement_parser.rb
  uv/lib/dependabot/uv/requirements_file_matcher.rb
  uv/spec/dependabot/uv/file_parser/pipfile_files_parser_spec.rb
  uv/spec/dependabot/uv/file_parser/python_requirement_parser_spec.rb
  uv/spec/dependabot/uv/file_parser_spec.rb
  uv/spec/fixtures/constraints/less_than.txt
  uv/spec/fixtures/projects/pipenv/editable-package/Pipfile
  uv/spec/fixtures/projects/pipenv/editable-package/Pipfile.lock
  uv/spec/fixtures/projects/pipenv/editable-package/ballcone/__init__.py
  uv/spec/fixtures/projects/pipenv/editable-package/pyproject.toml
  uv/spec/fixtures/projects/pipenv/missing-system-library-old-python/Pipfile
  uv/spec/fixtures/projects/pipenv/missing-system-library/Pipfile
  uv/spec/fixtures/projects/poetry/multiple_requirements/poetry.lock
  uv/spec/fixtures/projects/poetry/multiple_requirements/pyproject.toml
  uv/spec/fixtures/projects/poetry/relative_path/my-project/pyproject.toml
  uv/spec/fixtures/projects/poetry/relative_path/my-project/src/__init__.py
  uv/spec/fixtures/projects/poetry/relative_path/poetry.lock
  uv/spec/fixtures/projects/poetry/relative_path/pyproject.toml
  uv/spec/fixtures/projects/unresolvable/requirements.in
  uv/spec/fixtures/projects/unresolvable/requirements.txt
  uv/spec/fixtures/pypi/pypi_response_prerelease.json
  uv/spec/fixtures/pypi/pypi_simple_response_capital.html
Labels: L: python:uv

#11622 Remove FF and tests for npm6 deprecation and unsupported error
  bun/spec/dependabot/bun/file_updater_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/npm_package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/npm_package_manager_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  npm_and_yarn/spec/fixtures/projects/generic/package_manager_with_ver_with_no_engine_info_pnpm/package.json
  npm_and_yarn/spec/fixtures/projects/generic/with_package_manager_and_pnpm_npm_engine_info/package.json
Labels: L: dotnet:nuget, L: javascript

#11746 Revert "Downgrade Rust Docker image from 1.85.0-bookworm to 1.84.0-bookworm to restore missing dependencies"
  cargo/Dockerfile
Labels: L: rust:cargo

#11742 align version checking code with the parse method
  docker/lib/dependabot/docker/version.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/fixtures/helm/yaml/multi-image-with-bad-version.yaml
Labels: L: docker

#11753 Add/Update Specs for Job & Fix Dry-Run to Pass Cooldown Through Env Variables
  bin/dry-run.rb
  common/lib/dependabot/package/package_latest_version_finder.rb
  common/lib/dependabot/package/release_cooldown_options.rb
  common/spec/dependabot/package/package_latest_version_finder_spec.rb
  common/spec/dependabot/package/release_cooldown_options_spec.rb
  python/spec/dependabot/python/update_checker_spec.rb
  updater/lib/dependabot/job.rb
  updater/spec/dependabot/job_spec.rb
Labels: L: python

#11757 report pr status messages as appropriate
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/TestApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatePermittedAndMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ClosePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CreatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/GroupPullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Job.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/MessageBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PullRequestDependency.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdatePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/HttpApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/IApiHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestConverter.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11741 install libssl 1.1 to support older .NET SDKs
  nuget/Dockerfile
Labels: L: dotnet:nuget

#11778 allow multiple forms for `$.job.commit-message-options.include-scope` property
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CommitOptions.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/CommitOptions_IncludeScopeConverter.cs
Labels: L: dotnet:nuget

#11754 Fix added for sorbet type strict.
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/file_parser/python_requirement_parser.rb
  python/lib/dependabot/python/pip_compile_file_matcher.rb
Labels: L: python, sorbet 🍦

#11763 add simple title, commit message, and body text generation
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestMessageTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11779 strip BOM from YAML manifests
  docker/lib/dependabot/docker/file_parser.rb
  docker/lib/dependabot/shared/shared_file_fetcher.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
  docker/spec/fixtures/kubernetes/yaml/with_bom.yaml
Labels: L: docker

#11760 move back to hard-coded modes if mode is not provided
  common/lib/dependabot/dependency_file.rb
  common/spec/dependabot/dependency_file_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  updater/spec/dependabot/api_client_spec.rb
  updater/spec/dependabot/updater_spec.rb
Labels: L: javascript

#11780 properly report failure to deserialize job file
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/DiscoverCommand.cs
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#11789 Fix `NilClass` error in `format_version_releases` for Python package details fetcher
  python/lib/dependabot/python/package/package_details_fetcher.rb
Labels: L: python

#11791 install .NET SDK from channel if necessary
  nuget/updater/common.ps1
Labels: L: dotnet:nuget

#11786 explicitly override `TreatWarningsAsErrors` to `false` during discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TestHttpServer.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
Labels: L: dotnet:nuget

#11799 ensure `$TEMP` and `$TMP` environment variables exist
  nuget/Dockerfile
Labels: L: dotnet:nuget

#11696 build(deps): bump terraform from 1.10.5 to 1.11.0
  terraform/Dockerfile
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: terraform

#11764 Support ruby style requirements as gradle requirements
  gradle/lib/dependabot/gradle/requirement.rb
  gradle/spec/dependabot/gradle/requirement_spec.rb
  maven/lib/dependabot/maven/requirement.rb
  maven/spec/dependabot/maven/requirement_spec.rb
Labels: L: java:gradle, L: java:maven

#11433 Bump Bun to 1.2.1
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11801 install libssl 1.0 to support .NET SDK 2.1
  nuget/Dockerfile
Labels: L: dotnet:nuget

#11804 [Feature] Standardize `uv` Package Fetcher, Extend Latest Version Finder, and Enable Cooldown Filtering via Feature Flag
  uv/lib/dependabot/uv/package/package_details_fetcher.rb
  uv/lib/dependabot/uv/package/package_registry_finder.rb
  uv/lib/dependabot/uv/update_checker.rb
  uv/lib/dependabot/uv/update_checker/latest_version_finder.rb
  uv/lib/dependabot/uv/update_checker/pip_version_resolver.rb
  uv/spec/dependabot/uv/package/package_details_fetcher_spec.rb
  uv/spec/dependabot/uv/package/package_registry_finder_spec.rb
  uv/spec/dependabot/uv/update_checker/latest_version_finder_spec.rb
  uv/spec/dependabot/uv/update_checker_spec.rb
  uv/spec/fixtures/pypi/pypi_response_luigi.json
  uv/spec/fixtures/releases_api/pypi/pypi_json_response.json
  uv/spec/fixtures/releases_api/pypi/pypi_json_response_empty.json
  uv/spec/fixtures/releases_api/simple/simple_index.html
Labels: L: python:uv

#11683 mount the SSH_AUTH_SOCK socket for ssh-agent
  bin/docker-dev-shell
Labels: L: elixir:hex, L: terraform, L: docker, L: dotnet:nuget, L: javascript, L: python, L: docker:compose

#11815 Update go mod version before running `go mod tidy -e`
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
Labels: L: go:modules

#11816 Revert "Bump pip from 24.0 to 25.0.1 in /python/helpers in the pip group across 1 directory"
  python/helpers/requirements.txt
  python/spec/dependabot/python/file_parser/setup_file_parser_spec.rb
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
Labels: L: python

#11820 manually sideline `Microsoft.WebApplication.targets` during direct dependency discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
Labels: L: dotnet:nuget

#11470 Bump Yarn to 4.7.0
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11826 Update Go Version in Toolchain from 1.20 to 1.24 in Dockerfile
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
Labels: L: go:modules

#11822 Fix added for sorbet type strict.
  python/lib/dependabot/python/file_updater.rb
  python/lib/dependabot/python/file_updater/pip_compile_file_updater.rb
Labels: L: python, sorbet 🍦

#11817 add manual dependency resolution for VS-only PackageReference legacy projects
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.targets
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11839 Hex: handle base64 decoding error
  hex/helpers/lib/run.exs
Labels: L: elixir:hex

#11823 build(deps): bump terraform from 1.11.0 to 1.11.2
  terraform/Dockerfile
Labels: L: terraform

#11849 ensure regex matched before pulling out values
  docker/lib/dependabot/docker/file_parser.rb
  docker/spec/fixtures/helm/yaml/multi-image-with-bad-version.yaml
Labels: L: docker

#11807 Bump Bun to 1.2.5
  bun/Dockerfile
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11851 Update and simplify uv.lock file handling
  uv/Dockerfile
  uv/lib/dependabot/uv/file_updater/lock_file_updater.rb
  uv/spec/dependabot/uv/file_updater/lock_file_updater_spec.rb
  uv/spec/fixtures/uv_locks/minimal.lock
  uv/spec/fixtures/uv_locks/minimal_updated.lock
Labels: L: python:uv

#11842 Enforce proper minimum Windows version for OS-specific TFM
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.Project.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/FrameworkCompatibilityServiceFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscovery.targets
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/FrameworkCompatibilityService.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/SupportedFrameworks.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11853 consider a successfully evaluated project with no dependencies to be valid
  nuget/lib/dependabot/nuget/file_parser.rb
  nuget/spec/dependabot/nuget/file_parser_spec.rb
Labels: L: dotnet:nuget

#11848 Fix Python Ecosystem Language Support Check
  python/Dockerfile
  python/lib/dependabot/python/file_fetcher.rb
  python/lib/dependabot/python/language.rb
  python/lib/dependabot/python/language_version_manager.rb
  python/lib/dependabot/python/requirement.rb
  python/spec/dependabot/python/file_fetcher_spec.rb
  python/spec/dependabot/python/file_updater/pip_compile_file_updater_spec.rb
  python/spec/dependabot/python/requirement_spec.rb
  python/spec/dependabot/python/update_checker/pipenv_version_resolver_spec.rb
Labels: L: python

#11852 Don't update the required python version in pyproject.toml for uv projects
  uv/lib/dependabot/uv/file_updater/lock_file_updater.rb
Labels: L: python:uv

#11765 Add support for environment variables with default value in docker-compose files
  docker_compose/lib/dependabot/docker_compose/file_parser.rb
  docker_compose/lib/dependabot/docker_compose/file_updater.rb
  docker_compose/spec/dependabot/docker_compose/file_parser_spec.rb
  docker_compose/spec/dependabot/docker_compose/file_updater_spec.rb
  docker_compose/spec/fixtures/docker_compose/composefiles/variable
Labels: L: docker:compose

#11857 suppress red herring warning from legacy project dependency discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/DependencyDiscoveryTargetingPacks.props
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
Labels: L: dotnet:nuget

#11859 sideline all special targets files before discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
Labels: L: dotnet:nuget

#11862 allow updating dependency when another dependency has a wildcard
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11867 skip clone operation if git repo already exists
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#11864 Add Package Details Fetcher for `npm_and_yarn` to support cooldown feature.
  common/lib/dependabot/package/package_details.rb
  common/lib/dependabot/package/package_release.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/npmrc_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_workspace_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/metadata_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/package_details_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/registry_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/dependency_files_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/library_detector.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package/package_details_fetcher_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package/registry_finder_spec.rb
Labels: L: javascript

#11511 Update Sorbet and related dependencies
  Gemfile
  Gemfile.lock
  common/dependabot-common.gemspec
  sorbet/rbi/gems/benchmark@0.4.0.rbi
  sorbet/rbi/gems/rubocop-sorbet@0.8.7.rbi
  sorbet/rbi/gems/spoom@1.5.1.rbi
  sorbet/rbi/gems/tapioca@0.16.11.rbi
  updater/Gemfile.lock
Labels: sorbet 🍦

#11897 Use CDN URL for dotnet-install script
  .devcontainer/post-create.sh
  nuget/Dockerfile
Labels: L: dotnet:nuget

#11873 Strict type `elm`
  elm/.rubocop.yml
  elm/lib/dependabot/elm/file_parser.rb
  elm/lib/dependabot/elm/file_updater.rb
  elm/lib/dependabot/elm/metadata_finder.rb
Labels: L: elm, sorbet 🍦

#11884 Strict type `pub`
  pub/.rubocop.yml
  pub/lib/dependabot/pub/file_parser.rb
  pub/lib/dependabot/pub/file_updater.rb
  pub/lib/dependabot/pub/helpers.rb
  pub/lib/dependabot/pub/update_checker.rb
  pub/lib/dependabot/pub/version.rb
Labels: L: dart:pub, sorbet 🍦

#11906 Add Bundler PackageDetailsFetcher for cooldown
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/spec/dependabot/bundler/package/package_details_fetcher_spec.rb
  bundler/spec/fixtures/releases_api/dependabot_common.json
  bundler/spec/fixtures/releases_api/empty.json
Labels: L: ruby:bundler

#11870 Strict type `Dependabot::Bun::MetadataFinder`
  bun/lib/dependabot/bun/metadata_finder.rb
  bun/spec/dependabot/bun/metadata_finder_spec.rb
Labels: L: javascript, sorbet 🍦

#11901 track and report all update operations performed
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackageReferenceUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateOperationBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.Mixed.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/BindingRedirectManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/LockFileUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationResult.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdaterWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11910 Revert "Update Go Version in Toolchain from 1.20 to 1.24 in Dockerfile"
  go_modules/Dockerfile
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater_spec.rb
Labels: L: go:modules

#11903 Add Sorbet type annotations to UpdateChecker, LatestVersionFinder, and VersionResolver for `npm_and_yarn`
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/registry_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript, sorbet 🍦

#11891 Bump corepack to 0.32.0
  bun/Dockerfile
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11924 Revert Sorbet Typing Changes to Fix TypeError for `nil` in `T.must`
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
Labels: L: javascript

#11900 Introduce PackageLatestVersionFinder for `npm_and_yarn` behind feature flag Part-1
  common/lib/dependabot/package/package_latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/package_details_fetcher.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package/registry_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/package_latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  npm_and_yarn/spec/fixtures/npm_responses/etag_yanked.json
Labels: L: javascript

#11936 Ignore `docker_compose` spec typechecking
  sorbet/config
Labels: sorbet 🍦, L: docker:compose
