Repository dependabot/dependabot-core, pull requests merged in 2025-01, with the labels that each got.

#11190 Add Detected Version to Base Version Manager and Update Ecosystem Package Managers and Languages
  bundler/lib/dependabot/bundler/language.rb
  bundler/lib/dependabot/bundler/package_manager.rb
  cargo/lib/dependabot/cargo/language.rb
  cargo/lib/dependabot/cargo/package_manager.rb
  common/lib/dependabot/ecosystem.rb
  common/lib/dependabot/notices.rb
  common/spec/dependabot/ecosystem_spec.rb
  common/spec/dependabot/file_parsers/base_spec.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/version_manager_spec.rb
  composer/lib/dependabot/composer/language.rb
  composer/lib/dependabot/composer/package_manager.rb
  devcontainers/lib/dependabot/devcontainers/language.rb
  devcontainers/lib/dependabot/devcontainers/package_manager.rb
  elm/lib/dependabot/elm/language.rb
  elm/lib/dependabot/elm/package_manager.rb
  git_submodules/lib/dependabot/git_submodules/package_manager.rb
  go_modules/lib/dependabot/go_modules/language.rb
  go_modules/lib/dependabot/go_modules/package_manager.rb
  gradle/lib/dependabot/gradle/language.rb
  gradle/lib/dependabot/gradle/package_manager.rb
  hex/lib/dependabot/hex/language.rb
  hex/lib/dependabot/hex/package_manager.rb
  maven/lib/dependabot/maven/language.rb
  maven/lib/dependabot/maven/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  nuget/lib/dependabot/nuget/language.rb
  nuget/lib/dependabot/nuget/package_manager.rb
  pub/lib/dependabot/pub/language.rb
  pub/lib/dependabot/pub/package_manager.rb
  python/lib/dependabot/python/language.rb
  python/lib/dependabot/python/package_manager.rb
  silent/lib/dependabot/silent/package_manager.rb
  swift/lib/dependabot/swift/language.rb
  swift/lib/dependabot/swift/package_manager.rb
  terraform/lib/dependabot/terraform/package_manager.rb
  updater/lib/dependabot/api_client.rb
  updater/spec/dependabot/notices_helpers_spec.rb
  updater/spec/support/dummy_pkg_helpers.rb
Labels: L: php:composer, L: ruby:bundler, L: elixir:hex, L: java:gradle, L: go:modules, L: elm, L: git:submodules, L: terraform, L: rust:cargo, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: swift, L: devcontainers

#11043 Add Package Manager for GitHub Actions
  common/lib/dependabot/ecosystem.rb
  github_actions/lib/dependabot/github_actions.rb
  github_actions/lib/dependabot/github_actions/constants.rb
  github_actions/lib/dependabot/github_actions/file_fetcher.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/lib/dependabot/github_actions/file_updater.rb
  github_actions/lib/dependabot/github_actions/metadata_finder.rb
  github_actions/lib/dependabot/github_actions/package_manager.rb
  github_actions/lib/dependabot/github_actions/update_checker.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/dependabot/github_actions/package_manager_spec.rb
  updater/lib/dependabot/api_client.rb
  updater/spec/dependabot/api_client_spec.rb
Labels: L: github:actions

#11214 [BUG FIX] Only use the major.patch version to check deprecation status
  python/lib/dependabot/python/language.rb
  python/spec/dependabot/python/language_spec.rb
Labels: L: python

#11217 Adds metric collection support for Docker
  docker/lib/dependabot/docker/file_parser.rb
  docker/lib/dependabot/docker/package_manager.rb
  docker/spec/dependabot/docker/docker_package_manager_spec.rb
  docker/spec/dependabot/docker/file_parser_spec.rb
Labels: L: docker

#11222 Update Bundler deprecation unsupported check to use detected version
  bundler/lib/dependabot/bundler/file_parser.rb
  bundler/lib/dependabot/bundler/package_manager.rb
  bundler/spec/dependabot/bundler/package_manager_spec.rb
  common/spec/dependabot/ecosystem_spec.rb
  common/spec/dependabot/notices_spec.rb
  common/spec/dependabot/requirement_spec.rb
  common/spec/spec_helper.rb
  updater/spec/dependabot/notices_helpers_spec.rb
Labels: L: ruby:bundler

#11235 Remove composer v1 test fixtures following its deprecation
  composer/spec/fixtures/projects/v1/env_variable/composer.json
  composer/spec/fixtures/projects/v1/env_variable/composer.lock
  composer/spec/fixtures/projects/v1/exact_version/composer.json
  composer/spec/fixtures/projects/v1/exact_version/composer.lock
  composer/spec/fixtures/projects/v1/invalid_v2_name/composer.json
  composer/spec/fixtures/projects/v1/invalid_v2_requirement/composer.json
  composer/spec/fixtures/projects/v1/outdated_flex/composer.json
  composer/spec/fixtures/projects/v1/outdated_flex/composer.lock
  composer/spec/fixtures/projects/v1/patches/composer.json
  composer/spec/fixtures/projects/v1/patches/composer.lock
  composer/spec/fixtures/projects/v1/pear/composer.json
  composer/spec/fixtures/projects/v1/pear/composer.lock
  composer/spec/fixtures/projects/v1/plugin/composer.json
  composer/spec/fixtures/projects/v1/plugin/composer.lock
  composer/spec/fixtures/projects/v1/vcs_source_unreachable/composer.json
  composer/spec/fixtures/projects/v1/vcs_source_unreachable/composer.lock
Labels: L: php:composer, L: dotnet:nuget

#11236 expand pattern to filter out `Microsoft.WebApplication.targets`
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.GlobalJson.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackageReference.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/WebApplicationTargetsConditionPatcher.cs
Labels: L: dotnet:nuget

#11241 Update Python 3.8 Detection Logic to Use Detected Version
  python/lib/dependabot/python/file_parser.rb
  python/lib/dependabot/python/language.rb
  python/lib/dependabot/python/language_version_manager.rb
  python/spec/dependabot/python/language_spec.rb
Labels: L: python

#11177 Remove composer v1 from Dockerfile
  composer/Dockerfile
Labels: L: php:composer

#11238 expand pattern to report missing files
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11244 Handling markers with multiple condition joined with and/or logic.
  python/lib/dependabot/python/file_parser.rb
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/fixtures/requirements/markers_with_combination_of_conditions.txt
Labels: L: python

#11240 Update `npm_and_yarn` deprecation and unsupported checks for `npm`, `pnpm`, and `yarn` package managers
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/language_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/npm_package_manager_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/pnpm_package_manager_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_package_manager_spec.rb
Labels: L: javascript

#11179 capture and report job deserialization errors
  common/lib/dependabot/errors.rb
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Analyze.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli.Test/EntryPointTests.Discover.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/AnalyzeCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/CloneCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/DiscoverCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/UpdateCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Clone/CloneWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTestBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/ExpectedDiscoveryResults.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/RequirementConverter.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/BadRequirementException.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Clone/CloneWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ErrorType.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/ExperimentsManager.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/NuGetUpdater.Core.csproj
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/BadRequirement.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/DependencyFileNotFound.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobErrorBase.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/JobRepoNotFound.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/PrivateSourceAuthenticationFailure.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UnknownError.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/UpdateNotPossible.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/lib/dependabot/nuget/native_helpers.rb
Labels: L: dotnet:nuget

#11099 merge SDK and packages.config references in discovery
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Discover/DiscoveryWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/ProjectHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/ProjectHelper.cs
Labels: L: dotnet:nuget

#11178 Delete stale composer v1 specs
  composer/spec/dependabot/composer/file_parser_spec.rb
  composer/spec/fixtures/projects/v1/minor_version/composer.json
  composer/spec/fixtures/projects/v1/minor_version/composer.lock
Labels: L: php:composer

#11249 change type of property `job.commit-message-options.include-scope` to `bool`
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/SerializationTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/CommitOptions.cs
Labels: L: dotnet:nuget

#11251 expand pattern to report unauthorized feed
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateWorkerTests.PackagesConfig.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#11260 Fixes [1.2k weekly errors] [JS] SubprocessHelperFailure issues
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/invalid_json/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/invalid_json/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/invalid_yaml/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/invalid_yaml/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/unmet_peer_deps/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/unmet_peer_deps/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unmet_peer_deps/pnpm-lock.yaml
Labels: L: javascript

#11256 Handle calling captures method on nil
  python/lib/dependabot/python/file_parser.rb
  python/spec/dependabot/python/file_parser_spec.rb
  python/spec/fixtures/requirements/malformed_markers.txt
Labels: L: python

#11265 Fixes [4k weekly] [pip] unhandled poetry exceptions
  python/lib/dependabot/python/update_checker/poetry_version_resolver.rb
  python/spec/dependabot/python/update_checker/poetry_version_resolver_spec.rb
Labels: L: python

#11274 Fixes [1.2k weekly errors] [JS] exception handler for malformed package manager version
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: javascript

#11267 Add bun package manager
  npm_and_yarn/lib/dependabot/npm_and_yarn/bun_package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/language.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/npm_package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/pnpm_package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/yarn_package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/bun_package_manager_spec.rb
Labels: L: javascript

#11268 Add BunLock FileParser
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/bun_lock.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/lockfile_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/bun/invalid_lockfile/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/invalid_lockfile/package.json
  npm_and_yarn/spec/fixtures/projects/bun/invalid_lockfile_version/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/invalid_lockfile_version/package.json
  npm_and_yarn/spec/fixtures/projects/bun/simple_v0/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/simple_v0/package.json
  npm_and_yarn/spec/fixtures/projects/bun/simple_workspace_v0/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/simple_workspace_v0/package-foo/package.json
  npm_and_yarn/spec/fixtures/projects/bun/simple_workspace_v0/package.json
  npm_and_yarn/spec/fixtures/projects/bun/simple_workspace_v0/packages/bar/package.json
  npm_and_yarn/spec/fixtures/projects/bun/simple_workspace_v0/packages/baz/package.json
Labels: L: javascript

#11289 Revert "Improve error handling for missing dependency versions for github actions"
  common/lib/dependabot/errors.rb
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/fixtures/workflow_files/unresolved_version.yml
Labels: L: github:actions

#11291 Fix PNPM Dependency Parsing Error by Prioritizing Main Dependencies
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/pnpm_lock.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
Labels: L: javascript

#11298 Fixes [1.2k weekly errors] [JS] SharedHelpers::HelperSubprocessFailed errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/unexpected_store/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unexpected_store/pnpm-lock.yaml
Labels: L: javascript

#11307 Remove the check for the NPM 6 `cafile` in `.npmrc`
  npm_and_yarn/spec/npm_and_yarn_config_spec.rb
Labels: L: javascript

#11305 Fixes [weekly 1.5k] [pip] missing key authority error issues
  python/lib/dependabot/python/file_updater/requirement_replacer.rb
  python/spec/dependabot/python/file_updater/requirement_replacer_spec.rb
Labels: L: python

#11300 Add BunLockfileUpdater
  npm_and_yarn/Dockerfile
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/dependency_files_builder.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/subdependency_version_resolver.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/version_resolver.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/bun/empty/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/empty/package.json
  npm_and_yarn/spec/fixtures/projects/bun/invalid_version/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/invalid_version/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_dependency/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_dependency_version/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_dependency_version/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_file_dependency/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_file_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_git_dependency/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_git_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_github_dependency/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_github_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_npm_dependency/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_npm_dependency/package.json
  npm_and_yarn/spec/fixtures/projects/bun/missing_tarball_dependency/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/missing_tarball_dependency/package.json
Labels: L: javascript

#11321 Sorbet: add strict typing for GemfileUpdater and GemspecDependencyNameFinder
  bundler/lib/dependabot/bundler/file_updater/gemfile_updater.rb
  bundler/lib/dependabot/bundler/file_updater/gemspec_dependency_name_finder.rb
Labels: L: ruby:bundler

#11316 Fixes [1.3k weekly errors] [JS] Adds error handlers for PNPM exceptions
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/pnpm_error_handler_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/git_dependency_local_file/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/git_dependency_local_file/pnpm.lock
Labels: L: javascript

#11286 Support for path based tag structure in github_actions module for monorepo structures.
  github_actions/lib/dependabot/github_actions/file_parser.rb
  github_actions/lib/dependabot/github_actions/version.rb
  github_actions/spec/dependabot/github_actions/file_parser_spec.rb
  github_actions/spec/dependabot/github_actions/file_updater_spec.rb
  github_actions/spec/dependabot/github_actions/update_checker_spec.rb
  github_actions/spec/dependabot/github_actions/version_spec.rb
  github_actions/spec/fixtures/git/upload_packs/github-monorepo-path-based
  github_actions/spec/fixtures/workflow_files/workflow_monorepo_path_based_semver.yml
  github_actions/spec/fixtures/workflow_files/workflow_monorepo_path_based_semver_and_direct_ref.yml
  github_actions/spec/fixtures/workflow_files/workflow_monorepo_path_based_without_semver.yml
  github_actions/spec/fixtures/workflow_files/workflow_monorepo_path_based_without_semver_and_direct_ref.yml
Labels: L: github:actions

#10540 Fix TOML parsing in Python ecosystem (fixes #10523)
  python/helpers/lib/parser.py
  python/helpers/requirements.txt
  python/spec/dependabot/python/file_parser/pyproject_files_parser_spec.rb
  python/spec/fixtures/pyproject_files/pyproject_1_0_0.toml
  python/spec/fixtures/pyproject_files/pyproject_1_0_0_nodeps.toml
  python/spec/fixtures/pyproject_files/pyproject_1_0_0_optional_deps.toml
Labels: L: python

#11299 Removing corepack usage from else clause
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#11319 Bump Hex Elixir to 1.15
  hex/Dockerfile
  hex/helpers/lib/check_update.exs
  hex/helpers/lib/do_update.exs
  hex/helpers/lib/parse_deps.exs
  hex/helpers/lib/run.exs
  hex/helpers/mix.exs
  hex/spec/dependabot/hex/file_parser_spec.rb
  hex/spec/fixtures/mixfiles/deps_warning
Labels: L: elixir:hex

#11322 Revert "Removing corepack usage from else clause"
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#11315 do null check before attempting to install sdk
  nuget/updater/common.ps1
Labels: L: dotnet:nuget

#11326 Add Sorbet Type Checking for file: bundler/lib/dependabot/bundler/file_updater/gemspec_updater.rb
  bundler/lib/dependabot/bundler/file_updater/gemspec_updater.rb
Labels: L: ruby:bundler

#11329 Add sorbet type checking for swift/file_parser/manifest_parser.rb
  swift/lib/dependabot/swift/file_parser/manifest_parser.rb
Labels: L: swift

#11325 Fixes [3.2k weekly errors] [pip] exception handlers for Python ecosystem
  python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb
  python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb
Labels: L: python

#11324 Bump Hex Elixir version to 1.16.3
  hex/Dockerfile
  hex/helpers/lib/parse_deps.exs
  hex/spec/dependabot/hex/file_parser_spec.rb
  hex/spec/dependabot/hex/update_checker/file_preparer_spec.rb
  hex/spec/fixtures/mixfiles/git_source_with_charlist
Labels: L: elixir:hex

#11200 Change to use update rather than install when updating pnpm packages
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_with_server_error/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/private_repo_with_server_error/pnpm-lock.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_pnpm/.npmrc
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_pnpm/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/unsupported_engine_pnpm/pnpm-lock.yaml
Labels: L: javascript

#11312 prefer `SafeVersions` property when considering other versions
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Analyze/AnalyzeWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Analyze/VersionFinder.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/Advisory.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11336 Handle `NoChangeError` for Transitive Dependency Updates in `pnpm` Package Manager Behind Feature Flag
  common/lib/dependabot/errors.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker_spec.rb
Labels: L: javascript

#11338 Fix `pnpm` Update Command to Address Dependency Update Issues
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_lockfile_updater.rb
Labels: L: javascript

#11337 Fixes argument error when corepack return verbose information along with version.
  npm_and_yarn/lib/dependabot/npm_and_yarn/version.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/version_spec.rb
Labels: L: javascript

#11339 Bump Hex Elixir to 1.17.3
  hex/Dockerfile
  hex/helpers/lib/run.exs
  hex/spec/dependabot/hex/file_parser_spec.rb
Labels: L: elixir:hex

#11334 Handle `enable_beta_ecosystems` boolean setting
  bin/dry-run.rb
  common/lib/dependabot/file_fetchers/base.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
Labels: L: javascript

#11350 Bump Hex OTP to 26, Elixir to 1.18.1
  hex/Dockerfile
  hex/spec/dependabot/hex/file_parser_spec.rb
Labels: L: elixir:hex

#11351 Revert "Revert "Removing corepack usage from else clause""
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#11331 Adding types to elm_json_updater.rb
  elm/lib/dependabot/elm/file_updater/elm_json_updater.rb
Labels: L: elm

#11353 Enabling alias parsing in pnpm_workspace_yaml
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#11361 Skip catalog protocol when using directory configuration in monorepos
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/yarn/workspace_requirements_catalog/package.json
Labels: L: javascript

#11367 Fix Dependency File Detection for npm, pnpm, yarn, and bun
  common/lib/dependabot/metadata_finders/base/release_finder.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
  go_modules/spec/fixtures/projects/module_major_version_mismatch_v0/go.mod
  go_modules/spec/fixtures/projects/module_major_version_mismatch_v0/go.sum
  go_modules/spec/fixtures/projects/module_major_version_mismatch_v0/main.go
  go_modules/spec/fixtures/projects/module_major_version_mismatch_v1/go.mod
  go_modules/spec/fixtures/projects/module_major_version_mismatch_v1/go.sum
  go_modules/spec/fixtures/projects/module_major_version_mismatch_v1/main.go
  npm_and_yarn/helpers/lib/npm/vulnerability-auditor.js
  npm_and_yarn/helpers/lib/npm6/updater.js
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
Labels: L: go:modules, L: javascript

#11295 Use native JSON in Elixir
  hex/helpers/build
  hex/helpers/lib/do_update.exs
  hex/helpers/lib/run.exs
  hex/helpers/mix.exs
  hex/helpers/mix.lock
  hex/lib/dependabot/hex/file_parser.rb
  hex/lib/dependabot/hex/file_updater/lockfile_updater.rb
  hex/lib/dependabot/hex/update_checker/version_resolver.rb
Labels: L: elixir:hex

#11333 Handle Dependabot::DependabotError in pub/lib/dependabot/pub/helpers.rb
  common/lib/dependabot/errors.rb
  devcontainers/spec/dependabot/devcontainers/file_parser_spec.rb
  pub/lib/dependabot/pub/helpers.rb
  pub/spec/dependabot/pub/update_checker_spec.rb
Labels: L: dart:pub, L: devcontainers

#11371 Update use of the `enable_beta_ecosystems` experiment
  bin/dry-run.rb
  common/lib/dependabot/file_fetchers/base.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#11375 Don't use corepack for bun
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/helpers_spec.rb
Labels: L: javascript

#11374 Adding type check for composer/file_updater.rb
  composer/lib/dependabot/composer/file_updater.rb
Labels: L: php:composer

#11362 Adds error handler for Ruby version not found class error
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
Labels: L: ruby:bundler

#11330 Update Rubygems to 3.6.3 and Bundler to 2.6.3
  Dockerfile.updater-core
  Gemfile
  Gemfile.lock
  bundler/helpers/v2/monkey_patches/git_source_patch.rb
  sorbet/rbi/gems/erubi@1.13.1.rbi
  sorbet/rbi/gems/nokogiri@1.18.1.rbi
  sorbet/rbi/gems/prism@1.3.0.rbi
  sorbet/rbi/gems/rbi@0.2.2.rbi
  sorbet/rbi/gems/tapioca@0.16.6.rbi
  updater/Gemfile.lock
Labels: L: ruby:bundler

#11386 Sorbet type checking for elm requirements updater
  elm/lib/dependabot/elm/update_checker/requirements_updater.rb
Labels: L: elm

#11379 Added sorbettype check as strict
  python/lib/dependabot/python/file_parser/pipfile_files_parser.rb
Labels: L: python

#11389 Fix sorbet type in dependabot/python/file_parser.rb
  python/lib/dependabot/python/file_parser.rb
Labels: L: python

#11391 Update `PackageManagerDetector` for bun
  npm_and_yarn/lib/dependabot/npm_and_yarn/bun_package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/bun_package_manager_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_detector_spec.rb
Labels: L: javascript

#11381 consolidate exception error creation
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Utilities/MSBuildHelperTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/SdkProjectDiscovery.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackagesConfigUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#10629 Reimplement support retrieving workspace of path dependencies in cargo
  cargo/lib/dependabot/cargo/file_fetcher.rb
  cargo/lib/dependabot/cargo/helpers.rb
  cargo/lib/dependabot/cargo/update_checker/latest_version_finder.rb
  cargo/spec/dependabot/cargo/file_fetcher_spec.rb
  cargo/spec/fixtures/github/path_dependency_in_workspace_root/contents_cargo_manifest_child.json
  cargo/spec/fixtures/github/path_dependency_in_workspace_root/contents_cargo_manifest_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_fail_1.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_fail_2.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_crate_success.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_detached_workspace_member.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_incorrect_detached_workspace_member.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_incorrect_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_workspace.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_cargo_manifest_workspace_nested_one_nested_two.json
  cargo/spec/fixtures/github/path_dependency_workspace_member/contents_dir_detached_crate_success.json
Labels: L: rust:cargo

#11396 Fixes [part of][weekly 8.3k] [bundler] "Expected type Gem::Version" in bundler
  bundler/lib/dependabot/bundler/update_checker/force_updater.rb
  bundler/spec/dependabot/bundler/update_checker/force_updater_spec.rb
  bundler/spec/fixtures/projects/bundler2/invalid_gem_information_in_gemfile/Gemfile
  bundler/spec/fixtures/projects/bundler2/invalid_gem_information_in_gemfile/Gemfile.lock
Labels: L: ruby:bundler

#11403 Fixes part of [4.8k weekly] [go_modules] go_modules exceptions
  go_modules/lib/dependabot/go_modules/file_updater/go_mod_updater.rb
  go_modules/spec/dependabot/go_modules/file_updater/go_mod_updater_spec.rb
Labels: L: go:modules

#11255 run full updater on all dependencies, including transitives
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Discover/DiscoveryWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11406 Hex: Encode exceptions
  hex/helpers/lib/parse_deps.exs
  hex/spec/dependabot/hex/file_parser_spec.rb
Labels: L: elixir:hex

#11401 Add sorbet type checking to bundler/file_updater/gemspec_sanitizer.rb
  bundler/lib/dependabot/bundler/file_parser/file_preparer.rb
  bundler/lib/dependabot/bundler/file_updater/gemspec_sanitizer.rb
Labels: L: ruby:bundler

#11416 Fix sorbet tying error in bundler/file_updater/gemspec_sanitizer.rb
  bundler/lib/dependabot/bundler/file_updater/gemspec_sanitizer.rb
Labels: L: ruby:bundler

#11417 Allow lockfileVersion not equal to zero
  npm_and_yarn/Dockerfile
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/bun_lock.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser/lockfile_parser_spec.rb
  npm_and_yarn/spec/fixtures/projects/bun/simple_v1/bun.lock
  npm_and_yarn/spec/fixtures/projects/bun/simple_v1/package.json
Labels: L: javascript

#11392 Fix npm_and_yarn engine detection
  npm_and_yarn/lib/dependabot/npm_and_yarn/constraint_helper.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/version_selector.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/constraint_helper_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/package_manager_helper_spec.rb
Labels: L: ruby:bundler, L: elixir:hex, L: go:modules, L: dotnet:nuget, L: javascript

#11290 Bump pnpm to 9.15.4
  npm_and_yarn/Dockerfile
Labels: L: javascript

#11424 Fixes [weekly 1.2k] [npm_and_yarn] YN00xx errors
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/yarn_error_handler_spec.rb
Labels: L: javascript

#11423 Fixes [weekly 2k] [experiment] [npm_and_yarn] expected content to change errors
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/package_json_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/bun_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/npm_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/package_json_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/yarn_lockfile_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/npm8/simple_with_multiple_deps/package-lock.json
  npm_and_yarn/spec/fixtures/projects/npm8/simple_with_multiple_deps/package.json
Labels: L: javascript

#10328 terraform: skip support files during parsing
  terraform/lib/dependabot/terraform/file_parser.rb
  terraform/spec/dependabot/terraform/file_parser_spec.rb
Labels: L: terraform

#11431 Fixes [weekly 5k] [maven] Excon error ending up as unknown errors
  maven/lib/dependabot/maven/update_checker/version_finder.rb
  maven/spec/dependabot/maven/update_checker/version_finder_spec.rb
Labels: L: java:maven

#11418 Adding PNPM catalog protocol support
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_updater/pnpm_workspace_updater.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_parser_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater/pnpm_workspace_updater_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_multiple/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_multiple/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalog_prettier/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_all_examples/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_all_examples/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_multiple_reacts/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_multiple_reacts/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_react/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_valid_yaml/package.json
  npm_and_yarn/spec/fixtures/projects/pnpm/catalogs_valid_yaml/pnpm-workspace.yaml
  npm_and_yarn/spec/fixtures/projects/pnpm/workspace_requirements_catalog/package.json
  npm_and_yarn/spec/spec_helper.rb
Labels: L: javascript:pnpm, L: javascript

#10359 feat: add option to overwrite Docker read and open timeout values
  docker/lib/dependabot/docker/update_checker.rb
  docker/spec/dependabot/docker/update_checker_spec.rb
Labels: L: docker

#11428 both job and dependency are considered for update eligibility
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateAllowedTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
Labels: L: dotnet:nuget

#11432 Fixed sorbet types as strict for Python Module
  python/lib/dependabot/python/file_updater/pipfile_preparer.rb
Labels: L: python

#11430 Fix Unsupported Error When Npm Version Not Detected
  npm_and_yarn/lib/dependabot/npm_and_yarn/constraint_helper.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/npm_package_manager.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/package_manager.rb
Labels: L: javascript

#11429 [Sorbet] - Add Typings for `updater/lib/dependabot/updater/error_handler.rb`
  updater/lib/dependabot/updater/error_handler.rb
  updater/lib/dependabot/updater/errors.rb
Labels: sorbet 🍦

#11438 Raise DependencyFileUnsupported error when API returns matching 400 error
  common/lib/dependabot/errors.rb
  devcontainers/spec/dependabot/devcontainers/file_parser_spec.rb
  updater/lib/dependabot/api_client.rb
  updater/spec/dependabot/api_client_spec.rb
Labels: L: devcontainers

#11437 Adds error handler for YN0001 class errors
  npm_and_yarn/lib/dependabot/npm_and_yarn.rb
Labels: L: javascript

#11448 Fix erroring sorbet types in gemspec_dependency_name_finder.rb
  bundler/lib/dependabot/bundler/file_updater/gemspec_dependency_name_finder.rb
Labels: L: ruby:bundler

#11447 Add sorbet types to elm_19_version_resolver.rb
  elm/lib/dependabot/elm/update_checker/elm_19_version_resolver.rb
Labels: L: elm
