Repository dependabot/dependabot-core, pull requests merged in 2025-06, with the labels that each got.

#12368 Truncate URl to fix cooldown issue under swift.
  swift/lib/dependabot/swift/package/package_details_fetcher.rb
  swift/spec/dependabot/swift/package/package_details_fetcher_spec.rb
Labels: L: swift

#12373 `pnpm-workspace.yaml` should not be considered a support file
  npm_and_yarn/lib/dependabot/npm_and_yarn/file_fetcher.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/file_fetcher_spec.rb
Labels: L: javascript

#12366 Bump corepack to 0.33.0
  bun/Dockerfile
  npm_and_yarn/Dockerfile
Labels: L: javascript

#12376 Adds package fetcher for git submodule
  common/lib/dependabot/package/package_release.rb
  git_submodules/lib/dependabot/git_submodules/package/package_details_fetcher.rb
  git_submodules/lib/dependabot/git_submodules/update_checker.rb
  git_submodules/lib/dependabot/git_submodules/update_checker/latest_version_finder.rb
  git_submodules/spec/dependabot/git_submodules/package/package_details_fetcher_spec.rb
  git_submodules/spec/dependabot/git_submodules/update_checker/latest_version_finder_spec.rb
Labels: L: git:submodules

#12378 handle `JSON::ParserError` when `global.json` invalid
  dotnet_sdk/lib/dependabot/dotnet_sdk/file_parser.rb
Labels: L: dotnet-sdk

#12382 Fixed issue related to pulling latest version in Swift.
  swift/lib/dependabot/swift/update_checker/latest_version_resolver.rb
  swift/spec/dependabot/swift/update_checker/latest_version_resolver_spec.rb
Labels: L: swift

#11681 Upgrade Ruby to 3.4.4
  .devcontainer/devcontainer.json
  .ruby-version
  Dockerfile.updater-core
  Gemfile.lock
  bundler/helpers/v2/monkey_patches/definition_ruby_version_patch.rb
  bundler/lib/dependabot/bundler/file_updater/ruby_requirement_setter.rb
  bundler/spec/dependabot/bundler/file_updater/ruby_requirement_setter_spec.rb
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_4/Gemfile
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_4/Gemfile.lock
  bundler/spec/fixtures/projects/bundler2/gemfile_require_ruby_3_4/example.gemspec
  maven/spec/dependabot/maven/update_checker/version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/latest_version_finder_spec.rb
  npm_and_yarn/spec/dependabot/npm_and_yarn/update_checker/version_resolver_spec.rb
  pub/spec/dependabot/pub/file_updater_spec.rb
  sorbet/rbi/gems/logger@1.6.6.rbi
  sorbet/rbi/gems/parser@3.3.7.1.rbi
  sorbet/rbi/gems/rexml@3.4.1.rbi
  sorbet/rbi/gems/strscan@3.1.0.rbi
  updater/Gemfile.lock
Labels: L: php:composer, L: ruby:bundler, L: dotnet:nuget, L: java:maven, L: dart:pub, L: javascript, L: python, L: python:uv

#12381 don't assume a previous dependency could be found
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/UpdateOperationBaseTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/UpdateOperationBase.cs
Labels: L: dotnet:nuget

#12394 always report the same dependency set when closing or updating
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/RefreshVersionUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ApiModel/ClosePullRequest.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshGroupUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshVersionUpdatePullRequestHandler.cs
Labels: L: dotnet:nuget

#12300 build(deps): bump terraform from 1.12.0 to 1.12.1
  terraform/Dockerfile
Labels: L: terraform

#12389 Adds cooldown options to git submodules
  common/lib/dependabot/git_commit_checker.rb
  common/lib/dependabot/git_metadata_fetcher.rb
  common/lib/dependabot/git_tag_with_detail.rb
  git_submodules/lib/dependabot/git_submodules/package/package_details_fetcher.rb
  git_submodules/lib/dependabot/git_submodules/update_checker.rb
  git_submodules/lib/dependabot/git_submodules/update_checker/latest_version_finder.rb
  git_submodules/spec/dependabot/git_submodules/update_checker/latest_version_finder_spec.rb
  git_submodules/spec/fixtures/vcr_cassettes/Dependabot_GitSubmodules_UpdateChecker_LatestVersionFinder/_latest_version_with_cooldown/when_cooldown_is_enabled_for_60_days/1_2_2_1.yml
  git_submodules/spec/fixtures/vcr_cassettes/Dependabot_GitSubmodules_UpdateChecker_LatestVersionFinder/_latest_version_with_cooldown/when_cooldown_is_enabled_for_90_days/1_2_1_1.yml
  swift/lib/dependabot/swift/update_checker/latest_version_resolver.rb
Labels: L: git:submodules, L: swift

#12346 Fix Unsupported version error for latest Python.
  python/Dockerfile
  python/lib/dependabot/python/language.rb
Labels: L: python

#12404 don't create duplicate PRs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/GroupUpdateAllVersionsHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/GroupUpdateAllVersionsHandler.cs
Labels: L: dotnet:nuget

#12418 maintain byte order mark during project file patching
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/SpecialFilePatcherTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/SpecialImportsConditionPatcher.cs
Labels: L: dotnet:nuget

#12424 don't repeat the same version number in pr title
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/PullRequestTextTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/PullRequestTextGenerator.cs
Labels: L: dotnet:nuget

#12427 Fix issue with package details fetching while package with optional dependencies
  python/lib/dependabot/python/package/package_details_fetcher.rb
  python/spec/dependabot/python/package/package_details_fetcher_spec.rb
Labels: L: python

#12431 Fix pip latest version detection when final releases follow prereleases
  python/lib/dependabot/python/package/package_details_fetcher.rb
  uv/lib/dependabot/uv/package/package_details_fetcher.rb
Labels: L: python, L: python:uv

#12440 Add support for `security-advisories` to `dotnet-sdk`
  dotnet_sdk/lib/dependabot/dotnet_sdk/package/package_details_fetcher.rb
  dotnet_sdk/lib/dependabot/dotnet_sdk/update_checker.rb
  dotnet_sdk/lib/dependabot/dotnet_sdk/update_checker/latest_version_finder.rb
  dotnet_sdk/spec/dependabot/dotnet_sdk/package/package_details_fetcher_spec.rb
  dotnet_sdk/spec/dependabot/dotnet_sdk/update_checker/latest_version_finder_spec.rb
Labels: L: dotnet-sdk

#12438 Update cooldown implementation to support private registry
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
Labels: L: ruby:bundler

#12449 add portable profiles to framework compatibility checks
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/FrameworkChecker/FrameworkCompatibilityServiceFacts.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/FrameworkChecker/FrameworkCompatibilityService.cs
Labels: L: dotnet:nuget

#12444 report no change if parent package didn't update
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Update/PackageReferenceUpdaterTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Updater/PackageReferenceUpdater.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Utilities/MSBuildHelper.cs
Labels: L: dotnet:nuget

#12461 Revert "Update cooldown implementation to support private registry"
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
Labels: L: ruby:bundler

#12465 Enable bundler cool down functionality for private registries
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
  bundler/spec/dependabot/bundler/update_checker/latest_version_finder_spec.rb
Labels: L: ruby:bundler

#12466 Fixing a sentry error, improving error handling.
  bundler/lib/dependabot/bundler/package/package_details_fetcher.rb
Labels: L: ruby:bundler

#12432 Support for Maven transitive dependencies updates
  maven/Dockerfile
  maven/lib/dependabot/maven/file_parser.rb
  maven/lib/dependabot/maven/file_parser/maven_dependency_parser.rb
  maven/lib/dependabot/maven/file_updater.rb
  maven/lib/dependabot/maven/file_updater/declaration_finder.rb
  maven/lib/dependabot/maven/native_helpers.rb
  maven/lib/dependabot/maven/package/package_details_fetcher.rb
  maven/settings.xml
  maven/spec/dependabot/maven/file_parser/maven_dependency_parser_spec.rb
  maven/spec/dependabot/maven/file_parser_spec.rb
  maven/spec/dependabot/maven/file_updater_spec.rb
  maven/spec/dependabot/maven/native_helpers_spec.rb
  maven/spec/fixtures/poms/transitive_dependency_pom_version_defined.xml
  maven/spec/fixtures/poms/transitive_dependency_pom_version_not_defined.xml
Labels: L: java:maven

#12478 Implements cooldown for Devcontainers ecosystem
  devcontainers/lib/dependabot/devcontainers/package/package_details_fetcher.rb
  devcontainers/lib/dependabot/devcontainers/update_checker/latest_version_finder.rb
  devcontainers/spec/dependabot/devcontainers/update_checker_spec.rb
  devcontainers/spec/fixtures/projects/cooldown/package_metadata.json
  devcontainers/spec/fixtures/projects/cooldown/token.json
Labels: L: devcontainers

#12484 Terraform cooldown feature fix
  terraform/lib/dependabot/terraform/package/package_details_fetcher.rb
  terraform/spec/dependabot/terraform/package/package_details_fetcher_spec.rb
Labels: L: terraform

#12405 fix: Replace Parser with Prism where possible
  .gitignore
  bundler/lib/dependabot/bundler/file_fetcher/child_gemfile_finder.rb
  bundler/lib/dependabot/bundler/file_fetcher/gemspec_finder.rb
  bundler/lib/dependabot/bundler/file_fetcher/included_path_finder.rb
  bundler/lib/dependabot/bundler/file_fetcher/path_gemspec_finder.rb
  bundler/lib/dependabot/bundler/file_parser/gemfile_declaration_finder.rb
  bundler/lib/dependabot/bundler/file_parser/gemspec_declaration_finder.rb
  bundler/lib/dependabot/bundler/file_updater/gemspec_dependency_name_finder.rb
Labels: L: ruby:bundler

#12477 Creating new ecosystem documentation
  NEW_ECOSYSTEMS.md
Labels: T: new-ecosystem

#12513 Fix: Terminate NPM processes early on peer dependency conflicts using OutputObserver
  common/lib/dependabot/command_helpers.rb
  common/lib/dependabot/shared_helpers.rb
  common/spec/dependabot/command_helpers_spec.rb
  npm_and_yarn/lib/dependabot/npm_and_yarn/helpers.rb
Labels: L: javascript

#12503 Fix uv python versions to match python ecosystem
  python/lib/dependabot/python/language.rb
  uv/Dockerfile
  uv/lib/dependabot/uv/language.rb
Labels: L: python, L: python:uv

#12521 enable case-insensitive file operations
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Cli/Commands/RunCommand.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/MiscellaneousTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/RunWorkerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdatedDependencyListTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/TemporaryDirectory.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/ModifiedFilesTracker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/RunWorker.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/CreateSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/GroupUpdateAllVersionsHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/IUpdateHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshGroupUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandler.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshVersionUpdatePullRequestHandler.cs
  nuget/updater/main.ps1
Labels: L: dotnet:nuget

#12536 only close with `up_to_date` if there are no operations to perform
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core.Test/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandlerTests.cs
  nuget/helpers/lib/NuGetUpdater/NuGetUpdater.Core/Run/UpdateHandlers/RefreshSecurityUpdatePullRequestHandler.cs
Labels: L: dotnet:nuget
